[2015-11-03 21:30] brianhatchl opened #4 "Add geojson of conflation review features to map-in-map"
When the map-in-map is displayed during conflation review, show dots representing review features.

[2015-11-03 22:00] sisskind opened #5 "Add crop functionality to UI"
Ability to crop dataset(s) to area (visible extent, bounding box, or free-form area).

[2015-11-04 03:25] jchoi1267 commented on #4
Committed service rest end point

[2015-11-04 13:36] jchoi1267 commented on #4
Looks like need additional fix to match geojson

[2015-11-04 13:57] jchoi1267 commented on #4
Now generating following
{
    "type": "FeatureCollection",
    "info":
    [
        {
            "type": "Feature",
            "properties":
            {
                "class": "open"
            },
            "geometry":
            {
                "type": "Point",
                "coordinates":
                [
                    -104.907037158172,
                    38.857156642866

[2015-11-04 15:28] jchoi1267 commented on #4
fixed geojson and added locked class

[2015-11-04 17:18] jchoi1267 commented on #4
Added bounding box
http://localhost:8080/hoot-services/job/review/getallreviewableitems?mapId=3&minx=-104.919&maxx=-104.7196&miny=38.859&maxy=38.8746

[2015-11-04 19:14] sisskind opened #6 "Ability to view dataset coverage"
@mjeffe98 Add ability to view and export footprints of all datasets in database (input and conflated).  Location TBD. Use conflated vs. input data for symbology.

[2015-11-04 19:15] sisskind opened #7 "Reconfigure manage tab"
Change from having two rows (one of tabs and one of content) to two columns, similar to Google Settings page.

[2015-11-05 19:46] sisskind opened #8 "Make Append to ESRI FGDB Template option disabled by default"
When the "append to template..." option is checked in export FGDB, I've noticed that exports can sometimes file due to missing dependencies.  We should either add a check for the dependency or just have it unchecked by default so that when users select FGDB it doesn't throw an exception like the one below.

2015-11-05 19:25:14 ERROR JobResource:494 - Failed to execute.Error running osm2ogr.....

[2015-11-09 16:01] brianhatchl opened #9 "Map-in-map doesn't always redraw after main map pans/zooms"
This seems like it's due to the map drawn event not firing due to a changes we may have made to https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/renderer/map.js.

https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/ui/map_in_map.js#L260

[2015-11-09 21:19] bwitham opened #10 "Deleting a POI during review results in an inability to resolve the review (5496 branch)"
This problem doesn't exist in the old review design (develop branch) due to some creative changeset handling in ReviewItemsSynchronizer, which catches every delete and updates any associated reviews automatically.  In 5496 we are getting away from the paradigm of doing behind the scenes updates on the server and create all changes with changesets on the client.  The actual correct way to handle th

[2015-11-09 22:12] bwitham opened #11 "Brazil POI data merging changeset save issue - 5496 branch"
Merge the first ~7 reviews after conflating Brazil.  Shown an error message about feature needed for review has been deleted and that you'll be taken to a different review. Also, the zoom levels become NaN's and no map is displayed.

1.  I don't believe this error message should occur, b/c if a feature was deleted, then all of its reviews should have been already resolved.

2. I was getting this e

[2015-11-09 22:20] bwitham opened #12 ""Cannot ready property 'id' of undefined" message shown while review Brazil data - 5496 branch"
Having trouble consistently repeating this...occurring occasionally.  After it happens, the zoom levels go to NaN's

[2015-11-10 03:31] jchoi1267 commented on #12
This may be fixed by the zoom level bug fix which I will commit tomorrow...

[2015-11-10 14:30] brianhatchl commented on #9
I realized now that his occurs when there is no dataset loaded in the map.  The mapinmap works as expected when a dataset is present

[2015-11-10 14:34] brianhatchl commented on #4
@sisskind Can you review and merge this?
https://github.com/ngageoint/hootenanny-ui/compare/develop...mapinmap

[2015-11-10 14:37] sisskind commented on #4
@brianhatchl will do

[2015-11-10 14:43] brianhatchl commented on #4
Sorry, had one more local change I just pushed.

[2015-11-10 15:08] jchoi1267 opened #13 "Disable Review Merge Button whe there nothing to merge"
Disable Review Merge Button whe there nothing to merge

[2015-11-10 15:10] sisskind commented on #4
@brianhatchl is it mapinmap branch for hoot-ui and hoot?

[2015-11-10 15:18] brianhatchl commented on #4
I asked @bwitham to review and merge the hoot mapinmap branch containing services code.  You can just review and merge the hoot-ui portion.

[2015-11-10 15:20] sisskind commented on #4
@brianhatchl sounds good

[2015-11-10 15:26] sisskind commented on #4
Merged.  @mjeffe98 -- ready for testing.

[2015-11-10 17:36] bwitham commented on #10
This should end up being a dupe of ngageoint/hootenanny#48

[2015-11-10 22:49] jchoi1267 commented on #11
This was caused by trying to zoom to empty relation

[2015-11-10 22:49] jchoi1267 commented on #11
Committed

[2015-11-10 22:49] #11 closed

[2015-11-10 22:52] jchoi1267 commented on #12
This was caused by triangle relation where following was happening (R = relation n=node)
R1 = merged_n1
R2 = merged_n2
R3 = (n1,n2)

When we merge R3
R1=nothing
R2=nothing
R3= merged_n3

Fixed by making empty relation auto resolved

[2015-11-10 22:52] #12 closed

[2015-11-10 22:53] jchoi1267 commented on #13
Now hiding button when user presses autoMerge

[2015-11-10 22:53] #13 closed

[2015-11-10 22:53] #10 closed

[2015-11-10 23:30] mjeffe98 commented on #4
I see the poi dots in the overview map.  Looks like the red dot is fairly obvious but the blue features don't necessarily show up.  Also there are green dots that I assume refer to the mreged features?  I'll close once you confirm that this is by design.

[2015-11-11 00:58] mjeffe98 commented on #4
Closing after completing testing.

[2015-11-11 00:58] #4 closed

[2015-11-11 14:27] bwitham opened #15 "UI should resolve a review with a changeset when any feature involved in the review is deleted - 5496 branch"

[2015-11-11 15:04] bwitham opened #16 "UI shouldn't allow clicking of prev/next during review session with local changes involving review feature - 5496 branch"
Only options for users are to undo the changes or resolve them

[2015-11-11 15:09] bwitham opened #17 "Fix failing cucumber tests"
ported from redmine 7101

failing tests:

* Then I should see "Layers"

[2015-11-11 15:10] bwitham opened #18 "Add conflation cucumber tests to also test retrieving, merging poi's, and resolving reviews"
pending review refactor changes

ported from redmine 7136

[2015-11-11 15:11] bwitham opened #19 "Average conflation reporting 0 conflatables in DcGIS/Tiger report"
ported from redmine 6144

Ran average conflate b/w DcGis and Tiger. The report indicates Input 1/2 Conflatables as 0 when it should be 374/227 respectively (that's what the reference conflation job report shows).  I've attached the two reports as a reference.  Ran them identically except for the conflation type.

@hoot --conflate -C RemoveReview2Pre.conf -D osm2ogr.ops=hoot::DecomposeBuildingRelat

[2015-11-11 15:13] bwitham opened #20 "Make it clear when a review is an internal error"
ported from redmine 6804

Change the review text so that it is clear that this is an internal error. E.g.

 Internal Error: Multiple overlapping way matches were found within one set of ways. Please report this to hootenanny.help@digitalglobe.com.

This applies in:

* MaximalSublineStringMatcher.cpp(121)
* MaximalSublineStringMatcher.cpp(335) - A non-multilinestring should never make it into this

[2015-11-11 15:14] bwitham opened #21 "DuplicateWayRemover removes ways even if the tags don't match"
ported from redmine 2335

There is no logic in DuplicateWayRemover to check for matching tags. For instance the DC data has a bunch of duplicate records where the only difference is the road name. The DuplicateWayRemover should be able to do two things:

* If the only difference is in naming, merge the names.
* If the difference is more substantial then don't perform the merge. Although this shoul

[2015-11-11 15:25] bwitham commented on #19
put ticket in wrong repo

[2015-11-11 15:25] #19 closed

[2015-11-11 15:26] bwitham commented on #20
put issue in wrong repo

[2015-11-11 15:26] #20 closed

[2015-11-11 15:27] bwitham commented on #21
put issue in wrong repo

[2015-11-11 15:27] #21 closed

[2015-11-11 16:30] brianhatchl commented on #4
The key for review features in map-in-map is:
Yellow = Open
Green = Resolved
Red = Locked

[2015-11-11 16:35] bwitham commented on #17
I get the following error running the cucumber tests:

uninitialized constant Cucumber::Formatter::Console::LegacyApi (NameError)

so need to resolve before trying to fix them

[2015-11-11 17:15] bwitham commented on #17
I may be able to ignore this error for now, as it only seems to appear when a test fails.  Its telling me which tests is failing, so that's all I really need to fix.

[2015-11-12 16:29] sisskind commented on #8
Commit: https://github.com/ngageoint/hootenanny-ui/commit/ce0efeaa6e4c31e0b43e28579f26af591bdb520a

[2015-11-12 18:13] jchoi1267 opened #22 "When Zoomed out resolve failed"
This was caused by refs returning only unresolved and when merging and resolving, we were not removing old members so it contiuned to interact during osm save.

[2015-11-12 18:16] jchoi1267 commented on #22
Fixed by removing members

[2015-11-12 18:16] #22 closed

[2015-11-12 18:17] jchoi1267 commented on #16
Committed to 5496

[2015-11-12 18:18] jchoi1267 commented on #15
committed 5496

[2015-11-12 18:21] jchoi1267 opened #23 "Handle large one to many during relation review"
When there are large numbers of one to many (ie 686 during Brazil review) browser memory stack blows while trying to update history. To fix the problem, do not update relation during automerge but create manual changeset before resolving.

[2015-11-12 18:59] bwitham commented on #17
Updated test to work with the SVG generated datasets.  Test now failing right after the conflation jobs starts.

[2015-11-12 22:44] bwitham commented on #17
cucumber test running locally with some caveats...will see what happens on the build machine

[2015-11-12 22:59] bwitham opened #24 "Fix failing node tests"
node tests

IngestTest.js

* etl load should return a sensible error
* etl load should load a couple of ... shapefiles
* etl load should load a couple of ... shapefiles in a zip

[2015-11-12 23:00] bwitham commented on #24
@jchoi1267 There are three failing ingest node.js tests in the nightlies.  I figured you could fix them quicker than I could, but let me know if you need help.  I think I almost have the cucumber test fixed.  Thanks.

[2015-11-12 23:26] mjeffe98 commented on #8
@sisskind is this merged and sync'd?  I was seeing it enabled by default in the latest.  will check again tomorrow.

[2015-11-13 16:27] bwitham commented on #17
test is passing on selma

[2015-11-13 16:27] #17 closed

[2015-11-13 16:39] bwitham opened #25 "Write dataset ingest cucumber test"
The existing one was in nodejs with non-public data, so write a cucumber one so we don't go backward in test coverage after ngageoint/hootenanny#385.

* create test-files/ui/fgdb-ingest.feature
* create test-files/ui/osm-ingest.feature
* create test-files/ui/shapefile-ingest.feature

[2015-11-13 18:06] jchoi1267 commented on #23
Added code change to handle update references in resolve

[2015-11-13 18:27] mjeffe98 opened #26 "measuring distance icon and shortcut"
@sisskind would it be possible to change the hand icon when measuring distance to something like a ruler or an icon to distinguish itself from the standard pan/drag?  It would be nice to know that users are in measure as opposed to active map mode where they can resume panning.  Also it might not be a bad idea to include a shortcut key so you don't have to click on the button to instantiate the to

[2015-11-13 18:55] jchoi1267 commented on #24
Looks like we are missing UTP.js . Tracking down

[2015-11-13 18:56] jchoi1267 commented on #24
UTP.js is fouo and need to modify the test script

[2015-11-13 20:18] jchoi1267 commented on #24
Committed the fix

[2015-11-13 20:31] bwitham commented on #18
added three new tests:  resolve reviews manually, resolve all reviews, merge poi's during review

[2015-11-13 21:15] bwitham opened #27 "node doesn't exist error during review - 5496 Brazil"
* conflate Brazil poi's
* merge first 8 reviews
* resolve 9th

Error shown:

"Element with ID: -15 and type: Node does not exist for relation. (The feature may have been deleted by other user and may require reloading of the layer. Will jump to next valid review item)
 Server returned status code 412"

I believe the correct behavior should be that the review relation containing that node should ha

[2015-11-13 21:22] bwitham commented on #27
rejecting this and logging in #15 instead

[2015-11-13 21:22] #27 closed

[2015-11-13 21:23] bwitham commented on #15
error seen:

* conflate Brazil poi's
* merge first 8 reviews
* resolve 9th

Error shown:

"Element with ID: -15 and type: Node does not exist for relation. (The feature may have been deleted by other user and may require reloading of the layer. Will jump to next valid review item)
 Server returned status code 412"

I believe the correct behavior should be that the review relation containing that n

[2015-11-13 21:24] bwitham commented on #23
This looks like its working.  I'm going to spot check some of the really large changesets that happen as a result of this in the Brazil data.  The large changeset saves are a little slow, so I'll also profile that part of the code and see if anything can be sped up.

[2015-11-13 21:25] bwitham commented on #24
sent you an email...there's one test still commented out that needs to be fixed, if possible

[2015-11-13 21:46] bwitham commented on #16
This looks good.

[2015-11-13 21:46] #16 closed

[2015-11-13 21:51] bwitham commented on #15
Quicker test to reproduce:

* conflate AllDataTypes
* merge and resolve first review
* resolve second review

[2015-11-16 13:44] sisskind commented on #8
@mjeffe98 did this morning.

[2015-11-16 13:45] sisskind commented on #26
@mjeffe98 can do both.  will rename to reflect icon/shortcut.

[2015-11-16 14:43] bwitham commented on #24
* some tests failing on selma
* the disabled test should test the case where empty input is sent to the ingest upload and verify an error response is returned

[2015-11-16 15:58] jchoi1267 commented on #15
K,

This was caused by not clearing merged POI information set previously and it was kept being added in next review resolve..

[2015-11-16 18:03] bwitham opened #28 "Replace 2 deletes/1 create with 1 delete/1 modify in the UI poi merge code"
Would help reduce the large changeset size for large numbers of interconnected reviews.

[2015-11-16 18:09] brianhatchl commented on #28
This is a good idea and probably how the merge should behave anyway.

[2015-11-16 22:46] sisskind commented on #5
@jchoi1267 Can you review clip branch in hoot-ui (https://github.com/ngageoint/hootenanny-ui/compare/develop...clip) and hoot (https://github.com/ngageoint/hootenanny/compare/develop...clip)?

[2015-11-17 16:25] jchoi1267 opened #29 "Relation in relation failing - 5496 branch"
When doing DcGisRoads vs Tiger conflation, we get review items which contains relation in relation which causes failure during resolve.

[2015-11-17 17:29] jchoi1267 opened #30 "Delete during review at zoomed out causes failure when saved - 5496 branch"
1 .go into review
2. Step to review item where review member has one to many relation
3. zoom out so we have only conflicts loaded
4. Delete the member
5. Press resolve

There should be error saving

[2015-11-17 19:33] sisskind opened #31 "Hide color palette"
Hide color palette to avoid confusion over which dataset is which (user story).

Click icon next to dataset to show/hide palette.

[2015-11-17 19:58] sisskind commented on #31
![color-palette](https://cloud.githubusercontent.com/assets/6191659/11223017/a8d70264-8d3b-11e5-939a-d0c2521eb348.gif)

[2015-11-17 19:59] sisskind commented on #31
@mjeffe98 can you test?

[2015-11-17 20:10] mjeffe98 commented on #31
is this merged with develop?

[2015-11-17 20:12] sisskind commented on #31
@mjeffe98 just merged/synced

[2015-11-17 20:21] #8 closed

[2015-11-18 03:38] #31 closed

[2015-11-18 03:38] mjeffe98 commented on #31
looks good.

[2015-11-18 15:35] bwitham commented on #18
Tests are failing on selma, b/c some of the buttons to be clicked are off the screen.  I had tested one of the tests before and it was passing...so confused.  I figured since it was headless there, that wouldn't matter.  Possible solutions are to autoscroll or change a setting in capybara to allow clicking on elements that aren't visible.  I've tried both of these before with no success, but will

[2015-11-18 18:32] sisskind commented on #9
![issue9](https://cloud.githubusercontent.com/assets/6191659/11250091/c57905d0-8df8-11e5-8faf-41d8da5c63e9.gif)

[2015-11-18 18:34] sisskind commented on #9
@brianhatchl can you review and merge if kosher?

Commit: https://github.com/ngageoint/hootenanny-ui/commit/1a69bfe858b3dc3680c8835ac5b4bbeff0eba22c

Compare: https://github.com/ngageoint/hootenanny-ui/compare/develop...issue-9

[2015-11-18 18:39] brianhatchl commented on #9
yup

[2015-11-18 20:03] brianhatchl commented on #9
It works, but what to you think about the alternate implementation using map 'move' event handler?
https://github.com/ngageoint/hootenanny-ui/compare/develop...issue-9

Also, it seems like when there is data in the map, redraw will get called twice, once on 'move' event and again on 'drawn' event.

[2015-11-18 20:06] sisskind commented on #9
Will double check when data is loaded -- was looking at when data wasn't in map based on previous comment.

Much prefer your implementation used above.

[2015-11-18 20:40] jchoi1267 commented on #30
Made changes to

1. refs return all references including self. It had to be done since in one to many situation refs filtering on requested id also filtered other relation using the requested element, resulting failure to update correctly when deleted.

2. UI loads dependent elements before removing from map. This is to make sure to correctly update dependent relation when zoomed out which does no

[2015-11-19 12:37] sisskind commented on #9
Good catch.  Will update and merge.

[2015-11-19 12:44] sisskind commented on #9
@mjeffe98 ready for test.

[2015-11-19 16:05] sisskind commented on #5
@brianhatchl if you have bandwidth to review, can you take a look?

[2015-11-19 16:37] sisskind commented on #26
@mjeffe98 new icon ready to test in develop.  Shortcut will be worked on after #9 is merged in.

[2015-11-19 19:45] bwitham opened #35 "Users shouldn't be able to delete a review relation from the UI"
* click on a feature involved in a review
* scroll down to its relations
* select one with role "reviewee" and delete

The UI should prevent this from happening and pop up an error message to the user, as we want to control updates to review relations within the review code framework.

[2015-11-19 19:53] mjeffe98 commented on #9
appears to be working fine on my dev instance. will close.

[2015-11-19 19:53] #9 closed

[2015-11-19 19:53] bwitham commented on #15
looks good

[2015-11-19 19:53] #15 closed

[2015-11-19 20:27] bwitham commented on #29
looks good

[2015-11-19 20:27] #29 closed

[2015-11-19 20:30] bwitham commented on #30
@jchoi1267 do you have a dataset with an exact test case for this one?  I haven't seen it occur, but I may not be testing with the same data.

[2015-11-19 20:32] bwitham commented on #23
I'd say we're good on this one.  I actually am not running into the very large Brazil updates anymore.  That must be b/c the randomness of the starting review kicking in.  If I had time to click through all 12k reviews, then I would hit those reviews that cause the large changesets...which is ~25 of them from what I remember originally.

[2015-11-19 20:32] #23 closed

[2015-11-19 20:33] bwitham opened #36 "Update cucumber review tests for 5496 branch"

[2015-11-19 22:10] sisskind commented on #7
Updated: Rows --> Column for tabs https://github.com/ngageoint/hootenanny-ui/commit/5b61d0fd867874347732eb9323be8b2ce2a73426

[2015-11-19 22:31] jchoi1267 commented on #30
I have seen this problem when using Brazil data.
1. load conflated Brazil data
2. Go to a reviewable
3. Zoom out till you see yellow triangle
4. Delete a POI which is not part of review
5. Press resolve

There should be no error from service during save..

[2015-11-19 23:04] jchoi1267 commented on #5
@sisskind Merged service code but there was conflict with UI side and could not merge it. Please merge in the UI.

BTW, looks great! Just minor point is it would be great if there was some way to track when clip is done..

[2015-11-19 23:52] sisskind commented on #5
Will merge in UI. There should be a pop up when clip is complete - will double check that.

[2015-11-20 13:59] bwitham commented on #30
@jchoi1267 I haven't been able to reproduce the situation.  Every time in the Brazil data I zoom out to the yellow triangle, then all poi's except the ones in involved in the review disappear.  Is that expected?

[2015-11-20 16:24] jchoi1267 opened #38 "Make relation members consistent when resolved - 5496 branch"
When review is resolved with poi merge or without make the review relation to have 0 memebers or proper reconciled members

[2015-11-20 17:42] mjeffe98 commented on #5
@sisskind.  Looks good!  I noticed that the clips that I've generated don't have bbox drawn on the map like layers that are ingested into Hoot.  Is that by design?  I think it would be useful to have a visual bbox like the parent layer.  Would also be ideal to provide a name and folder location for the output rather than having to rename or move after.

[2015-11-20 17:44] mjeffe98 commented on #5
@jchoi1267 @sisskind the pop-up I assume in this case is the notification message in blue in the corner that the clip job was submitted.  Nothing indicating that it's complete.

[2015-11-20 17:49] sisskind commented on #5
* Can script up modal window for user to select folder where to drop clip with option to name.

* Unsure what you mean by bounding box -- layers that are clipped should be treated as any other layer, so unsure if this is a clip bug or not.

* What layers are you using to clip?  I'm clipping small area, but get this output:
![image](https://cloud.githubusercontent.com/assets/6191659/11307244/e981d9

[2015-11-20 18:04] sisskind opened #39 "Provide user with recently used layers combobox"
Capture/persist recently used layers to reload (similar to "recently viewed items" on e-commerce websites).

[2015-11-20 18:07] mjeffe98 commented on #5
* By bounding box I was referring to the actual bbox drawn around the data. The second iteration it seemed to draw so perhaps this was just a rendering issue on my end.  (a separate side note, occasionally the clip define bbox doesn't always display on screen).

![image](https://cloud.githubusercontent.com/assets/7560096/11307606/3f944f52-8f6e-11e5-9f54-a5b3ccd299fb.png)

* Not getting the green s

[2015-11-20 18:15] mjeffe98 commented on #5
The UI log just has the job submitted notice but not the created message.
"11/20/2015, 10:01:13 AM: Clip Brazil_SaoPaulo_OsmPois has been submitted."
"11/20/2015, 9:49:30 AM: Clip Brazil_SaoPaulo_OsmPois has been submitted."

[2015-11-20 18:23] jchoi1267 commented on #38
Instead of removing all members from resolved review relation, we store reconciled members..

[2015-11-20 18:26] sisskind commented on #5
New tasks:
* Create modal window for user to confirm clip and select name/folder (or accept defaults)
* Ensure proper alert reporting when datasets are submitted and confirmed on completion

[2015-11-20 18:26] mjeffe98 commented on #5
* example of the Clip to Bounding Box not displaying on the map when drawn.

![clip_bbox_notdisplaying](https://cloud.githubusercontent.com/assets/7560096/11308089/1049137e-8f71-11e5-8664-2317af92bfff.gif)

[2015-11-20 18:54] bwitham commented on #18
I'll handle the fixing of these tests on the build server in #36.

[2015-11-20 18:54] #18 closed

[2015-11-20 19:59] bwitham opened #40 "UI writes duplicate relation review members - 5496 branch"
* conflate all data types
* merge first review (you'll get a different one, depending on the randomness, but the behavior should occur regardless)
* resolve

The database will contain a relation with duplicate members.  It should not.

[2015-11-20 20:00] bwitham commented on #40
@jchoi1267 I had this fixed in the 28 branch, but after I got the latest 5496 commit today, it was broken again.  When you merge 28 for me, look at my attempt at a fix, which isn't working.

[2015-11-20 20:07] mjeffe98 commented on #5
Just testing zenhub.io file upload [DcGisRoads.osm](https://files.zenhub.io/564f7d747ec9ca497289da1b)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2015-11-20 20:14] bwitham commented on #38
this seems ok.  #40 is a byproduct of the changes, possibly.

[2015-11-20 20:14] #38 closed

[2015-11-20 20:30] #28 closed

[2015-11-21 01:01] mjeffe98 opened #42 "Filter by Type not providing the option to go from TDS back to OSM"
If you load an OSM layer you can pull down the Filter by Type to see the tags in TDS 6x/4x.  Clicking on the feature displays the TDS tags for that feature but you cannot go back to OSM.  Should fix the drop down menu to support displaying the tags back in OSM.

[2015-11-23 18:45] jchoi1267 commented on #40
This bug was caused by change in base line assumption of 2 deletes and 1 add to 1delete to 1 modify during POI merge. Code had to be realigned with new logic

[2015-11-23 21:30] bwitham commented on #40
looks good

[2015-11-23 21:30] #40 closed

[2015-11-23 21:39] bwitham commented on #36
solved the button visibility problem.  now need to update the tests for 5496 changes.

[2015-11-24 15:05] jchoi1267 commented on #30
Yes. When we zoom out we load just reviewable item and references.

[2015-11-24 15:26] bwitham commented on #30
Ok, got it.  This looks good then.

[2015-11-24 15:26] #30 closed

[2015-11-24 15:37] bwitham commented on #36
This is getting blocked by ngageoint/hootenanny#79 , so working on that now.

[2015-11-24 17:38] jchoi1267 commented on #42
This was caused by not having OSM as one of capabilities returned from service. Since OSM is default for UI I am adding as default in UI code now.

[2015-11-24 17:58] bwitham commented on #36
Actually, this is not blocked by ngageoint/hootenanny#79.  finished.

[2015-11-24 17:58] #36 closed

[2015-11-25 19:00] mjeffe98 opened #43 "Area measurement is invalid"
When you click on Tools | Measure Area and digitize a building you will see that the area calculation will actually increase when you decrease the size of the polygon Note that the feature shown is the Woodley Park Marriot (Delano) hotel in DC.
![calculate_area](https://cloud.githubusercontent.com/assets/7560096/11406705/96787318-9363-11e5-97a3-5b8e6bb7e3c7.gif)

[2015-11-25 19:17] mjeffe98 opened #44 "Remove Hootenanny Default from non-default Hootenanny Translation Schemas listed"
Minor quip but we should probably remove the words (Hootenanny Default) from any non-default translation.  They appear on all listed (MGCP, TDS, etc.) except for custom translations.  The word default should only apply to any translation that is actually used as the default value rather than on all of the possible translation schemas.

[2015-11-25 19:29] mjeffe98 opened #45 "WFS Export is not working"
When you select the WFS as your export type and submit, the WFS layer does not appear in the WFS Export tab.  Opening the dev console, it appears that the job is submitted but has failed.

ex: http://server/hoot-services/job/status/ex_5b30549caac24d86aa450094e9a9aa68".

Clicking on the URL exposes the WFS failure message:

{"lasttext":"","jobId":"ex_5b30549caac24d86aa450094e9a9aa68","statusDetail"

[2015-11-25 19:50] mjeffe98 opened #46 "Custom basemap not displaying after upload"
Select the usual Roman Colosseum tif and no basemap will appear on map.  Getting 404 error messages that requested resource not available.

[2015-11-25 20:14] jchoi1267 commented on #45
It has been fixed while code clean up

[2015-11-25 20:15] mjeffe98 commented on #45
Ok I will re-test on Monday.

[2015-11-28 21:12] sisskind commented on #5
~~Create modal window for user to confirm clip and select name/folder (or accept defaults)~~
~~Ensure proper alert reporting when datasets are submitted and confirmed on completion~~
~~Ensure bounding box appears as you draw (change to click-drag as opposed to two clicks)~~

Just needs finishing touches (verify layer name is valid, etc.) before being ready for test.

[2015-11-30 14:07] sisskind opened #47 "Dataset Tab Context Menu holds onto last added dataset"
Sometimes unable to delete/move since the context menu holds onto the most recently added dataset.

[2015-11-30 14:08] sisskind opened #48 "Error deleting dataset at root level"
Uncaught TypeError: Cannot read property 'parentNode' of null is returned when trying to delete a dataset that is not contained within a folder.

[2015-11-30 14:17] sisskind commented on #5
@mjeffe98 Committed to develop branch (https://github.com/ngageoint/hootenanny-ui/commit/2412fa974b26f872106c425e5e7e293e0195cf3e) and ready for further testing.

[2015-11-30 14:22] sisskind opened #49 "Alerts are hidden when in Manage/Settings window"
Alerts are hidden and not viewable when in Manage/Settings window.

[2015-11-30 15:13] sisskind commented on #49
@mjeffe98 Fixed in branch 4748 (https://github.com/ngageoint/hootenanny-ui/commit/a1fa85aedcd9f211055214104463cfc6c80e1c74). Ready for test.

[2015-11-30 15:13] sisskind commented on #48
Unable to replicate, but threw a try/catch in if it occurs again.  An error will alert user, but may have to reopen ticket in future.

[2015-11-30 15:13] #48 closed

[2015-11-30 15:13] sisskind commented on #47
@mjeffe98 Fixed in branch 4748 (https://github.com/ngageoint/hootenanny-ui/commit/a1fa85aedcd9f211055214104463cfc6c80e1c74). Ready for test.

[2015-11-30 15:49] bwitham commented on #24
There are two new tests failing under old-tests.child.  They're probably from changes from the 5496 merge.

[2015-12-01 13:53] sisskind commented on #7
@mjeffe98 @jchoi1267 @brianhatchl  Merged changes into develop (https://github.com/ngageoint/hootenanny-ui/commit/7b9621084fa924850d7252a942e070e83e19b468).  Testing would be limited to making sure functionality is there, but would prefer testing/review focused on UI/UX.

[2015-12-01 13:58] sisskind commented on #7
![issue-7](https://cloud.githubusercontent.com/assets/6191659/11502585/ba45ea64-9809-11e5-859d-24f9467269e9.gif)

[2015-12-01 19:36] mjeffe98 commented on #5
not seeing the Success message on selma but clip is working as designed with the new UI dialog

[2015-12-01 19:36] #5 closed

[2015-12-01 21:29] jchoi1267 opened #50 "Shapefile import fails when there is shp.xml in the loaded files"
Shapefile import fails when there is shp.xml in the loaded files

[2015-12-01 21:47] #45 closed

[2015-12-01 22:06] #49 closed

[2015-12-01 22:09] #42 closed

[2015-12-01 22:10] #47 closed

[2015-12-01 23:15] sisskind commented on #26
Added in commit (https://github.com/ngageoint/hootenanny-ui/commit/9fa8d3213cefae197e06334c72d4a3fe4dd9fc58)

Shortcuts:
* Measure Add Line: 6
* Measure Add Area: 7
* Clip Bounding Box: 8
* Clip Visual Extent: 9

Will add in tool tip to reflect this and then merge into develop for testing.

[2015-12-02 03:45] mjeffe98 commented on #7
Had a quick look through all of the tabs and they are working the same as the previous horizontal layout.

[2015-12-02 03:46] #7 closed

[2015-12-02 15:53] jchoi1267 commented on #50
This bug was caused by treating aaa.shp.xml as file name of aaa.shp with extension xml not file name with aaa with extension of shp.xml..
Since I could not better way to handle this added validation for shp.xml extension

[2015-12-02 17:24] brianhatchl opened #51 "Right-click dataset context menu is selecting datasets"
This leads to datasets being unselected if multiple are selected and Ctrl is not held down. Or "visually" deselecting the dataset under the right mouse click if Ctrl is held down.

The click handler for the dataset rows should ignore right-clicks.

[2015-12-02 17:28] sisskind commented on #51
@brianhatchl will ignore right click if control is held down, but doesn't it make sense to allow user to right click to select one dataset and open context menu?

[2015-12-02 17:40] brianhatchl commented on #51
I've always left-clicked to select dataset, then right-click to open context menu.  Not sure if single right-click to select and open is commonly used by most people.

[2015-12-02 17:40] brianhatchl commented on #51
It leads to some confusing behavior when multiple datasets and Ctrl-click selected.

[2015-12-02 17:40] sisskind commented on #51
No problem -- makes more sense to stay consistent.  Updating now.

[2015-12-02 17:47] sisskind commented on #51
Brian -- can you review/merge?

https://github.com/ngageoint/hootenanny-ui/compare/develop...issue-51

[2015-12-02 17:54] brianhatchl commented on #51
I like that behavior much better, but minor gripe, should left-clicking a selected row deselect it?

[2015-12-02 17:58] sisskind commented on #51
Don't think so - because you could have selected multiples and then left-click to open context menu.  When I've tested, looks like it is not deselected. Are you seeing different behavior?

[2015-12-02 18:18] brianhatchl commented on #51
Was trying to say a left-click should deselect a selected row.  Currently it does not.

[2015-12-02 18:19] sisskind commented on #51
But if you left-click a selected row to open context menu, it would be de-selected, right?

[2015-12-02 18:21] brianhatchl commented on #51
context menu = right-click ;-)

[2015-12-02 18:22] sisskind commented on #51
Need emoticon for brain fart.  Looking into.

[2015-12-02 18:32] sisskind commented on #51
@brianhatchl fixed - ready for review/merge (https://github.com/ngageoint/hootenanny-ui/compare/develop...issue-51)

[2015-12-02 20:04] mjeffe98 commented on #51
will this make it into 0.2.19 release that @mv003348 is working on?

[2015-12-02 20:05] #50 closed

[2015-12-02 20:12] sisskind commented on #51
I believe @mv003348 said we have until tonight.

[2015-12-02 21:25] sisskind commented on #26
@mjeffe98 Ready for testing.

[2015-12-02 21:26] sisskind commented on #26
https://github.com/ngageoint/hootenanny-ui/pull/54

[2015-12-03 17:16] mjeffe98 opened #55 "Perform regression testing on 0.2.19"
Once 0.2.19 is cut and deployed, perform regression testing to ensure proper functionality.

[2015-12-03 20:54] mjeffe98 opened #56 "Layer persists on map after it has been removed"
I've observed this mostly with smaller datasets (< 10 MB) but the layer persists after it has been removed, possibly because of cached mapnik tiles.  If you don't refresh the browser, the layer will continue to paint even when new layers are added.  Not noticing this as much with the larger country level data.

![image](https://cloud.githubusercontent.com/assets/7560096/11573736/b02ca09a-99bc-11e5

[2015-12-04 13:13] sisskind opened #57 "Display AOI for all conflicts"
Visually display the AOI for a conflation output with all conflicts within iD.

When the conflation job is complete, give the user an overview of the quality of the conflation and zoom/pan around to get a quick feel.  Also provides overview of where conflation was completed on specific features.

Similar to #4, but is for all conflation (new, removed features, etc.) not just reviews.

[2015-12-04 16:29] sisskind commented on #51
@mjeffe98 was merged into develop ahead of release build, so I think you will be able to test there.

[2015-12-04 16:35] sisskind opened #58 "Move Generate Report to Test Mode"
Only allow generate report option to be visible while in 'test mode' until stable.

[2015-12-04 16:39] sisskind commented on #58
* Into **Develop**: https://github.com/ngageoint/hootenanny-ui/pull/59
* Into **Release**: https://github.com/ngageoint/hootenanny-ui/pull/60

[2015-12-04 18:36] mjeffe98 commented on #56
Layer clears now without issue

[2015-12-04 18:36] #56 closed

[2015-12-04 20:02] brianhatchl opened #61 "Merged POI result feature isn't being selected"
During conflation review, if two POIs were merged, the resulting feature was selected so that an orange halo appeared and the sidebar showed the tag info for that merged feature.  This behavior seems to have been lost in the refactor of reviews as relations.

[2015-12-04 20:05] brianhatchl opened #62 "Review features are not re-centering on reference feature"
During conflation review, when the next review item is retrieved, the map should re-center on the reference review item haloed in red.  It seems when the next review items are within the current map extent, this is not happening.  Not sure if this has always been a bug or if it was introduced in the refactor of reviews as relations.

[2015-12-04 20:07] brianhatchl opened #63 "When a review layer is loaded change color to green"
When loading a layer that has open review items, and the user enters review mode, change the layer color to green.  This is a reasonable default because the two conflation inputs will be colored orange and pink.  The merged layer needs to use a third color so the use can tell the difference between merged features ("green") and untouched input features ("orange" or "pink").

[2015-12-04 20:08] bwitham commented on #62
I'll look into #61.  This one is more of a @jchoi1267 task.

[2015-12-04 20:34] mjeffe98 opened #64 "Failed to retrieve the next feature for review"
Getting this error from both my linux and windows box when connecting to test server, "Failed to retrieve the next features for review!..." after conflating AllDataTypesA/B.  Also seeing it when I reload the layer with unresolved reviews.
![animation](https://cloud.githubusercontent.com/assets/7560096/11600687/440a7294-9a83-11e5-9ec2-bf6bfc716330.gif)

[2015-12-04 20:37] mjeffe98 commented on #64
![image](https://cloud.githubusercontent.com/assets/7560096/11600768/bbc03c1a-9a83-11e5-90b7-43392f1f5d6e.png)

specific error message pop-up

[2015-12-04 20:39] mjeffe98 commented on #64
nothing in the dev console.. just the pop-up window.

[2015-12-04 20:49] mjeffe98 opened #65 "First review pair that gets loaded is not highlighted."
Conflating dc poi files and the first review that loads does not have the red/blue halo.  Also the zoom level is at the bbox of the layer
![reviewnothighlighted](https://cloud.githubusercontent.com/assets/7560096/11601040/6ae286f2-9a85-11e5-9289-3d7fb24b5a2a.png)
 rather than the extent of the review pair.

[2015-12-04 21:08] mjeffe98 commented on #65
If you click on the review item in the red/blue table, an orange halo will appear around the selected feature but no red/blue color mark until the next review.

[2015-12-04 21:16] mjeffe98 opened #66 "Zoom level does not change when reviews are loaded."
Conflating DC POI datasets, I've noticed that in addition to the first review pair not highlighting, the map does not zoom in on the review features but remains at the scale of the layer bbox.  As you step through each successive review pair, you remain at the same map scale.  I think we used to zoom down to the point where the review pair distance defined the visible map extent.  Also if you zoom

[2015-12-04 21:24] mjeffe98 commented on #65
Clearer image provided.  The pink POI is selected but is not appearing as a red marker.  Note the orangish halo indicating its been selected.

![picture1](https://cloud.githubusercontent.com/assets/7560096/11601775/62bef6f4-9a8a-11e5-9a82-c07bdc4a7510.png)

[2015-12-04 21:30] mjeffe98 opened #67 "Merge occurring in the wrong direction"
Conflating DC POI datasets, the red feature is Kalorama Post Office and the Blue Kalorama Park.  The arrow points in the correct direction from blue to red but the merge is reverse making the park POI the Post Office.
![snapshot3](https://cloud.githubusercontent.com/assets/7560096/11601874/373b1818-9a8b-11e5-9daa-96e1a0c85090.png)
![snapshot4](https://cloud.githubusercontent.com/assets/7560096/116

[2015-12-04 22:09] mjeffe98 opened #68 "Map-in-Map overview map not displaying review points"
Observed this any conflation, the overview points (yellow, red, green) that appeared before not appearing in the overview map.
![image](https://cloud.githubusercontent.com/assets/7560096/11602630/9d42d9b6-9a90-11e5-8026-3a02dee3194d.png)

Uncaught TypeError: Cannot read property '0' of undefined
@ map in map.js:71
(anonymous function) @d3.min.js:1

[2015-12-04 22:47] brianhatchl commented on #68
@jchoi1267 looks like the rest.js part of this got whacked in the relation review merge :-(

[2015-12-04 22:55] brianhatchl commented on #68
This whole method disappeared
https://github.com/ngageoint/hootenanny-ui/blob/4c59e27be08491b1d70f2027d05548a6fbcb0ceb/js/hoot/model/rest.js#L797

but I don't see it going away in the diff with the next commit so I'm confused,
https://github.com/ngageoint/hootenanny-ui/compare/4c59e27be08491b1d70f2027d05548a6fbcb0ceb...c4d4b5be6c0c71d8e176cbac1b95706aea374fe9#diff-f0adadf4d487dfd2e3e8e466cd757a10

[2015-12-04 22:56] brianhatchl commented on #68
Here it is, this commit:
https://github.com/ngageoint/hootenanny-ui/compare/4c59e27be08491b1d70f2027d05548a6fbcb0ceb...dbef6c7add07626b6aab7c3ca9bd10969f6edca3#diff-f0adadf4d487dfd2e3e8e466cd757a10

[2015-12-04 23:38] brianhatchl commented on #68
Here is a diff of the map-in-map review additions (along with some sorta unrelated egd plugin cleanup unfortunately) we can use to reconstruct what's missing.
https://github.com/ngageoint/hootenanny-ui/compare/8922e3ee171011f5f4907d818cd2ec7d4693d98c...4c59e27be08491b1d70f2027d05548a6fbcb0ceb

[2015-12-06 04:42] jchoi1267 commented on #68
Actually I have been working on fixing this. See ticket https://github.com/ngageoint/hootenanny/issues/45

[2015-12-07 12:59] sisskind commented on #43
@mjeffe98 Ready for test. https://github.com/ngageoint/hootenanny-ui/pull/69

[2015-12-07 15:08] bwitham commented on #67
Going to guess this was caused by the work I did in #28.  Which way the merge goes is determined by the number of outstanding review links the two POI's have.  Let me know if I can help...may be able to fix, but I'm not familiar with the arrow display code so would need some assistance there.

[2015-12-07 15:22] bwitham commented on #61
behavior reproduced. rolling back commits locally to find last working codebase.

[2015-12-07 15:51] bwitham commented on #61
code works correctly at b0469a, so problem most likely caused by 77cef2

[2015-12-07 16:09] bwitham commented on #61
correction...occurring before 77cef2....still trying to find the commit...

[2015-12-07 16:16] brianhatchl commented on #67
The direction of the arrow is determined by the feature and againstFeature arguments:
[code]
https://github.com/ngageoint/hootenanny-ui/blob/release/js/hoot/control/Conflicts.js#L530

So is the feature no longer always from the reference layer?

[2015-12-07 16:28] sisskind commented on #39
![issue-31-4](https://cloud.githubusercontent.com/assets/6191659/11632545/acc39ce4-9cd5-11e5-871e-4446d3e61817.png)

[2015-12-07 16:42] bwitham commented on #61
too hard to nail it down before 77cef2, as there are some broken commits where the review code errors out...will proceed from that commit

[2015-12-07 17:11] sisskind commented on #39
https://github.com/ngageoint/hootenanny-ui/compare/develop...issue-39

[2015-12-07 17:11] sisskind commented on #39
@mjeffe98 Ready for test

https://github.com/ngageoint/hootenanny-ui/pull/70

[2015-12-07 17:44] brianhatchl commented on #67
Remove the direction indicator now, as the review relation does not capture feature vs againstFeature

[2015-12-07 19:07] bwitham commented on #62
I think the code to calculate bounds in the review services was removed as a result of 5496, but it seems like it wouldn't be too hard to resurrect it if its needed. However, its possible there are missing feature load considerations in iD that I'm not fully aware of that prevents the change ... @jchoi1267 may be more familiar with that than I am.

[2015-12-07 19:14] bwitham opened #71 "Conflating a dataset two or more times in a row results in no reviews the the 2nd and subsequent runs"
* conflate AllDataTypesA/B
* get expected number of reviews
* resolve all reviews
* click the trash can for the output layer; confirm dialog
* conflate AllDataTypesA/B
* receive the message that there are no more features to review, when there should be some to review

The only way I can break this cycle is by refreshing the browser.

This is possibly related to #64

[2015-12-07 19:15] brianhatchl commented on #67
With the relation review refactor, the concept of feature vs. againstFeature held in the review table reviewitem is lost.  In the future, the POI merge tool should allow the user to choose the merge direction with Ctrl button or something.  However, the code to perform the update and delete for the two input POIs must also honor this setting.

[2015-12-07 19:15] bwitham commented on #71
@mjeffe98 @jchoi1267 @brianhatchl @sisskind

[2015-12-07 19:29] sisskind commented on #62
This appears to be on purpose:
[code]
https://github.com/ngageoint/hootenanny-ui/blob/develop/js/hoot/control/Conflicts.js#L115

[2015-12-07 19:32] brianhatchl commented on #62
It could be that is only being noticed now with the introduction of the geohash/hilbert curve index that increases the chances that the next review item will be within the current visible map

[2015-12-07 19:52] sisskind commented on #66
This is occurring by design, from a previous requirement:
https://github.com/ngageoint/hootenanny-ui/blob/develop/js/hoot/control/Conflicts.js#L128
[code]
Therefore, if your zoom level is between 16-20, it will not change.  This may only be noticed now (https://github.com/ngageoint/hootenanny-ui/issues/62#issuecomment-162634409)

[2015-12-07 21:02] brianhatchl commented on #71
I see this happens whenever a review mode has been done previously.  That is, you can simply
* load a dataset with open reviews.
* remove it from the map.
* attempt to load another dataset with open reviews.
* get the Failed to retrieve next feature for review! error #64

[2015-12-07 21:10] brianhatchl commented on #71
This is the error
[code]
happening on https://github.com/ngageoint/hootenanny-ui/blob/release/js/hoot/control/Conflicts.js#L348

[2015-12-07 21:12] mjeffe98 commented on #71
I can reproduce this consistently when loading a dataset after removing a previous one with open reviews.

[2015-12-07 21:57] mjeffe98 commented on #58
tested and works.

[2015-12-07 21:57] #58 closed

[2015-12-07 21:58] #26 closed

[2015-12-07 22:46] jchoi1267 commented on #71
Committed the change to release branch.
This was caused by class variable not being cleaned up when review gets removed.

[2015-12-07 22:50] mjeffe98 commented on #51
@sisskind @brianhatchl just want to verify that the expected behavior is that if a layer is not selected i.e. highlighted in yellow, you can't invoke any of the right-click commands.  I didn't think that was the case before.  I do see that right-clicking on a layer doesn't select/de-select it but I also see that you can't pull up the right-click options unless a layer is selected.  After that you

[2015-12-07 23:08] mjeffe98 commented on #51
Here AllDataTypesA is selected but I right-clicked on an unselected layer to export.

![51](https://cloud.githubusercontent.com/assets/7560096/11642707/3c1accb4-9cf4-11e5-9505-9724926ab07a.gif)

[2015-12-07 23:08] mjeffe98 commented on #46
No longer an issue

[2015-12-07 23:08] #46 closed

[2015-12-07 23:10] sisskind commented on #51
That was the expected behavior. Do you think it should be different?

[2015-12-07 23:14] mjeffe98 commented on #51
I think based on the logic described in the ticket we should only allow right-click menu options for the selected layer.  Any unselected layers should not allow right-click.

[2015-12-08 13:00] sisskind commented on #51
Ok - will reopen and adjust.

[2015-12-08 13:27] sisskind commented on #51
Pushed to develop (https://github.com/ngageoint/hootenanny-ui/pull/72)

[2015-12-08 15:07] sisskind commented on #63
@mjeffe98 Ready for test.

https://github.com/ngageoint/hootenanny-ui/pull/73

[2015-12-08 16:07] sisskind commented on #66
This was a requirement to avoid zooming past level 16 (which would turn on density raster).  Since density raster has been replaced, this is no longer necessary and will be reversed.

[2015-12-08 16:14] sisskind commented on #66
@mjeffe98 Ready for test (https://github.com/ngageoint/hootenanny-ui/pull/74)

[2015-12-08 17:29] #65 closed

[2015-12-08 17:31] #71 closed

[2015-12-08 17:32] mjeffe98 commented on #67
merge now occurs without the arrow.

[2015-12-08 17:32] #67 closed

[2015-12-08 17:33] mjeffe98 commented on #64
closed with #71

[2015-12-08 17:33] #64 closed

[2015-12-08 17:44] #61 closed

[2015-12-08 17:51] mjeffe98 commented on #66
Not entirely sure that I am seeing the finished product on develop.  Let's regroup after.

[2015-12-08 17:53] brianhatchl opened #75 "Enable POI merge in either direction"
See #67.  Merge used to occur from secondary feature to reference feature.  Review relation refactor changed this default behavior.  It would be useful to allow the user to choose to merge in either direction.

[2015-12-08 17:55] #43 closed

[2015-12-08 17:56] #39 closed

[2015-12-08 20:26] mjeffe98 commented on #51
Let me know when this is pushed to release

[2015-12-08 20:31] sisskind commented on #51
https://github.com/ngageoint/hootenanny-ui/pull/77

[2015-12-08 21:56] #63 closed

[2015-12-08 21:57] mjeffe98 commented on #51
Looks good

[2015-12-08 21:57] #51 closed

[2015-12-08 22:10] mjeffe98 commented on #66
I don't see the zoom level changing after adding a layer containing reviews.

[2015-12-08 22:21] sisskind commented on #66
Issue not fully resolved -- moving to 16-December sprint.

[2015-12-09 16:45] sisskind commented on #66
Merged into develop.

[2015-12-09 16:52] sisskind commented on #66
https://github.com/ngageoint/hootenanny-ui/pull/80

[2015-12-09 17:31] #66 closed

[2015-12-09 17:42] sisskind commented on #62
Should be fixed by https://github.com/ngageoint/hootenanny-ui/pull/79.

[2015-12-09 18:36] sisskind commented on #35
@bwitham should reviewee text box be read-only too?

[2015-12-09 18:48] bwitham commented on #35
I think so.  Anything involving that relation shouldn't be editable.

[2015-12-09 18:54] mjeffe98 commented on #62
@sisskind we do zoom to the entity (review pair) now by default but we no longer recenter on the reference POI since we are zooming to an extent where both review POIs are in the current map extent.  Can we close based on that behavior?

![image](https://cloud.githubusercontent.com/assets/7560096/11695281/39d31310-9e63-11e5-855a-187022d5c1c1.png)

[2015-12-09 18:55] sisskind commented on #35
Pushed to develop: https://github.com/ngageoint/hootenanny-ui/pull/81

@mjeffe98 Ready for testing.

[2015-12-09 18:56] sisskind commented on #62
I am okay with that.

[2015-12-09 18:57] #62 closed

[2015-12-10 16:44] jchoi1267 commented on #68
Committed  ngageoint/hootenanny#45 after code review will try to link it in

[2015-12-10 17:06] jchoi1267 opened #82 "Refactor Conflict.js"
First of series of javascript code refactoring.

[2015-12-10 18:52] brianhatchl opened #83 "Dataset folder icon is no longer clickable to expand/collapse folder"
Now only the folder label can be clicked to expand the folder.  This threw me for a while.  Anyway to restore folder icon clickability?

[2015-12-10 18:59] brianhatchl opened #84 "Zoom to conflation review should have maximum zoom level"
The map extent for review features that are very close together (DC POI datasets) requires zooming out to make sense of the basemap imagery.  Set a minimum zoom level for the review item exent.

[2015-12-10 19:01] sisskind commented on #83
@brianhatchl Will fix -- but think it was always this way.

[2015-12-10 19:05] brianhatchl opened #85 "Duplicate folder names at same level in structure"
It's possible to create duplicate folder names when uploading a dataset and entering text in the New Folder Name box.

[2015-12-10 19:18] sisskind commented on #85
@brianhatchl Do you mean duplicate folders within the same folder, or duplicate folder names in general?

[2015-12-10 19:45] brianhatchl commented on #85
![screenshot from 2015-12-10 14 06 34](https://cloud.githubusercontent.com/assets/2600932/11726449/afc0b912-9f4c-11e5-9e34-bf64ccd8da4c.png)

[2015-12-10 19:58] sisskind commented on #85
@brianhatchl Thanks -- will fix.

[2015-12-10 20:16] sisskind commented on #44
@mjeffe98 Ready for Test

[2015-12-10 20:39] sisskind commented on #84
@mjeffe98  Ready for test

[2015-12-10 21:08] sisskind commented on #83
![folder-issue](https://cloud.githubusercontent.com/assets/6191659/11728499/3fa0a05a-9f58-11e5-9b5c-a1ac61859b10.gif)

[2015-12-10 21:13] sisskind opened #88 "Context menu for folders not working"
Cannot open context menu for folders

[2015-12-10 21:59] brianhatchl opened #90 "Review feature (red/blue) halos are not removed when last review is resolved"

[2015-12-10 22:29] sisskind commented on #85
Updated:
* Cannot create duplicate via 'Add Folder' button
* Cannot create duplicate via 'Add Folder' context menu
* Cannot create duplicate via 'Add Dataset'
* Cannot create duplicate via Conflation job

[2015-12-10 22:30] sisskind opened #91 "Folders are not case sensitive"
Treat all folder names as equal regardless of case of letters to avoid duplication of folder names.

[2015-12-10 22:31] sisskind opened #92 "Cannot delete closed folder"
Following error when trying to delete closed folder:

"12/10/2015, 5:30:56 PM: Unable to delete dataset BY. TypeError: Cannot read property 'parentNode' of null"

[2015-12-10 22:36] sisskind commented on #85
@mjeffe98 Ready for Testing

[2015-12-10 22:36] sisskind commented on #83
@mjeffe98 Ready for Testing

[2015-12-10 22:36] sisskind commented on #88
@mjeffe98 Ready for Testing

[2015-12-11 16:47] mjeffe98 opened #94 "Missing right-click menu options on folders in Dataset tree"
We used to be able to right-click on a folder to bring up relevant context menu options such as delete, add dataset, move.  It seems that these are no longer available but need to be brought back in.

[2015-12-11 16:50] mjeffe98 commented on #94
duplicate of #88

[2015-12-11 16:50] #94 closed

[2015-12-11 17:38] brianhatchl commented on #75
I should mention that holding the Ctrl key down will reverse the merge direction when hovering over and clicking the merge button.  Reversing the merge direction is not possible when using the 'm' hot key.

[2015-12-11 18:52] mjeffe98 commented on #84
Tested on Hootenanny iD Editor - Version: 0.2.19-77-g9244f18 and appeared to be functioning properly.  On today's "deployed" build (Hootenanny iD Editor - Version: 0.2.19-74-gd595e7d) the review zooming in too far for the basemap imagery service.

[2015-12-11 18:52] #84 closed

[2015-12-11 18:55] mjeffe98 commented on #85
warning pop up now preventing adding a duplicate folder name.

[2015-12-11 18:55] #85 closed

[2015-12-11 18:59] #44 closed

[2015-12-11 19:05] mjeffe98 commented on #35
Now see a warning message and cannot delete reviewee field.

[2015-12-11 19:05] #35 closed

[2015-12-11 19:14] mjeffe98 commented on #83
Was the folder icon supposed to change depending on whether it was expanded or collapsed?

[2015-12-11 19:17] #88 closed

[2015-12-11 19:35] mjeffe98 commented on #75
The behavior works as designed but for some reason in Chrome (windows/ubuntu) when you hold the ctrl key and hit the merge button a new browser tab opens.  I think this will negatively impact users as they'll end up with numerous tabs open during review.

[2015-12-11 19:37] mjeffe98 opened #95 "Using merge and ctrl key to reverse direction opens new browser tab in Chrome"
When you reverse the merge for #75 the ctrl plus merge opens a browser tab in Chrome.

[2015-12-11 20:18] brianhatchl commented on #95
Interesting, I had noticed extra Hoot tabs myself, but did not connect the dots.  Good catch.

[2015-12-11 22:18] #95 closed

[2015-12-11 22:19] #75 closed

[2015-12-11 22:20] mjeffe98 commented on #83
Closing since the current behavior is as described in the issue.

[2015-12-11 22:20] #83 closed

[2015-12-11 22:27] mjeffe98 commented on #90
Looks like I have the updated Conflicts.js but the last red/blue halos do not get removed when last review is resolved.

[2015-12-12 02:49] brianhatchl commented on #90
I swear it had worked, but you're right, I had to clear another couple vars.  We need to refactor #82 this file.

[2015-12-14 15:22] jchoi1267 opened #96 "Add status text output for conflation"
Provide the user with log of conflation status while job is running.

[2015-12-14 15:53] sisskind opened #97 "Make input forms detect invalid input values"
Forms to be updated:
* ~~Add Data (Layer Name, Folder Name)~~
* ~~Bulk Import (Layer Name)~~
* ~~Modify Dataset (Output Name, New Folder Name)~~
* ~~Add Folder (Folder Name)~~
* ~~Modify Folder (Folder Name)~~
* ~~Clip Dataset (Output Name)~~
* ~~Prepare for Validation (Output Name)~~
* ~~Filter POI (Output Name)~~
* ~~Export Dataset (Output Name)~~
* ~~Conflate Dataset (Save As, New Folder Name)~

[2015-12-14 16:01] sisskind commented on #92
@mjeffe98 Ready for test

[2015-12-14 16:01] sisskind commented on #91
@mjeffe98 Ready for test

[2015-12-14 17:17] mjeffe98 opened #99 "Folder containing datasets does not change icon when expanded/collapsed"
Only empty folders seem to have different icons when open/closed.  We should enable this for folders containing datasets.

[2015-12-14 17:44] jchoi1267 commented on #68
@brianhatchl
I have wired up the new rest end point and looks like it is working. Can you take a look at it?
BTW structure changed ittle where returned object looks like (if there is warning which happens total returned features are greater than limit set in service it will add "warning" json object)

{"total":122, "geojson":{}}

[2015-12-14 17:47] #92 closed

[2015-12-14 17:51] mjeffe98 commented on #91
Looking at this in Hootenanny iD Editor - Version: 0.2.19-84-g70e5640, I can't add a duplicate folder even though the case is different e.g. TEST2 and tesT2. If we supported case sensitivity in the folder names I would be able to maintain both.  Is that correct @sisskind ?

[2015-12-14 17:55] mjeffe98 commented on #90
This is now working in latest develop build.

[2015-12-14 17:55] #90 closed

[2015-12-14 18:11] #55 closed

[2015-12-14 18:15] mjeffe98 opened #100 "Modify warning message to reflect new rendering capabilities with node-mapnik server"
Our current warning triangle message is out of date with the mapnik server rendering capabilities.  We should change any warning messages from "Zoom in to view data" to "Zoom in to _Edit_ data" etc.  We may simply remove the warning all together as we no longer need to provide an indication that features are hidden from view.

[2015-12-14 21:12] sisskind commented on #99
@mjeffe98 ready for test

[2015-12-14 21:18] sisskind commented on #100
@mjeffe98 Like the idea of changing to 'Zoom to edit data'.  @brianhatchl any objections?

[2015-12-15 16:35] sisskind commented on #100
@mjeffe98 ready for test

[2015-12-15 19:15] mjeffe98 commented on #91
@sisskind  Looks like its not working i.e. I cannot add both test and TesT as folders at the same level

[2015-12-15 19:25] #99 closed

[2015-12-15 19:34] mjeffe98 commented on #68
@brianhatchl @jchoi1267 I am not getting the red dot (current unresolved review), just the yellow (unresolved) and green dots (resolved and merged).  Is that intended?

![image](https://cloud.githubusercontent.com/assets/7560096/11821669/8cd1fe80-a31f-11e5-94cf-3aeea3d1ef6e.png)

[2015-12-15 19:42] #91 closed

[2015-12-15 19:47] mjeffe98 commented on #91
This was just a communication issue.  "Case sensitivity" is supported in order to detect whether there is duplication of names not so that we can have the same folder name but in varying case.

[2015-12-15 20:00] mjeffe98 opened #103 "Add a 'Zoom in to Edit' button to mirror openstreetmap.org"
Seems like a relatively simple and benign feature to add. In addition to the warnings indicating that you need to Zoom in to edit a feature, have a nice big button that zooms to the appropriate zoom level to start editing a feature similar to how the openstreetmap.org iD version does it.

![zoom in to edit](https://cloud.githubusercontent.com/assets/7560096/11822457/6a99017a-a323-11e5-87b4-a5762b4

[2015-12-15 20:02] brianhatchl commented on #68
Not so much intended, but unavoidable.  The red dots represented "locked" review items.  With the refactor of review items as relations, and the optimistic locking of osm changesets, review items are no longer ever in a "locked" state.  I was just thinking if there was an way to show the current review item in red if it wasn't too much of a hack (the map-in-map and request for review items as geoj

[2015-12-15 20:03] mjeffe98 commented on #103
The button goes away when you hit the editable zoom level.

[2015-12-15 20:09] mjeffe98 commented on #68
Personally I see value in it because it helps with orientation on the overview map i.e. if I know which dot represents which feature I am resolving, then it's easier to get a grasp on the spatial distribution of reviews.  Also since the zoom is no longer centered on the Reference POI but map extent containing both reviewed features, having the red dot would add further location awareness.  I say b

[2015-12-15 20:39] sisskind commented on #103
@mjeffe98 does it zoom in incrementally or to the editable zoom level?

[2015-12-15 20:49] mjeffe98 commented on #103
@sisskind it zooms to the editable zoom level.
![zoomtoedit2](https://cloud.githubusercontent.com/assets/7560096/11823689/42fdfc22-a32a-11e5-9bfc-3c9125210740.gif)

[2015-12-15 21:56] sisskind commented on #96
@jchoi1267 Took initial stab - for your review.  Not sure what additional information we would want to add.

[2015-12-16 16:47] #68 closed

[2015-12-16 16:48] #100 closed

[2015-12-16 19:58] mjeffe98 opened #104 "Basemap is not displaying on develop version"
When I try to switch to the custom basemap as a background layer nothing displays.    Some 404 errors in the console but nothing jumps out.  Note that it was working on the 0.2.19 release version.

[2015-12-16 19:59] mjeffe98 commented on #104
I think we want to make sure the new release that is cut doesn't inherit this bug

[2015-12-16 20:22] sisskind commented on #104
@mjeffe98 wouldnt this be identified in testing of release branch?

[2015-12-16 20:23] brianhatchl opened #105 "Design the display of conflation stats in the UI"
Running conflate with the `--stats` options produces output (shown below) that the user might want to see for gauging the performance of the conflation.  Currently the UI just shows number of review items.

Questions to consider:
* Should we run stats with every conflate command?  or add an option to the UI?
* On command line, stats seems to direct to stdout, is there a way to capture to file?
* C

[2015-12-16 20:24] mjeffe98 commented on #104
@sisskind it would but it was working in the release and it looks like we are going to replace a functioning basemap upload capability with a non-functional when develop is merged with release.  I suppose we can lower the priority and make this a regression fix.

[2015-12-17 18:18] #24 closed

[2015-12-17 18:36] sisskind commented on #57
Putting on hold following the conclusion of post-conflation statistics being displayed in the UI, which may fulfill this requirement.  This also may be fulfilled by viewing the completed dataset, with the initial dataset colors compared against the color (green) of the conflated dataset.

[2015-12-17 21:14] sisskind opened #106 "Write system tests for UI"
Using cucumber (or variant of), write system tests for UI that can be used be developer or automated.  Related to #25, but only for UI.

[2015-12-18 18:30] mjeffe98 opened #107 "Performance issues rendering larger datasets with mapnik"
I seem to be hitting limits in returning rendered mapnik tiles with a shapefile of San Diego roads.  The file is not translated but for rendering geometry it is unnecessary.  Separate email will be sent with local path to data.  Are there tuning parameters that can be adjusted?

The zipped dataset is 43MB.  Unzipped its 124MB.  Hoot says its 843MB ingested.

[2015-12-18 18:36] mjeffe98 commented on #107
@brianhatchl perhaps this is something you could take a look at ?

[2015-12-18 18:51] brianhatchl commented on #107
Yes.  The usual approach is to make scale dependent rules in the mapnik style that filter unimportant feature types at small map scales.  Unfortunately for Hoot, the datasets can be quite specific, such as only waterways, or only POIs.  One solution I've considered is to see if the node-mapnik postgis datasource can accept a sql term like LIMIT 10000.  This is the approach we use with retrieving t

[2015-12-18 18:56] mjeffe98 opened #108 "Clipped dataset is not saving Output Name"
When clips are generated I noticed that clip output names were not getting saved, just the name of the layer with _clip appended.

[2015-12-18 18:58] mjeffe98 commented on #107
Might be worth investigating.  I noticed that the failure to render some tiles seems to be independent of zoom level so you could be at 1:5000 scale and not see the data.

[2015-12-18 19:07] mjeffe98 commented on #104
Basemap *does* appear on new release candidate 8093 but not in the develop branch.  @jchoi1267 could be a configuration issue on 8091 since there is no error message in the dev console?  I think the release branch version has the same code that develop has (or had at the time of the first diagnosis of this issue) and most likely would have been impacted during the merge of develop into release.

[2015-12-18 19:21] mikejeffe opened #109 "WFS output name does not get saved"
I think this has been a persistent bug but logging it now for tracking purposes. Basically the wfs output name that you type does not persist when you save the file/service.  Instead it is saved with a serialized name e.g. ex_25f29286243a4115af4efd4632fa4b14

[2015-12-18 22:08] jchoi1267 commented on #82
@brianhatchl

Brian, Please take a look at first cut and let me know what should also be fixed. Removed timers but could not get rid of review + review against since we did not make decision how to handle that yet..

[2015-12-18 22:30] jchoi1267 opened #110 "Consolidate validation review and normal review conflict UI code"
Now there are 2 types of review, validation and normal review. Consolidate this 2 in single code base (ie. base class extraction)

Jason thinks the validation may be not just for HGIS but may be useful for all reviews so we might need some discussion on this..

Moved from
redmine/issues/7277

[2015-12-18 22:32] jchoi1267 opened #111 "TDS raw tags are not updating on feature select if selected feature has no fcode"
Moved from
see
redmine/issues/6927

[2015-12-18 22:34] jchoi1267 opened #112 "osm file ingest should support non-osm translation schema"
From
redmine/issues/7409

[2015-12-18 22:36] jchoi1267 opened #113 "Report generation failures cause conflation job to fail"
Moved from
redmine/issues/7446

[2015-12-19 00:03] mjeffe98 commented on #107
Loaded a relatively small dataset on selma release in the brazil folder. @jchoi1267 or @sisskind feel free to observe as well.  I don't get the layer to appear until zooming below the node limit threshold which tells me that maybe the mapnik server is not turning the features on as one would expect.  Without density raster, there is no other source to view data above the limit.

[2015-12-19 14:53] brianhatchl commented on #107
I pushed the fix for node-mapnik not working at all, f4df99a6e3170b8230397c44b3c409a34529332c, to both release and develop.  Still need to work the scalability issue so leaving this ticket open.

[2015-12-20 23:20] brianhatchl commented on #107
Added a row_limit (currently 2000) and extended the connect_timeout (from 4 to 6 seconds) to improve scalability.  At small scales, artifacts of the row_limit are clearly present for dense data like Sand Diego roads.![Screenshot from 2015-12-20 18:19:11.png](https://files.zenhub.io/567737a020b75d5d6e26980c)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2015-12-20 23:23] brianhatchl commented on #107
![screenshot from 2015-12-20 18 19 11](https://cloud.githubusercontent.com/assets/2600932/11920835/b92bb4aa-a746-11e5-9c18-a688aa28b874.png)

[2015-12-21 16:09] sisskind opened #114 "Ensure that change log is being updated"
Need to edit process to extract tickets from GitHub milestone as opposed to RedMine.

[2015-12-21 21:05] mjeffe98 commented on #107
@brianhatchl the San Diego roads data may represent fringe datasets but I suppose we should clarify that larger datasets will require either mapnik rendering rules or a tweaking the row_limit value.  Is that documented in the README in node-mapnik?

[2015-12-21 21:09] mjeffe98 commented on #107
Tested the Brazil data and looks good. I'm not going to stress the larger dataset solution until that is prioritized.

[2015-12-21 21:09] #107 closed

[2015-12-21 23:22] mjeffe98 opened #116 "Getting TypeError in Conflict.js that prevents any resolution of conflict review."
I've now been able to reproduce this error consistently even though I've seen it sporadically.  When reviewing POI datasets like Brazil OSM vs. Geonames, the TypeError below pops up.  It cannot be merged or resolved during review, only skipped.

TypeError: Cannot read property 'members' of undefined(…)
processMerge@Conflicts.js:408

One example in Brazil_SaoPaulo_OSM and Brazil_SaoPaulo_geonames.

[2015-12-21 23:39] mjeffe98 commented on #116
Occurs on both develop and release branch

[2015-12-22 14:21] jchoi1267 commented on #116
Hey Mike, will I be able to reproduce this with standard Brazil data?

[2015-12-22 17:45] jchoi1267 commented on #116
Ok.
This is good one. This data so heavy it take time to load all features. So if user clicks resolve before all gets loaded we end up with the error.

[2015-12-22 21:53] jchoi1267 commented on #116
Committed fix.

Now we masks while loading osm to guarantee existence of data when resolving or merging

[2015-12-22 22:25] mjeffe98 commented on #116
I will test this on develop tomorrow.  For now I'll assume the release branch will be unchanged unless a critical issue is uncovered.

[2015-12-23 00:14] mikejeffe opened #117 "Map overlay in map background settings caches layer in original display color"
Add a layer and select a color to display.  Layer displays fine on the map and will update properly to another color if selected.  However if you open the background settings (b) to expose the map overlay options, then check the layer overlay radio button it will display in the original color that the layer was loaded in.  In the example below the layer was originally added as blue then switched t

[2015-12-23 20:05] mjeffe98 opened #118 "UI images"
![image](https://cloud.githubusercontent.com/assets/7560096/11984226/6ed7b6ae-a96e-11e5-9470-dc1f987f0b7a.png)

[2015-12-23 20:27] sisskind commented on #108
@mjeffe98 ready for test

[2015-12-25 16:22] sisskind commented on #97
Is only going to check against invalid characters, not duplicate folder names.  This will occur after user has attempted to submit.

[2015-12-25 18:15] sisskind commented on #97
@mjeffe98 ready for test

[2015-12-25 18:17] sisskind opened #121 "Bulk Import Option does not show on Firefox"
When right-clicking on 'Add Dataset', the 'Bulk Import' option does not appear when using Mozilla Firefox.

[2016-01-04 13:47] sisskind opened #122 "Multiline Relation does not show "blue" feature"
When in review mode and if review feature is multiline relation, the "blue" feature is not being highlighted as blue.  The click to zoom appears to be working when you click on the table.

[2016-01-04 13:49] sisskind opened #123 ""Unable to delete protected tag" error for all tags"
When trying to delete a tag, they are all giving the "Unable to delete protected tag" error.

[2016-01-04 13:53] sisskind opened #124 "Click on review table zooms in too much"
Create zoom threshold (level 18) for clicking on review table (red/blue).

[2016-01-04 13:54] sisskind opened #125 "Dataset sizes reset to bytes after folder is opened/closed/opened"
After a folder is opened, closed, and reopened, all file sizes are converted to bytes, as opposed to MB, GB, etc.

[2016-01-04 13:56] sisskind opened #126 "Nothing to merge when 2 features are on top of each other"
When two point review features are on top of each other, the "nothing to merge" error appears.  Should this functionality be available (drag and drop feature onto another to copy attributes)?  Unsure if this is the expected behavior or not.

[2016-01-04 13:59] sisskind opened #127 "Conflate during Review mode"
If a non-review layer is added to the map, and then a review-layer is added to the map, the user can enter review mode but still have the "Conflate" option available to them.  The UI should remove the option to conflate while in review mode.

[2016-01-04 14:01] sisskind opened #128 "Clipped Dataset goes to incorrect folder"
After clipping a dataset, it does not go to the selected folder.

[2016-01-04 14:02] sisskind opened #129 "Do not allow user to clip while in review mode"
Disable the clip tools while the user is in review mode.

[2016-01-04 14:02] sisskind opened #130 "Relations need to be better visualized"
It can be difficult in review mode to visualize all the relations for a review feature.  As a user of Hootenanny, I would like to be able to see what other features are at most one degree away with my review feature.

[2016-01-04 14:03] sisskind opened #131 "Edit Feature sidebar scroll issues"
The "Edit Feature" sidebar does not fully scroll all the way to the bottom of the menu.

[2016-01-04 14:04] sisskind opened #132 "Refactor Help Menu"
Remove references to OpenStreetMap walkthrough.  Also remove the "Edit Now" option when starting Hootenanny.

[2016-01-04 14:05] sisskind opened #133 "Refactor Error Messages"
* Make 'X' white so it is more visible to user
* Do not cover the Manage Tab link

[2016-01-04 14:06] sisskind opened #134 "Tab and Header do not match"
The Hootenanny header says "Hootenanny | InnoVision" while the tab/window says "Hootenanny | DigitalGlobe".  These should match with the same title.

[2016-01-04 14:07] sisskind opened #135 "Missing arrow for merge features"
The arrow pointing to the feature to merge into is missing.

[2016-01-04 14:10] sisskind opened #136 "Hootenanny loses attribution after downtime"
If Hootenanny is left unattended for period of time (~30 minutes), no attribution will appear on the menu unless you shut down and restart the web browser.  Opening a new tab does not solve the problem.

[2016-01-04 14:11] sisskind opened #137 ""Batman Mode""
Hootenanny will randomly go into Batman Mode...where coordinates are NaN NaN NaN NaN (get it?  Sing the Batman theme in your head...)

Screen goes black, appears hyper-zoomed in, and obviously coordinates are not a number.

[2016-01-04 14:12] sisskind opened #138 "Measurement Tool gets hidden behind features"
Measurement vectors and label gets hidden behind features.  It appears it needs to be moved "to front".

[2016-01-04 14:13] sisskind opened #139 "iD Editor Upstream Merge"
Update iD Editor to v1.8.5.

[2016-01-04 14:15] sisskind opened #140 "Refactor Folder/Datset view"
As a user of Hootenanny, I want the ability to better visualize the datasets and folders listed for loading and managing.

* ~~Larger font~~
* ~~Better contrast with colors~~
* ~~Lines connecting folders (more of a tree view)~~
* ~~Ability to resize folder window (the window where datasets and folders are listed)~~
* ~~Dataset/Folder name overlaps size, date if too small~~
* ~~Ability to increase

[2016-01-04 14:17] sisskind opened #141 "Support geonames file ingest without requiring renaming extension from .txt to .geonames"
Redmine #6812

Be able to import geonames file without having to change extension to .txt.

[2016-01-04 14:18] sisskind opened #142 "Pop out sidebar"
Provide ability to "pop out" sidebar (Edit Features, Attribution) to separate window if possible.

[2016-01-04 14:19] sisskind opened #143 "Show selected settings"
After conflation runs, show what settings were used to run the conflation job (i.e. reference dataset, conflation type).

[2016-01-04 14:20] sisskind opened #144 "Deleting line/area feature in relation leaves nodes"
When you delete a line or area feature that is involved in a relation, it creates point features at each node that then need to be deleted as well.

[2016-01-04 14:22] sisskind opened #145 "Copy/paste attribution creates empty fields"
When copying/pasting attributes for line features, it will create blank "tunnel" and "bridge" attributes for the feature.  This occurs even when the copied attribution does not include a bridge or tunnel attribute.

[2016-01-04 14:25] sisskind opened #146 "Source field is overwritten"
On an attribution copy or conflation, the source field is overwritten, not appended to current.

[2016-01-04 14:26] sisskind opened #147 "Add options for coordinate display"
Coordinates should be able to be viewed as either DD, DMS, or UTM.

[2016-01-04 14:27] sisskind opened #148 "Scale Bar Options"
The scale bar should be able to be viewed as metric or imperial units.  The measurement tool should then use those units for their measurements.

[2016-01-04 14:37] sisskind opened #149 "Ability to save review"
Hootenanny should provide the ability to save or tag a review for later, in the event a user wants to revisit that specific feature directly at a later point, or be able to go directly to it with another user during a different session for a second opinion.

[2016-01-04 14:57] sisskind commented on #114
@bwitham @mv003348 @qwyjibojones FYI - this will be the ticket to extract issues completed in each milestone.

[2016-01-04 15:59] #82 closed

[2016-01-04 16:16] bwitham commented on #114
I think a document with links to the completed github issues per sprint is what we eventually want.  The plain text format the change log used to be in isn't as useful.

[2016-01-04 17:41] jchoi1267 commented on #104
Yup, this was caused by static path issue. Fixed path we will see if that works tomorrow..

[2016-01-04 17:50] mjeffe98 commented on #135
This was resolved in 0.2.20

[2016-01-04 18:09] sisskind commented on #135
@mjeffe98 Done

[2016-01-04 18:09] #135 closed

[2016-01-04 20:06] jchoi1267 commented on #111
Since without fcode we can not get traslation, when there is no fcode then now we empty out the entity editor.

[2016-01-04 20:58] jchoi1267 opened #150 "Refactor hoot UI to re-use iD dialog template"
iD has dialog template for creating a dialog. Instead of reusing the template, we have been introducing duplicate code for rendering dialogs.

Expand the iD dialog template to better support hoot ui and refactor hoot-ui to use the template

[2016-01-04 21:00] jchoi1267 opened #151 "Refactor control.Conflate.js"
Like old Conflict.js, Conflate.js is getting too big and need to be decomposed into separate classes.

[2016-01-04 23:35] #97 closed

[2016-01-04 23:56] #108 closed

[2016-01-05 00:11] mjeffe98 commented on #116
I can still trigger the TypeError message in the UI but it looks like it no longer prevents users from advanced if the r key is hit too quickly.

[2016-01-05 00:11] #116 closed

[2016-01-05 13:06] sisskind commented on #123
Currently cannot replicate - may be fixed in previous version.  Will move to backlog for time being and revisit.

[2016-01-05 13:38] sisskind commented on #128
@mjeffe98 Ready for test

[2016-01-05 18:29] sisskind opened #153 "Write cucumber test for "Clipping Datasets""

[2016-01-05 18:39] sisskind commented on #106
Updated existing system tests to accommodate for changes in UI (specifically UI alerts).

[2016-01-05 20:20] sisskind commented on #106
Added 'manage_tab.feature' to test set up of manage tab

[2016-01-05 20:42] mjeffe98 commented on #128
Tested on latest develop branch and clip goes to the designated folder now.  It will be included as part of the smoke test doc as well.

[2016-01-05 20:43] #128 closed

[2016-01-05 20:49] mjeffe98 commented on #127
This scenario can only be reproduced if the non-review layer is added as the secondary dataset first, followed by a review layer as the reference dataset.

[2016-01-05 20:49] #127 closed

[2016-01-05 21:02] mjeffe98 opened #154 "Adding a non-review layer as Reference and a review layer as Secondary can cause UI to freeze"
I've observed this on multiple occasions (Brazil Sao Paulo osm/geonames poi data for example) where if you add a non-review layer such as Brazil_SP_geonames as the _reference_ dataset followed by a merged layer containing unresolved reviews as the secondary dataset, the UI appears to get stuck in "Checking for reviewable features...." mode. This appears to spin for an indefinite period of time. No

[2016-01-05 21:04] mjeffe98 commented on #154
similar to #127

[2016-01-05 21:26] #111 closed

[2016-01-05 22:36] sisskind commented on #25
@bwitham I see the existing node tests as:
* ConflateTest.js
* IngestTest.js
* LoadTest.js
* TestUtils.js

Accurate?  Could ConflateTest.js already be considered replaced by current nightly cucumber test?

[2016-01-05 22:36] sisskind commented on #106
Considering this closed as updates have been made.  New progress will be worked on through #25.

[2016-01-05 22:36] #106 closed

[2016-01-05 22:41] bwitham commented on #25
@sisskind I hadn't ever looked at ConflateTest.js before, but it does look as if it could be replaced by the existing cucumber conflate test at this point.

[2016-01-06 16:50] sisskind commented on #153
Committed to develop https://github.com/ngageoint/hootenanny-ui/commit/fa50448b9cd490c645ee912cbe807e83ae86b09f

[2016-01-06 16:50] #153 closed

[2016-01-06 16:51] mjeffe98 commented on #104
So is this fixed and ready for test @jchoi1267 ?

[2016-01-06 18:55] mjeffe98 commented on #137
Occurs mainly in review mode and possibly linked to certain reviews running on 0.2.19.  Retest with current version.

[2016-01-06 19:22] mjeffe98 commented on #144
Will investigate datasets to reproduce behavior.

[2016-01-06 19:23] mjeffe98 commented on #137
Will investigate to reproduce.

[2016-01-06 19:23] mjeffe98 commented on #136
Will investigate to reproduce

[2016-01-06 19:41] mjeffe98 commented on #146
@mattjdnv investigate the spec for how they handle source fields during export.

[2016-01-07 19:56] jchoi1267 commented on #151
Committed first cut and asked Josh for review

[2016-01-07 19:58] jchoi1267 commented on #104
tested on selma and works

[2016-01-07 19:58] #104 closed

[2016-01-07 20:37] brianhatchl commented on #145
This symptom is caused by https://github.com/ngageoint/hootenanny/issues/168

[2016-01-07 20:37] #145 closed

[2016-01-07 22:16] jchoi1267 commented on #122
This smells like all the members of child relation is not being loaded

[2016-01-07 23:02] brianhatchl commented on #146
I am seeing this on Paste Tags, but that is because we have it set to overwrite.  It is trivial to change this to append, but that may cause issues with tags that have multiple values when translating to output schemas like TDS and MGCP.

I was not able to reproduce this behavior when conflating datasets.  I had two features, each with a unique 'source' tag that were matched and merged during conf

[2016-01-07 23:05] mjeffe98 commented on #146
source tags tend to be small so it's hard to exceed a 20char limit if one does happen to exist in the output spec.  Did you have any issues exporting as fgdb file in either TDS 6.1 or MGCP?

[2016-01-07 23:11] mjeffe98 commented on #146
follow-on question, @mattjdnv @brianhatchl since we are already support merging separate source tags during conflation, it seems like we should also support this using copy/paste as we are already making that assumption when conflating the features.

[2016-01-07 23:13] brianhatchl commented on #146
I didn't mean that issues would be caused by field size, but that if paste tags appends to a key that is translated, the translation will fail.  For example,
`highway=primary` gets translated to `RIN_ROI=3` & `RTY=3` in TDS.  But if the appended value is `highway=primary;road` then I assume the translation would fail.

[2016-01-07 23:15] brianhatchl commented on #146
The bigger point is that appending tag values might create an inconsistent/contradictory state for the feature.

[2016-01-07 23:54] brianhatchl commented on #146
@jasonsurratt is it possible that hoot core has a more sophisticated merge operation that can be exposed through a nodejs service.  One that varies overwrite, append, and writing to alt_tag as appropriate for the tags in question?

[2016-01-08 17:05] jchoi1267 commented on #122
This bug was caused by not implmenting code to handle relation members when highlighting feature.
Now we recursively highlight members

[2016-01-08 19:23] mjeffe98 opened #156 "Clicking on fields in red/blue conflict review table produces new behavior that slows down review process"
I think in the refactoring of Conflict.js we've added some extra latency for going through reviews.  This is one of the examples where when you click on the fields it triggers the pop-up message, "Please wait while panning to next review...".  In some cases this can delay action for 5 seconds. I think this call is unnecessary and should be removed because it will add substantial time when reviewin

[2016-01-08 19:29] mjeffe98 commented on #156
Issue is problematic because users are accustomed to clicking on the table to select the feature to look at tags, etc.  Can't have this extra downtime for each table select.

[2016-01-08 19:36] jchoi1267 opened #157 "Refactor control/utilites/Dataset.js"
Refactor control/utilites/Dataset.js

[2016-01-08 19:51] jchoi1267 commented on #156
This may not be caused by the new code but showing masking accentuated the process. Still we will need to look into optimizing the code to speed things up if possible...

[2016-01-08 21:48] mjeffe98 commented on #156
For now sounds like we should disable masking when selecting items from the review table.

[2016-01-08 22:14] mjeffe98 opened #158 "Getting reviews with single features when conflating POIs"
When conflating a Sao Paulo subset of the Brazil (geonames, OSM) data I observed a number of single feature reviews where only one feature was shown in the review table. In some cases the highlight color of the map POI does not match the review table, in other cases it does.  Typically clicking resolve proceeds to the next review but if you happen to click merge (even though there is nothing to me

[2016-01-08 22:52] mjeffe98 commented on #158
Observing multiple reviews in the dc poi dataset (dcpoi/mapcruzen) with single POIs.

ex: COLUMBIA HEIGHTS COMMUNITY CENTER; MERIDIAN HOUSE, etc.

[2016-01-08 22:58] mjeffe98 commented on #158
I think given the fact that this didn't occur in prior versions makes me believe we have introduce a new UI behavior during review.

[2016-01-08 23:26] mjeffe98 commented on #154
Also occurs when you add non-review layer as secondary and review layer as primary, as long as you add the non-review layer first and the review layer second.

[2016-01-11 12:39] sisskind opened #159 "Move attributes from feature to feature"
Provide the ability to copy, link, or move attributes from one feature to another and from an input feature to the conflation output of the same feature.  This differs from copy/paste, as this would not be moving all attribution from one feature to another.

[2016-01-11 12:46] sisskind opened #160 "Displaying TDS attributes in UI"
When displaying TDS attributes on the UI, the features identified as generic points, lines, and areas will have the wrong attributes show. For these generic features it shows the attributes of the last feature clicked with a non-generic type. This is also happening with features labeled with Highway for lines and Amenity for points of interest. If you change the to the OSM attribution it will show

[2016-01-11 12:54] sisskind opened #161 "Provide ability to export to user required schema"
Hootenanny should provide the capability to allow a user to export a custom schema.

[2016-01-11 12:56] sisskind commented on #161
Will be completed with/after https://github.com/ngageoint/hootenanny/issues/208

[2016-01-11 12:59] sisskind opened #162 "Determine best practice to change color of edited features"
When editing a feature, include a halo/highlight/change color so the user is aware of the edits that have already been made.  This could remain until the user saves their changes.

[2016-01-11 13:08] sisskind opened #163 "Allow map to pan/zoom while measuring"
The map 'freezes' when using Hootenanny measurement tools.  Users may want the ability to pan/zoom while measuring.

[2016-01-11 13:12] sisskind opened #164 "Provide all resolution options for POI Review"
Given two POI's to review, A and B, here are possible options to show a user during the POI review (need to get feedback on this):

* merge A and B (already exists)
1. Delete A
2. Delete B
3. Create merged feature C
4. All remaining A reviews are redirected to C
5. All remaining B reviews are redirected to C
* A invalid
1. Delete A
2. Set all reviews involving A to resolved
* B invalid
1. Delete B

[2016-01-11 14:33] sisskind commented on #124
@mjeffe98 Ready for test

[2016-01-11 15:44] jchoi1267 commented on #156
After looking into this, cause for this bug may be a simpler reason. We may not turning off screen lock so it is defaulting to timer which is there to ensure screen is not locked up forever... Fix might be just implementing unlock for table column click..

[2016-01-11 16:02] jchoi1267 commented on #156
Committed to release branch

[2016-01-11 16:37] sisskind commented on #133
Error message no longer covers manage tab and has white 'X' for better visibility.

![image](https://cloud.githubusercontent.com/assets/6191659/12239595/89698bee-b857-11e5-9c5d-b57e812a1b71.png)

[2016-01-11 17:28] mjeffe98 commented on #144
@sisskind I cannot reproduce this error with any of the datasets that I have containing line or area features that are part of a relation.  In both cases I have deleted the feature containing the relation and no additional nodes have been added. Please supply the dataset where this has been reported.

[2016-01-11 17:37] sisskind commented on #151
@jchoi1267 reviewed code and looks good.  new architecture/organization is well thought out, and we should probably implement on other code pieces where applicable moving forward.

[2016-01-11 17:39] jasonsurratt commented on #146
What is `alt_tag`?

There are three tag merging implementations:

* hoot::AverageTagMerger - Uses the schema to average enumerated tag types (e.g. highway=primary + highway=tertiary => highway=secondary)
* hoot::GeneralizeTagMerger - Uses the common ancestor of two tags (e.g. surface=brick + surface=asphalt => surface=paved)
* hoot::OverwriteTag2Merger - Overwrites the enumerated tags in input 2 w

[2016-01-11 17:55] sisskind commented on #144
![issue144](https://cloud.githubusercontent.com/assets/6191659/12241692/8f62dc16-b862-11e5-82eb-1d2aed0db211.gif)

[2016-01-11 17:56] mjeffe98 commented on #122
I was also able reproduce a similar issue with the attached MassNh.zip data. [MassNh.zip](https://files.zenhub.io/5693ec47547e1dfa3ce9169f)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

Review in question involves a relation (red) against a linear river feature (blue).  In this case, only the non-relation feature (blue) is highlighted even though both appear in the table.  Clicking on the

[2016-01-11 18:11] brianhatchl commented on #146
alt_tag refers to the logic mentioned here,

[2016-01-11 18:17] jasonsurratt commented on #146
The name handling applies to a lot of "name-ish" fields, but names are special. E.g `loc_name`, `official_name`, foreign language fields `name:*`, etc. But they all get handled in much the same way. If there are duplicate name fields with different values then I append the extra values into `alt_name`. If there are duplicates then I'll drop the duplicates.

I can't think of other fields right now

[2016-01-11 19:49] mjeffe98 commented on #144
@jchoi1267 @sisskind
I was not able to recreate the exact same review scenario as one above in @sisskind comment but I was able to recreate with a different feature using a subset of the original source data (attached PortAuPrince_clipped.zip).  Road feature in conflated layer (Entree Desermithe) which is b/w the small town of Juvenot and the larger town Petionville shown here appears to be a way

[2016-01-11 20:07] mjeffe98 commented on #144
This is just the screen grab of the POI markers that are generated in the conflated output for  the Entree Desermithe linear road feature.  Looking closely, it appears that they don't necessarily line up with the merged output feature but perhaps originate from either of the input layers.

![image](https://cloud.githubusercontent.com/assets/7560096/12245037/4f16c2f0-b85b-11e5-822b-865e1cca229b.png

[2016-01-11 20:59] #133 closed

[2016-01-11 21:02] #125 closed

[2016-01-11 21:13] jchoi1267 commented on #158
The failure was happening at where we load review relation members. We assumed that if context.hasEntity returns for a relation then all the members are also loaded but it turns out it was not true. Implemented so it checks loaded count vs members count and if not match load the relation.

[2016-01-11 21:14] jchoi1267 commented on #158
Committed to release branch only.

[2016-01-11 21:23] jchoi1267 commented on #154
hmm.. tested with AllDataTypeA vs review layer and no bug. May be due to new code introduced. I will check tomorrow on selma to confirm

[2016-01-11 21:25] mjeffe98 commented on #154
I would test with a larger dataset.  Sometimes AllDataTypes does not capture because there are a small number of reviews/features to load.

[2016-01-11 21:28] #124 closed

[2016-01-11 21:28] jchoi1267 commented on #151
Great! I will merge it in..

[2016-01-11 21:29] mjeffe98 commented on #122
Can @sisskind or @jchoi1267 provide the dataset that reproduced the issue?  Need to verify against that.

[2016-01-11 21:41] jchoi1267 commented on #151
Merged into Develop branch

[2016-01-11 21:41] #151 closed

[2016-01-11 23:15] mjeffe98 commented on #137
Recreated this with the PortAuPrince_osm/mgcp datasets (uncropped).  There are around 415 reviews in this data but I observed "Batman" mode when I clicked on a review against a relationand the coords switched to NaN NaN etc... and the map went black (URL coords also displayed as NaN,NaN etc..

[2016-01-11 23:19] mjeffe98 commented on #158
No longer getting this with the DC POI data but I did see it again with the SaoPaulo data e.g. Comfort Hotel Dowtown in geonames showing up a single red column but only 1 blue highlighted POI appears on the map.  It appears the color coding is getting crossed up (blue POI marker representing the geonames data on the map and a red table representing the geonames feature in the review).  @brianhatch

[2016-01-11 23:20] mjeffe98 commented on #158
Another example, Gran Corona.  I did rebuild the release branch as well so I think it has the commit.

![image](https://cloud.githubusercontent.com/assets/7560096/12249777/c746ae50-b876-11e5-867f-64707b8f33e7.png)

[2016-01-11 23:24] mjeffe98 commented on #137
example of what happens to the URL:  http://localhost:8080/hootenanny-id/#background=Bing&id=r111_550&map=NaN/NaN/NaN&overlays=,550

![image](https://cloud.githubusercontent.com/assets/7560096/12249843/58520750-b877-11e5-82bf-6dbb2ccdd14c.png)

[2016-01-11 23:27] jchoi1267 opened #166 "Make review highlight wider when selected in red/blue table"
When both red and blue features are stack on each other, it gets difficult see where blue/red feature is located. When user selects a column, make the highlight wider to accentuate the selected feature..

[2016-01-11 23:32] mjeffe98 commented on #156
Still getting significant delays after running Build.sh for release.  @jchoi1267 could you also commit to develop so I can test or do you want to constrain this fix to release?  I just want to make sure the commit made it in as I didn't see the change after rebuilding.

[2016-01-11 23:37] brianhatchl commented on #158
Yes, if in the review item, the review feature and review against feature are the same, the svg feature will get tagged with both `activeReviewFeature` and `activeReviewFeature2` css class names and the last one listed will effectively set the halo color.
https://github.com/ngageoint/hootenanny-ui/blob/develop/js/hoot/control/conflicts/map/FeatureHighlighter.js#L62-L83
One way to check is to exami

[2016-01-11 23:44] mjeffe98 opened #167 "Blue highlighted review features not displaying at default zoom level for longer linear features"
I started observing this on the release branch after a recent commit that impacted reviews for single ways against multilinestrings.  As I stepped through reviews of Haiti PortAuPrince data, noticed that on more than one instance the highlighted blue review against feature would not always display until I zoomed in further.  No longer zooming to the zoom level where both the highlighted features d

[2016-01-11 23:48] mjeffe98 commented on #167
This could be a duplicate of ngageoint/hootenanny-ui#122

[2016-01-11 23:59] mjeffe98 commented on #158
@brianhatchl thanks for the explanation.  @jchoi1267 with your commit should we still be seeing single feature reviews?

[2016-01-12 00:03] mjeffe98 commented on #167
reassigned to @brianhatchl since you are typically the color master :)

[2016-01-12 00:12] mjeffe98 commented on #167
Adding some additional notes on this.  Rendering issues mainly occur on features > 2 km long.

[2016-01-12 14:23] jchoi1267 commented on #154
checked against selma using brazil data and appears to be working. Please check...

[2016-01-12 16:21] jchoi1267 commented on #158
hmm..
Single point should be rare occurrence...
Need to revisit with SaoPaulo data

[2016-01-12 16:50] jchoi1267 commented on #158
@mjeffe98 Did couple of hundreds of clicking next using Merged_Brazil_saopaulo on selma and still can not reproduce..

Let me know after doing browser refresh you still get the problem..

Thanks

[2016-01-12 17:31] #158 closed

[2016-01-12 17:36] #156 closed

[2016-01-12 17:45] mjeffe98 commented on #122
Not occurring with a subset of Haiti roads data.  "Blue" feature always appearing.

[2016-01-12 17:45] #122 closed

[2016-01-12 17:55] mjeffe98 commented on #167
Attached useful subset of Haiti data for recreating issue.  The  review against Rue Louis E. Pouget (red) vs. mgcp illustrates issue.  Only occurs when blue feature exceeds some unknown distance.

[Haiti_subset.zip](https://files.zenhub.io/56953e195a0cfd1c5d6e86c8)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-01-12 17:57] mjeffe98 commented on #154
confirmed working now.

[2016-01-12 17:57] #154 closed

[2016-01-12 18:46] mjeffe98 commented on #144
DcGis vs DcTiger provides another good example that is easily reproduce-able. The last reviewed feature is WEST BASIN DR SW.  If you delete the merged (green) features, nodes remain but when you delete the original input data, no nodes appear.

![deleting_line_poi](https://cloud.githubusercontent.com/assets/7560096/12273253/a5d7704e-b919-11e5-9311-4348d19cb2e9.gif)

[2016-01-12 19:36] mjeffe98 commented on #137
@sisskind @jchoi1267 do we have enough information to assign to a developer?

[2016-01-12 20:07] brianhatchl commented on #167
@jchoi1267 Seems like loadMissingFeatureDependencies() is not handling relations (i.e. loading constituent ways of the relation)

[2016-01-12 20:17] mjeffe98 opened #169 "Clicking 'next' in fast succession produces error loading review members"
Getting pop-up error message, "There are no members in the review relation" after going through a review of features containing multilinestrings vs. relations.  If you click the 'n' key in quick succession before the feature is loaded you will see this.  This may also be related to the NaN issue.
(https://github.com/ngageoint/hootenanny-ui/issues/137)

Not seeing an error in the dev console associ

[2016-01-12 20:21] mjeffe98 commented on #169
Also was able to trigger NaN by clicking n really fast.

[2016-01-13 15:43] jchoi1267 commented on #167
As @brianhatchl  suggested fixed using Hoot.control.conflicts.actions.idgraphsynch.getRelationFeature

Also now delegates panning to caller since when zoomed out we do not want to zoom back in.

[2016-01-13 17:27] mjeffe98 commented on #129
verified in develop.

[2016-01-13 20:32] jchoi1267 commented on #169
Updated the setProcessing masking. Although there is sometimes 0.5 sec gaps between locking it should cover most of processing range. Could not create lock covers whole process since tile loading is extremely asychronous operation and can not cover all entry and exit points

[2016-01-13 20:32] jchoi1267 commented on #137
Updated the setProcessing masking. Although there is sometimes 0.5 sec gaps between locking it should cover most of processing range. Could not create lock covers whole process since tile loading is extremely asychronous operation and can not cover all entry and exit points

[2016-01-13 21:18] brianhatchl opened #172 "Add option to append or overwrite to paste tags with additional keybinding"
Currently the keybinding for paste tags is ctrl-shft-V and the behavior is to overwrite duplicate tags.  We could offer an append option by using ctrl-alt-V to append values for duplicate tags.

[2016-01-13 21:21] brianhatchl opened #173 "Allow user to copy specific tags from selected feature"
Currently, paste tags relies on the user to select a feature and ctrl+C to copy it, thereby copying all the feature tags.  If the user only wants a subset of tags, they could select (highlight) the rows in the tag table in the sidebar and then click a copy button.  The selected tags would then be available to paste onto other selected features as described in #172

[2016-01-13 22:49] mjeffe98 opened #174 "When data is loaded from folder the conflate form does not get populated properly"
Possibly related to changes made with Conflate.js in https://github.com/ngageoint/hootenanny-ui/issues/151

After updating my dev instance to latest develop branch code, it looks like Conflate.js can no longer read data contained in folders.  If you remove the data from the folder to root, then the form populates as expected.

[2016-01-13 22:53] mjeffe98 commented on #174
When data is loaded from a folder as opposed to root, the Conflate form is missing buttons.

In dev console, line 211 in Conflate.js is highlighted where folderList is not defined.

![image](https://cloud.githubusercontent.com/assets/7560096/12310443/2a78e58a-ba05-11e5-9ba0-d3f44c9c502e.png)

[2016-01-13 23:01] mjeffe98 commented on #174
If you remove the data from the folder to root, then the form populates fine

[2016-01-13 23:12] jchoi1267 commented on #174
The bug was from not passing in folderList properly. This got broken during conflate.js refactor.

[2016-01-13 23:13] mjeffe98 commented on #167
Looks good.  All segments were loading at the default zoom for each review.

[2016-01-13 23:13] #167 closed

[2016-01-13 23:27] mjeffe98 commented on #174
Looks like that fixed it with my local instance.  Will check again tomorrow on selma.

[2016-01-14 16:18] brianhatchl commented on #146
After the TEM, it was decided to keep the logic in the browser, and support both append and overwrite paste operations, https://github.com/ngageoint/hootenanny-ui/issues/172.

[2016-01-14 17:16] #174 closed

[2016-01-14 17:20] mjeffe98 commented on #144
@jchoi1267 can you take a look now that the issue is well documented?

[2016-01-14 17:21] jchoi1267 commented on #144
@mjeffe98 got it

[2016-01-14 18:24] mjeffe98 commented on #144
Other detail added is that the behavior changes depending on the zoom level.  When zoomed way out on certain datasets the nodes appear as separate features (circle with black dots) but when zoomed in, the nodes are no longer visible.  Must be related to loading the feature containing relations at different zoom levels.

[2016-01-14 19:16] mjeffe98 commented on #136
I cannot reproduce this issue even after leaving the Hoot UI client open with the attribute panel displayed.  Clicked on a feature and left the UI with the tags displayed for 3 hrs.  Came back and same tags displayed and was able to modify values without re-selecting the feature. This could be a unique condition in the user environment that caused the behavior described.

[2016-01-14 19:46] mjeffe98 commented on #137
Resolved > 100 reviews without getting the NaN issue to resurface.

[2016-01-14 19:46] #137 closed

[2016-01-14 19:48] #169 closed

[2016-01-14 21:05] jchoi1267 commented on #144
This bug was caused by not passing in layerName correctly during loadMissing..

[2016-01-14 21:09] mjeffe98 commented on #144
let me know when its merged and reviewed

[2016-01-14 21:14] #172 closed

[2016-01-14 22:39] sisskind commented on #114
Script complete.  Need to integrate within MakeRelease script.

[2016-01-15 14:28] sisskind commented on #114
@bwitham Can you review?

[2016-01-15 15:09] jchoi1267 commented on #144
Should be in develop branch

[2016-01-15 18:02] bwitham commented on #114
@sisskind Reviewed.  Sent you a message on gitter.

[2016-01-15 20:29] sisskind commented on #140
* Increased font size to 12pt
* Changed colors for better contrast
* Not adding lines for now, as it makes it look more cluttered.  Can revisit if need be.

[2016-01-15 22:21] brianhatchl commented on #173
![screenshot from 2016-01-15 17 21 32](https://cloud.githubusercontent.com/assets/2600932/12366947/79f7f6fc-bbac-11e5-9351-0a89c8506eae.png)

[2016-01-18 03:31] #129 closed

[2016-01-18 13:08] sisskind commented on #140
![issue-140](https://cloud.githubusercontent.com/assets/6191659/12392131/b304f8ea-bdba-11e5-9b3b-d0abde776002.png)

[2016-01-18 13:20] sisskind commented on #140
What it could look like with connecting lines.  What is lost is the fade animation when folders are opened/closed.

![issue-140](https://cloud.githubusercontent.com/assets/6191659/12392319/1a2f33cc-bdbc-11e5-9c39-c7b437a493fe.gif)

[2016-01-18 15:18] brianhatchl commented on #140
I like this.  But do the rows need the blue background at all now?

[2016-01-18 15:22] sisskind commented on #140
Only to differentiate between datasets and folders.  The icons area already doing that, but does provide a bit of contrast between the two.

[2016-01-18 16:04] njackson01 commented on #140
This looks better. How does it look with a folder inside a folder? Will the internal folder be a different color?

[2016-01-18 16:05] njackson01 commented on #140
Never mind I see it now. I think it's good.

[2016-01-18 20:03] mjeffe98 commented on #173
I'm seeing that certain tags to dot get updated after copying.  For example, input1 tag source:datetime and source:ingestdatetime were checked.  When pasting using either method (overwrite Ctrl+Shift+V or append Ctrl+Alt+V) those two tags did not get updated in the target (input2).   Also wanted to verify that if input1 amenity=restaurant and input2 amenity=post_box; If I chose the append paste th

[2016-01-18 20:30] mjeffe98 commented on #173
Added a graphic to make it clearer.

![issue173](https://cloud.githubusercontent.com/assets/7560096/12402025/1e069a80-bddf-11e5-851a-95f74dbba617.png)

[2016-01-18 21:12] mjeffe98 commented on #144
I think this is great! Change is there and I no longer see the nodes left behind with the merged features.

[2016-01-18 21:12] #144 closed

[2016-01-18 21:29] mjeffe98 commented on #146
Closed with https://github.com/ngageoint/hootenanny-ui/issues/172.  User has the option to append or overwrite the source tag depending which short-key combo they use.

[2016-01-18 21:29] #146 closed

[2016-01-18 21:33] mjeffe98 commented on #140
I think we should commit this into develop and show it as a demo to the customer.

[2016-01-18 22:20] brianhatchl commented on #173
Those tags are in the omit list, https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/behavior/paste_tags.js#L5-L27  This was done assuming those were internal hoot system tags.  We can change this behavior if we want.

Yes, for now.  I'm working on generating a list of enumerated tags from the hoot schema json files that we can use to implement an always overwrite rule.

[2016-01-18 22:57] mjeffe98 commented on #173
Ok thanks.

[2016-01-19 19:23] sisskind commented on #140
Sidebar now expandable.  Min width is 33.3% of window size.  When expanding, will cover the map, toolbars, etc.  If user double clicks on the resizable anchor, will reset size back to 33.3%.

[2016-01-19 22:03] mjeffe98 opened #175 "Hovering over merge button triggers message "Please wait while loading tiles""
It seems we have introduced some inadvertent behavior.  Now when you hover over the merge button to see the arrow, a request is sent to the server.  This seems unnecessary and will slow down the review process significantly. This is appearing in latest develop branch.

When hovering over merge button or immediately following this hovering over any other button the following post request is made fr

[2016-01-19 22:06] mjeffe98 commented on #175
Note the cursor location when the update occurs.

![hoot-ui-175](https://cloud.githubusercontent.com/assets/7560096/12433368/958cff32-beb5-11e5-8aac-248a8ff3f49d.gif)

[2016-01-19 22:45] jchoi1267 commented on #175
It was caused by load Arrow updating the vector tile. Now added check to see if arrow is being displayed if so do not block..

[2016-01-19 22:49] mjeffe98 commented on #175
@jchoi1267 did you submodule synch?

[2016-01-19 22:51] jchoi1267 commented on #175
LOL. This time I have remembered. But next time when you do not ask I would have forgotten..Murphy's law

[2016-01-19 22:52] mjeffe98 commented on #175
git log tells me everything :)

[2016-01-19 23:10] brianhatchl opened #176 "Paste tags: use a list of enumerated tags to always overwrite"
The paste tags #172 now operates in two modes: overwrite (Ctrl+Shift+V) and append (Ctrl+Alt+V).  However, some tags are enumerated and should never have multiple values.  To enforce this, the paste tags code could use a list of enumerated tags to **always** overwrite the target value when pasted.

Hoot maintains a schema of osm tags that could be used to generate this list.

[2016-01-19 23:20] mjeffe98 commented on #175
muy bien.  thanks @jchoi1267 for the quick turn around.

[2016-01-19 23:25] #175 closed

[2016-01-20 14:05] sisskind commented on #140
Dataset name will add '...' and show full name on hover if it is too long (and covers size).

[2016-01-20 15:06] brianhatchl commented on #176
Might want to compare the hoot schema list of enumerated tags with this, http://wiki.openstreetmap.org/wiki/Map_Features

[2016-01-20 17:46] sisskind opened #177 "Search radius not returning different results"
When I adjust the search radius in advanced conflation options, it does not appear that the number of review items increases or decreases (same no matter what).

[2016-01-20 17:47] sisskind opened #178 "Adjust line width"
As a user of Hootenanny, I would like the ability to adjust line width of vectors for better visualization.

[2016-01-20 18:19] sisskind commented on #159
#173 address this task.

[2016-01-20 18:19] #159 closed

[2016-01-20 18:33] sisskind commented on #177
Step 1. Find dataset where results should increase depending on search radius.

[2016-01-20 18:40] bwitham commented on #177
As you increase the search radius, you will *sometimes* then match features which were previously marked for review only, thus decreasing reviews (runtime can increase as well).  New reviews could also be incorporated into the results as the search distance increases.  So, the overall number of reviews may or may not change that much with an increase in search radius, but the reviews themselves  m

[2016-01-20 18:50] sisskind commented on #143
#105

[2016-01-20 18:56] brianhatchl commented on #177
Might want to decrease the radius then, and see if you get fewer.

[2016-01-20 19:01] bwitham commented on #177
Right, that may be a more straight forward way to do it.

For POI's, search radii are handled a little differently (assuming its unifying), and I'm not sure that the UI distance setting has any affect on that conflation.  See rules/PoiGeneric.js for the distance thresholds there, if needed.

[2016-01-21 17:17] #114 closed

[2016-01-21 17:17] sisskind commented on #140
@mjeffe98 Can you test?

[2016-01-21 17:34] mjeffe98 commented on #140
@sisskind I saw that resize folder window (the window where datasets and folders are listed)` was not crossed off.  Was that supposed to be included?

[2016-01-21 17:39] sisskind commented on #140
Corrected -- just forgot to update.

[2016-01-21 18:29] #140 closed

[2016-01-22 23:25] mjeffe98 opened #180 "Missing export/add additional layer option after resolving reviews"
When you resolve all reviews either manually by stepping through and resolving or using the Complete Review | Resolve all remaining option, the export/add new layer to conflate buttons are missing.  This is missing in both the release and develop branches.  @jchoi1267 @sisskind was this intentionally removed or is a form not loading after resolving reviews?

![hoot_export_results](https://cloud.gi

[2016-01-23 01:57] sisskind commented on #132
@mjeffe98 Ready for test.  Please review the new text in the help menu.  Let me know if there are edits to be made, or if you want to update in core.yaml.

[2016-01-25 13:38] sisskind commented on #121
@mjeffe98 Ready for testing

[2016-01-25 15:44] sisskind commented on #177
@jchoi1267 Can you review https://github.com/ngageoint/hootenanny-ui/commit/b6ae2223e43a48981ccfed6285994e758bc05f81?  Looks like it was taking the default value for list items no matter what, even if they had been updated.

[2016-01-25 15:46] jchoi1267 commented on #177
Will do

[2016-01-25 15:54] jchoi1267 commented on #180
This was caused by .review element was being removed while being in use. It was handled by conflict.deactivate function which is used widely and some needed to remove .review and others handled it by itself. Had to go through each function to make sure whether it was not being used when deactivated if in use add switch to prevent it from being removed

[2016-01-25 16:42] jchoi1267 commented on #177
Looks like you've got the fix! Tried changing Search Radius Highway and with old code it was not updating but with your fix it is passing correct value.
Let me know if you want me to do merge..

[2016-01-25 16:57] bwitham opened #184 "Review UI: Enable the merge tool for reviews of building footprints."
r6337

[2016-01-25 17:20] sisskind commented on #177
Thanks Jong! I can throw the merge together!

[2016-01-25 17:57] bwitham opened #186 "Error importing Phillippines OSM dataset into UI"
gis-data/pacom/philipines/osm/philippines-12Mar14.osm

Error upon importing dataset from UI:

2016-01-25 12:50:52,222 ERROR JobResource:216 - Failed to execute.Error running convert:
Parse error at line 1, column 1:
error occurred while parsing element
make: *** [step1] Error 255

[2016-01-25 18:24] bwitham opened #187 "Error when trying to export OSM"
I think this will happen with any layer, but have only reproduced it with DcGisRoads.osm and an Egypt buildings shape file so far:

1. import DcGisRoads.osm into the UI
2. right click export to OSM (don't think the translation selected matters)

You get this error:

2016-01-25 13:19:06,090 ERROR JobExecutionManager:225 - Job with ID: ex_5c1ca45c49434652b2de33bb0c1bc02e failed: Failed to execute.Er

[2016-01-25 18:29] mjeffe98 opened #188 "Clipped datasets do not have bounding boxes"
When clipping/subsetting data using either visual extent or bounding box there is no bounding box getting generated.  @brianhatchl  I also noticed that mapnik tiles weren't getting generated but this may end up being a separate ticket depending on the diagnosis here.  I tested on develop and release using different POI datasets e.g. Latvia500 etc..

[2016-01-25 18:31] sisskind commented on #188
@mjeffe98 Unsure I am the right assignee -- may be more of an ingest issue as opposed to a clipping issue.  Can discuss at next sprint planning.

[2016-01-25 18:32] mjeffe98 commented on #188
@sisskind new datasets get bounding boxes but not clipped ones.  Since you wrote the original code I thought you were the best assignee

[2016-01-25 18:39] mjeffe98 commented on #187
@jchoi1267 did we reintroduce the old bug of exporting .osm files?

[2016-01-25 18:40] mjeffe98 commented on #187
since this is fairly critical I believe it should be included in current sprint.

[2016-01-25 18:42] jchoi1267 commented on #187
I surely smell like it! Looking into it.. (I will never finish 149 :-( )

[2016-01-25 19:22] jchoi1267 commented on #187
@mjeffe98 Looked into this and this is bug created by bug fix. :-)
services.db.reader.email was broken so temporarily I have changed to use services.db.writer.email. Now services.db.reader.email is fixed so it is broken again. I will change back to services.db.reader.email

[2016-01-25 19:24] bwitham commented on #187
services.db.reader.email and services.db.writer.email seem to be the exact same setting now.  I'd just collapse them to services.db.email and then avoid this type of thing in the future.

[2016-01-25 19:26] jchoi1267 commented on #187
Thanks

[2016-01-25 21:10] sisskind commented on #138
@brianhatchl Does this occur with merge arrow as well?

[2016-01-25 21:13] brianhatchl commented on #138
yes.

[2016-01-25 21:15] sisskind commented on #138
Is there a mitigation, or is this just accepted because any layer w/interactivity needs to exist in front of #surface?

[2016-01-25 21:16] brianhatchl commented on #138
I guess it just hasn't been reported as a problem yet.

[2016-01-25 21:18] sisskind commented on #138
Moving to backlog and reporting to iD repo for resolution.

[2016-01-25 21:27] sisskind opened #189 "Clip dataset with custom shape"
There needs to be the ability to clip a dataset with a custom shape, similar to alpha shape for horizontal conflation.  Currently it is limited to a rectangular shape.

[2016-01-25 22:51] mjeffe98 commented on #132
Looks good.  Thanks @sisskind

[2016-01-25 22:54] mjeffe98 commented on #121
tested with FF v43.0.4

[2016-01-25 22:54] #121 closed

[2016-01-25 22:55] #187 closed

[2016-01-26 14:44] sisskind commented on #139
For future reference:
[code]

[Source](http://stackoverflow.com/questions/1425892/how-do-you-merge-two-git-repositories)

[2016-01-26 18:01] sisskind commented on #139
https://help.github.com/articles/merging-an-upstream-repository-into-your-fork/

[2016-01-26 19:06] mjeffe98 commented on #132
Looks like this commit was reverted in 0.2.20-259-gc43c1da-dirty(Hootenanny)

[2016-01-26 19:15] mjeffe98 commented on #180
I don't see this functioning in latest on develop (0.2.20-259-gc43c1da-dirty)

[2016-01-26 19:28] sisskind commented on #132
Looks okay on current branch of Develop.

[2016-01-26 20:52] #132 closed

[2016-01-26 20:59] #180 closed

[2016-01-26 21:09] bwitham commented on #105
_Should we run stats with every conflate command? or add an option to the UI?_

I'd keep stats optional.  They can get pricy for large datasets.  Some may not be interested in the extra overhead incurred.

[2016-01-26 22:59] mjeffe98 opened #190 "Add test-mode back into Help Menu"
After refactoring the help menu per https://github.com/ngageoint/hootenanny-ui/issues/132 we need to add the test-mode option as a check box to turn on reporting and other debugging params.

[2016-01-26 23:02] mjeffe98 commented on #190
nevermind.  I see it in manage.

[2016-01-26 23:02] #190 closed

[2016-01-26 23:10] mjeffe98 commented on #177
Verified that updated values are getting passed when clicking on show values option.  Also in output, if you specify 5m vs. 100m as the road search radius with Haiti roads data you get fewer reviews so it is having an impact on the conflation job.

[2016-01-26 23:10] #177 closed

[2016-01-27 13:32] sisskind commented on #139
May need to revisit css/map.css

[2016-01-27 23:13] sisskind commented on #139
need to revisit js/id/svg/tag_classes.js

[2016-01-28 22:15] sisskind commented on #139
Need to run: ```sudo npm install svg-sprite -g```

[2016-01-29 01:40] mjeffe98 commented on #188
I think this is no longer an issue

[2016-01-29 01:40] #188 closed

[2016-01-29 02:47] sisskind commented on #139
https://github.com/openstreetmap/iD/issues/2785#issuecomment-176526383

[2016-01-29 03:18] #134 closed

[2016-01-29 16:58] sisskind commented on #139
Moved to backlog pending ATP.

[2016-01-29 17:12] sisskind commented on #139
Main issue with initial merge was with new SVG icons.
Remember to run ```npm install svg-sprite -g``` when doing merge in future.

[2016-01-29 19:13] sisskind opened #192 "Update Cookie Cutter Boundary Tolerance"
2km buffer is not practical for smaller conflation areas and may prove more valuable to enable users to choose the proper thresholds to perform the cookie cutter capability for isolated conflation.  Provide the ability to allow user defined buffer capability for cookie cutter conflation.

[2016-01-29 19:20] sisskind opened #193 "Translation Assistant: Mute 'Ignore remaining attributes' notification"
Remove message "Ignore remaining attributes?" that pops up when mapping fields to osm tags in the Translation Assistant tab, as it makes it more time consuming to move through the attributes when you have to repeatedly click cancel on this message.  Rather, create a toggle/checkbox to ignore remaining/all attributes.

[2016-01-29 21:31] sisskind opened #194 "View where reviews have occurred"
Provide the ability to show what area of the AOI that you have already reviewed to prevent from going over the same area twice.  Similar to HOT tasking, where you click a square to edit, and it turns yellow.

[2016-01-29 21:33] sisskind opened #195 "Progress Bar"
Make the progress bar more accurate, and have it actually go from 0 to 100% when importing data.  Also provide an estimated time to completion, if possible.

[2016-01-29 21:37] sisskind opened #196 "Get Dates for Imagery"
There is currently no known method to find out the date of your imagery that is being viewed for your background.   This is important to know, because of the differences there may be on what is collected and what is showing up on the imagery. 

[2016-01-29 21:49] sisskind opened #197 "Minimum Width for Review Table"
If a review feature does not have any attribution, the review table column does not appear (or is 1-2 pixels).  Setting a minimum width value would eliminate this issue.

[2016-01-29 21:51] sisskind opened #198 "Nodes remain when layer turned off"
Nodes for lines remain on the screen when the layer is turned off in background setings.  Once the map is panned/zoomed, the nodes disappear. While the nodes are visible, they can be clicked on and interacted with.

[2016-02-01 01:21] sisskind commented on #148
@mjeffe98 Ready for testing.  To change the metric, click on the value in the scale bar (i.e. 500, etc.)  Then run measurement tool to ensure that it is using the same value as the scale bar.

[2016-02-01 17:50] sisskind opened #200 "Upload FileGDB on Firefox is not working"
The file explorer window for Firefox does not allow the user to select a File Geodatabase, but 'drives down' to within the directory.

[2016-02-01 17:53] sisskind opened #201 "FileGDB Import creates default name from every file within FGDB"
When importing a File Geodatabase, the default name should be taken from the name of the File GDB, not all of its contents.

[2016-02-01 18:40] jasonsurratt commented on #105
Not, now but @mingjiesu could knock that out quickly. How about [--stats [output.json]]?

This would also be easy to implement, but it is important to note that the stats would become stale almost immediately. Would we want to store the time that they were updated in the metadata too?

[2016-02-01 18:54] brianhatchl commented on #105
This would be helpful.  I'm currently redirecting to stdout and then parsing the CSV in the hoot-ui code into json.

In this case, I think the interest is more in the performance of the conflation and less in the accuracy of the reflecting the current state of the merged dataset.  But you raise a good point.

[2016-02-01 21:22] brianhatchl commented on #105
New 'Collect Statistics?' option in Conflate menu:
![stats-option](https://cloud.githubusercontent.com/assets/2600932/12731685/07fbd864-c900-11e5-81de-2a2cdd622fc9.gif)

[2016-02-01 21:23] brianhatchl commented on #105
New layer control to display conflation settings and statistics:
![stats-control](https://cloud.githubusercontent.com/assets/2600932/12731708/271b6624-c900-11e5-8084-65cab8ef97e8.gif)

[2016-02-02 16:00] sisskind opened #203 "Persist filter type in feature editing/creation"
When creating a new feature, the filter by type should persist throughout feature creation (i.e. Select by type --> Edit Feature).

[2016-02-02 21:14] sisskind opened #205 "Translation Assistant on Selected Feature Classes"
As a user of Hootenanny, I need the ability to select an individual feature class or multiple feature classes from a file geodatabase when creating a new translation using Translation Assistant.  In the user interface this would take the form of being able to display the contents of a file geodatabase followed by the user selecting the feature class or classes to be brought into the Translation As

[2016-02-02 21:14] sisskind commented on #205
@mattjdnv Is this feasible to create new translation (forgetting the UI portion)?

[2016-02-02 21:15] sisskind opened #206 "Ghost graphics"
When turning the data layers graphics off, some of the graphics would still show up.  After turning the same data layer on and off a couple times all the graphics would finally disappear.

[2016-02-02 21:16] sisskind opened #207 "Modify Folder Name Placeholder"
When you select "Modify" on a folder, the menu box pops up, if you change the name of the folder in the modify menu, the whole existing title disappears.  Sometimes you may want to add or delete a word without having to type the whole title in.  Some of my titles had 10 digit numbers in them and it became impossible to remember all those digits when it disappeared while changing the name.  Plus th

[2016-02-02 21:19] sisskind opened #208 "Translation Assistant Field Search"
Currently Hoot will only show options or will autopopulate a field name when an analyst writes out the field name starting with the first word and those thereafter in order.  In cases you may only know part of the field name such as track or lane count, if you type lane nothing populates and you are then required to open up the schema documentation to find the exact field where in a lot of cases w

[2016-02-02 22:42] mjeffe98 commented on #148
I am noticing that with the latest develop ( 0.2.20-317-g1122335) I can no longer toggle the units of the scale bar.  @sisskind can you confirm that?

[2016-02-02 23:20] mjeffe98 opened #209 "Node Mapnik rendering does not appear to work with OSM palette"
When viewing a layer in the map with the mapnik rendering displayed, if you select the OSM palette from the color picker it just paints the line work or POIs as pink  It doesn't appear that this symbology is available for the mapnik renderer.

[2016-02-02 23:21] mjeffe98 commented on #209
@sisskind or @brianhatchl perhaps you can investigate

[2016-02-02 23:24] mjeffe98 commented on #209
![image](https://cloud.githubusercontent.com/assets/7560096/12767908/0e123808-c9c1-11e5-9638-af7fa8786854.png)

[2016-02-02 23:27] mjeffe98 commented on #209
![hoot_color_picker 1](https://cloud.githubusercontent.com/assets/7560096/12767970/63255014-c9c1-11e5-851e-3d952805f453.png)

[2016-02-03 03:56] mjeffe98 commented on #173
@brianhatchl I was experimenting with this

[2016-02-03 04:11] mjeffe98 commented on #173
In addition I did see some cases where it was possible to paste two highway values e.g. highway=road;yes.  Have we set up the rules to prevent that from happening yet?

[2016-02-03 15:00] brianhatchl commented on #209
That's a known issue.  I don't have an osm style in the node-mapnik-server and the default color is pink.  If we think it is important, we can look to add one.

[2016-02-03 15:04] brianhatchl commented on #173
Totally.  If not something is wrong.

You still have to choose between overwrite (Ctrl+Shift+V) and append (Ctrl+Alt+V).  We have not taken action on the ticket to always overwrite enumerated tags, https://github.com/ngageoint/hootenanny-ui/issues/176.

[2016-02-03 16:14] sisskind commented on #148
@mjeffe98 I am able to adjust in Version: 0.2.20-317-g1122335-dirty.

[2016-02-03 16:26] mjeffe98 commented on #148
@sisskind must have been something on my local dev environment. I confirmed it with selma.

[2016-02-03 16:26] #148 closed

[2016-02-03 16:56] sisskind commented on #178
@mjeffe98 Ready for testing.  Find in Manage Tab > UI Settings.

[2016-02-03 17:13] brianhatchl commented on #173
I'm unable to reproduce this.  Maybe you can webex demo this for me?

[2016-02-03 17:27] mjeffe98 commented on #173
Yes I can.  I've been testing with some POIs and seem to reproduce my workflow consistently.

[2016-02-03 17:39] mjeffe98 commented on #173
User Error. The act of checking the tag boxes copies the selected tags.  Will update the documentation accordingly.

[2016-02-03 17:39] #173 closed

[2016-02-03 18:56] sisskind commented on #205
This functionality is already found within Hootenanny.

[2016-02-03 18:58] sisskind commented on #205
@brianhatchl to confirm existing functionality

[2016-02-03 19:06] brianhatchl commented on #196
Seems like it is possible to get image capture date from Bing tiles in the HTTP response header:
[code]

[2016-02-03 19:37] mjeffe98 commented on #178
I like the control but my only suggest would be to move it from Manage | UI Settings to the layer control.  The reason being typically when you are adjusting symbology, you generally don't want to toggle back and forth b/w an admin console.  If that is too cumbersome or other UI guys like @brianhatchl @jchoi1267 disagree than we'll leave it as is.

[2016-02-03 19:49] sisskind opened #211 "Cannot run conflation with statistics option"
When I run a conflation job with the statistics option turned on, I get the following error:

2016-02-03 19:32:12,911 ERROR JobExecutionManager:225 - Job with ID: 46e5f8b1-79ec-40c7-bdfa-890e87e59ca7 failed: {"chainjobstatus":"46e5f8b1-79ec-40c7-bdfa-890e87e59ca7","childrencount":"3","children":[{"id":"9104647a-141e-481f-9730-1934ae260664","detail":"Failed to execute.\/home\/vagrant\/hoot\/scripts

[2016-02-03 19:50] mjeffe98 commented on #105
I cannot generate a stats layer using either FF v44.0 or Chrome Version 48.0.2564.97 (64-bit)

[2016-02-03 19:50] sisskind commented on #211
I've noticed this issue again.  Please take a look - @mjeffe98

[2016-02-03 20:02] sisskind commented on #211
Closing - duplicate of #105

[2016-02-03 20:02] #211 closed

[2016-02-03 20:03] sisskind commented on #105
2016-02-03 19:32:12,911 ERROR JobExecutionManager:225 - Job with ID: 46e5f8b1-79ec-40c7-bdfa-890e87e59ca7 failed: {"chainjobstatus":"46e5f8b1-79ec-40c7-bdfa-890e87e59ca7","childrencount":"3","children":[{"id":"9104647a-141e-481f-9730-1934ae260664","detail":"Failed to execute.\/home\/vagrant\/hoot\/scripts\/makeconflate:57: *** commands commence before first target. Stop.\n","status":"failed"}]}

[2016-02-03 20:47] mjeffe98 commented on #143
@sisskind is this testable if #105 is still being worked on?

[2016-02-03 20:49] sisskind commented on #143
@mjeffe98 Would say yes.

[2016-02-03 21:36] mjeffe98 commented on #178
Going to mark as closed for now since the task is complete.

[2016-02-03 21:36] #178 closed

[2016-02-03 21:51] mjeffe98 commented on #143
I can see by clicking on the `i` next to the layer the parameters and options listed.  I believe this satisfies the ticket criteria.

[2016-02-03 21:51] #143 closed

[2016-02-03 22:13] mjeffe98 commented on #105
Initially got the error:
`2016-02-03 13:57:19,140 ERROR JobResource:216 - Failed to execute./bin/sh: 1: cannot create /home/mjeffe/hoot/data/reports/Merged_Roads_dc_stats-stats.csv: Permission denied
make: *** [step1] Error 2`

but then chmod 777 the hoot/reports dir and was able to generate the stats.  I don't know if this is something generally handled by the Vagrant script or by some other mech

[2016-02-03 22:13] #105 closed

[2016-02-03 22:53] mjeffe98 commented on #149
@jchoi1267 I'm having issues when I click on the magnifying glass for saved reviews.  It loads the review but then doesn't take me to the correct zoom level or load the review.  The error below is reported in the dev console. Tested this in both Firefox and Chrome.

locale.js
`Missing en translation: review.sharereview.descriptiont @ locale.js:32(anonymous function) @ Conflicts.js:247show @ bootst

[2016-02-04 14:15] jchoi1267 commented on #149
@mjeffe98 hmm.. I will need help from you to reproduce this. I will call when I get back in office.

[2016-02-04 15:08] sisskind commented on #131
@mjeffe98 Ready for test.  Should be able to see entire sidebar, including the plus sign under relations.

[2016-02-04 16:00] mjeffe98 commented on #149
@jchoi1267 I'll check to see if this is happening on the develop branch on selma.

[2016-02-04 20:42] jchoi1267 commented on #149
@mjeffe98 This discovered another bug in review. Now we have 2 bugs..

[2016-02-04 21:45] mjeffe98 commented on #178
Something we should consider @brianhatchl @sisskind, the path width setting is only going to apply to the feature rendering at the "Edit" zoom level so mapnik rendering will not be impacted.  I suspect that some of the requests for this may have come from a desire to modify the mapnik rendering but could be wrong.

[2016-02-04 22:08] mjeffe98 opened #213 "POI merge failure"
Anytime I try to merge 2 POIs an error appears in the UI console, "poi merge failure".

rest.js:8  `Uncaught TypeError: Cannot read property 'output' of undefined`

[2016-02-04 22:10] mjeffe98 commented on #213
could be related to https://github.com/ngageoint/hootenanny/issues/302

[2016-02-05 14:50] jchoi1267 commented on #213
@mjeffe98 having trouble reproducing using DcPoi and AllDataTypes. Will call

[2016-02-05 15:31] jchoi1267 commented on #149
It was caused by callback function being overwritten.

[2016-02-05 15:38] mjeffe98 commented on #213
@bwitham @jchoi1267 looks like this is no longer an issue on latest develop

[2016-02-05 15:40] jchoi1267 commented on #149
Done with submodule synch.

[2016-02-05 19:40] jchoi1267 commented on #130
Made change such as when mouse hovers on a reviewable feature then all related ones are highlighted with same color (red/blue)

submodule synched

[2016-02-05 20:54] mikejeffe opened #214 "Possible improvement for Save Review"
Just thinking off the cuff here but thinking if there would be a way to add the names of the features under review automatically to the title.  Just a quick way to provide some additional context for people sharing/saving reviews.

[2016-02-05 20:54] mjeffe98 commented on #214
@jchoi1267 any ideas on this?

[2016-02-05 21:10] jchoi1267 commented on #214
@mjeffe98 When you say names of features do you mean feature id?

[2016-02-05 21:14] mjeffe98 commented on #130
TBH I'm not sure that the highlighting of these features is obvious enough to make it easier to interpret a review against relations.  Particularly for roads, it doesn't appear to be any different than before.  For POIs, I do some some benefit of the color association but it's not enough to make this obvious.  I think this just needs more input.  For example, what about an option to show all relat

[2016-02-05 21:30] mjeffe98 commented on #214
no I was thinking the actual name tag.  For example: `Dome hotel` & `Port Hotel`. We can talk more about it with the group.  I like the added context of the name and given that some names are in foreign languages, adding it automatically means the user doesn't have to type it if they want to have that as part of the description.  These are just ideas.

[2016-02-05 21:36] mjeffe98 opened #215 "Hovering over blue POI to show relation makes red POI display as blue"
Looks like the review against relation changes for #130 have caused an undesirable side effect where when you hover over the blue POI in a review it actually shows the red POI as blue.

[2016-02-05 21:42] #149 closed

[2016-02-05 21:46] #131 closed

[2016-02-05 21:56] mjeffe98 opened #216 "Layer name has a fixed limit in the Add Dataset window"
Since we now have the ability to expand the side bar, it doesn't make sense that we would limit the char display for layer names e.g. PortAuPrinceMGCPRoadsBu..... in the tree view.

![image](https://cloud.githubusercontent.com/assets/7560096/12860135/93445a1a-cc0f-11e5-8e75-7c587250badf.png)

@sisskind what do you think?

[2016-02-05 22:09] mjeffe98 commented on #130
WRT road features, I don't see any change in how the visualization occurs b/w a feature and a relation.  In this image, the blue highlighted feature is the relation and the red, the road.  Nothing appears to happen when you hover over either.

![image](https://cloud.githubusercontent.com/assets/7560096/12860439/5b9db5f0-cc11-11e5-98dc-42952535d009.png)

[2016-02-05 22:10] jchoi1267 commented on #215
fixed and submodule synched

[2016-02-05 22:14] jchoi1267 commented on #130
@mjeffe98 which dataset should I use?

[2016-02-05 22:15] mjeffe98 commented on #130
@jchoi1267 I used the haiti subset ones.  Any roads data would probably work though.

[2016-02-07 16:26] sisskind commented on #166
@jchoi1267 Rather than on click event, what about on hover?

[2016-02-07 21:34] sisskind commented on #166
@mjeffe98 Ready for test.

[2016-02-08 15:14] jchoi1267 commented on #130
This is good one. Currently only node and ways are being handled. Looking into relation

[2016-02-08 16:21] jchoi1267 commented on #130
@mjeffe98 At least relation flashing is fixed. Now I am looking into relation Arrow..

[2016-02-08 18:06] jchoi1267 commented on #130
made one more change so it does not change other member (i.e. if review than do not change review_against)

[2016-02-08 18:08] jchoi1267 commented on #130
submodule upadated

[2016-02-08 19:36] #215 closed

[2016-02-08 20:51] mjeffe98 commented on #166
@sisskind can you include a screen capture of this?  I need to confirm first.

[2016-02-08 20:52] #197 closed

[2016-02-08 21:02] mjeffe98 commented on #166
For example if you look at this POI set (dcpoi and mapcruzen), the DC BILINGUAL PCS and blue District of Columbia Bilingual ...  pois actually fall pretty near on top of each other.  When either are selected there is no difference in halo size.  I need to know what to be looking for to determine whether there is a behavior change.

![image](https://cloud.githubusercontent.com/assets/7560096/128989

[2016-02-08 21:17] sisskind commented on #166
@mjeffe98 Will set back to 'In Progress' for POIs and also for roads.

[2016-02-08 23:16] mikejeffe opened #219 "Translation Assistant errors out when trying to upload a .zip containing a gdb."
Data for this provided in https://github.com/DigitalGlobe/dgis-devops/files/116646/hg_SY_RelPOI.zip

When you upload hg_SY_RelPOI as the .zip it errors out with the message below but when you unzip the contents and load the .gdb folder itself the TA does not produce an error.

"2/8/2016, 3:11:19 PM: Job failed.\nFailed to execute.Error running attribute-count:\nattribute-count takes at least one p

[2016-02-08 23:18] mjeffe98 commented on #219
Note I'm not referring to all cases, just this particular dataset.

[2016-02-09 14:00] jchoi1267 commented on #157
Need to bring this to this iteration since it is tied to 283

[2016-02-09 14:57] sisskind commented on #166
@mjeffe98 Ready for test.  Will update gifs shortly to show changes.

[2016-02-09 15:40] sisskind commented on #166
![issue166](https://cloud.githubusercontent.com/assets/6191659/12921069/858d8876-cf19-11e5-9811-97ca39a12477.gif)

[2016-02-09 16:13] sisskind commented on #166
![issue166-poi](https://cloud.githubusercontent.com/assets/6191659/12922088/1672f78c-cf1e-11e5-94b3-3342c76faa3f.gif)

[2016-02-09 16:24] #201 closed

[2016-02-09 16:51] mjeffe98 commented on #166
Everything seems to be working now.  Thanks for fixing @sisskind

[2016-02-09 16:51] #166 closed

[2016-02-09 18:38] sisskind commented on #207
@mjeffe98 Ready for test.  If you click in the input text field, you should have the current name to start.

[2016-02-09 21:43] sisskind commented on #200
This is not a Hootenanny issue - it is a Firefox issue.

References:
* https://bugzilla.mozilla.org/show_bug.cgi?id=876480
* https://bugzilla.mozilla.org/show_bug.cgi?id=782233

Will investigate alternative method where user can zip a File GDB and upload that.

[2016-02-10 17:25] mjeffe98 commented on #207
@sisskind just want to clarify that there is no "modify" option in the UI that I am aware of.  The action is to "Rename (layer name)".  Looks like it's working as expected.

[2016-02-10 17:25] #207 closed

[2016-02-10 17:53] sisskind commented on #207
@mjeffe98 Yes -- Rename == Modify in this ticket.

[2016-02-10 18:23] mjeffe98 opened #222 "Clip tools output name removes text when you click in the field"
Similar to fix for https://github.com/ngageoint/hootenanny-ui/issues/207 we should keep the original text in the Output Name so that the user is not required to re-enter the original text.  Should just keep the name and allow the user to modify existing not blank it out completely.

[2016-02-10 18:24] sisskind opened #223 "Move line width toggle to side bar menu"
Move UI Settings tab from manage tab to the sidebar, along with the "Fill Areas" menu.

[2016-02-10 18:28] mjeffe98 commented on #222
![clip output name](https://cloud.githubusercontent.com/assets/7560096/12957333/01ecb4e2-cfe1-11e5-9eba-e7e7f871f45f.gif)

[2016-02-10 18:31] sisskind opened #224 "Publish basemap button feedback"
After clicking the publish basemap button, there should be some feedback (spinner, etc.) that the button has been pushed and the basemap is being loaded.  In version 2.20, nothing occurs to show the basemap is loading.

[2016-02-10 18:32] sisskind opened #225 "Nodes for hidden layers appear"
During conflict review, nodes for a hidden layer are visible when a feature under review is selected.  Image to follow with example.

[2016-02-10 18:39] mjeffe98 commented on #225
Josh I believe this issue has been resolved with https://github.com/ngageoint/hootenanny-ui/issues/144.  What exactly is a "hidden layer"?

[2016-02-10 18:44] sisskind commented on #225
@mjeffe98 Believe this is different.  Hidden layer in this context is one with visibility turned off.  It would be the reference dataset, for example, vs the conflated result.

[2016-02-10 18:51] mjeffe98 commented on #225
Ok if that's the case please provide an example with datasets.  When #144 was fixed, there was a short period of time after when I noticed that during review some of the nodes were displaying for merged features but currently, I am unable to reproduce that issue.

[2016-02-10 20:30] sisskind commented on #223
![issue-223](https://cloud.githubusercontent.com/assets/6191659/12960801/34482a64-d00b-11e5-8328-c1edd4f55d11.png)

[2016-02-10 20:34] sisskind commented on #223
@mjeffe98 Ready for testing.  Took your advice by placing it in higher visibility area within UI.

[2016-02-10 23:07] mjeffe98 opened #228 "Provide a mechanism to view conflation stats and info after merged layer is removed from Map"
If you set Collect Stats = true, you can view the Parameters, Options, Statistics for a given conflation job but once the layer has been removed from the map following the resolving of any review, the 'i' button no longer appears making it impossible to view the layer stats from the UI.  We should probably provide a mechanism to allow users to view this as it might be necessary to review the param

[2016-02-10 23:18] brianhatchl commented on #228
I think you mean

But I see what you mean, it's an oversight on my part.  The intention was any time you add a dataset to the map, it should display the 'i' button (stats, review-mode, or not).

[2016-02-10 23:22] mjeffe98 commented on #228
yup, maybe we can just say, allow the layer information to be viewable after reviews have been resolved..

[2016-02-11 15:56] brianhatchl opened #229 "Fix imagery validation UI code"
Imagery validation UI code needs to catch up with the changes made for the review as relation refactoring.

[2016-02-11 17:23] mjeffe98 commented on #223
@sisskind very nice.  I think it is easier to use now.

[2016-02-11 17:23] #223 closed

[2016-02-11 20:36] sisskind commented on #200
After conferring with Jong, it appears that we can force the zipped GDB through using same mechanism as shapefile.  Will adjust the UI to accept GDB on Firefox only as zipped using same methodology.

[2016-02-11 21:11] brianhatchl commented on #229
@jchoi1267 @jasonsurratt @bwitham Question about review relations as I get the imagery validation workflow re-wired to match.  I notice that we are not deleting the relation when a review is resolved, rather we just update the tag `hoot:review:needs = no`.  What was the reasoning behind this?

I was writing the image validation code to remove the member feature from the relation and then delete th

[2016-02-11 21:15] bwitham commented on #229
I'm sure Jong knows better, but some of the reasoning was for provenance.  So, I can see what was reviewed after someone reviewed it.  There's no user accounts, so I guess you still won't know the who part...just the what was reviewed part.  And then I guess that new review bookmarks feature that he added would also depend upon that as well....if you bookmark a review, you may want to hold onto th

[2016-02-11 22:20] mjeffe98 opened #230 "Scalebar thickness gets adjusted when line width value changes"
Looks like an unintentional side effect of implementing line width but the scale bar also changes its line width when that value is adjusted leading to some undesirable results.

![image](https://cloud.githubusercontent.com/assets/7560096/12992664/8edcbe26-d0ca-11e5-853c-17b35b3cf8fe.png)

[2016-02-11 22:33] mjeffe98 opened #231 "Unchecking default Line width makes red/blue review highlights invisible"
If you uncheck the default line width to adjust the thickness it inadvertently makes the review highlights disappear. It is more pronounced with road reviews but I did check POIs as well.  When that option is unchecked the POIs get a highlight that is transparent and has some thickness matching the value but certainly not the desired effect.

![image](https://cloud.githubusercontent.com/assets/756

[2016-02-11 22:49] jasonsurratt commented on #229
This is a bit foggy for me, but my recollection has to do with the way reviews are assigned to individuals. There are some notes on redmine here:

https://dgredmine/redmine/projects/hootenany/wiki/Developer_-_ReviewRedesignwNotes#Current-iD-mechanism-for-handling-relations

If you delete the reviews then you lose the information that a review has already been resolved and increase the odds that tw

[2016-02-12 04:29] mjeffe98 opened #232 "Output name in export dialog clears name when you click in the field"
Similar issue to https://github.com/ngageoint/hootenanny-ui/issues/222, clicking in the output name field blanks out the value making it more cumbersome to users.  It should keep the existing name but let you edit the text without removing.

[2016-02-12 14:46] sisskind commented on #200
@mjeffe98 Ready for testing.  Should be able to load zipped geodatabase in Firefox using 'File' option.

[2016-02-12 14:46] sisskind commented on #200
Firefox browser on left; Chrome browser on right

![issue200](https://cloud.githubusercontent.com/assets/6191659/13009996/7e7870f4-d16d-11e5-9de6-4752203be003.gif)

[2016-02-12 15:09] sisskind commented on #232
Export dialog in manage tab has been fixed.

[2016-02-12 15:10] sisskind commented on #232
Export dialog following review has been fixed.

[2016-02-12 15:32] sisskind commented on #232
@mjeffe98 Committed to release and develop.  Ready for test.

[2016-02-12 15:34] sisskind commented on #222
Updated.  Merged into release and develop.  @mjeffe98 ready for test.

[2016-02-12 18:22] brianhatchl commented on #229
See https://github.com/ngageoint/hootenanny-ui/pull/234 for behavior descrition.

[2016-02-12 18:44] brianhatchl commented on #229
@jchoi1267 can you comment on this?

From what I can tell indirectly, the review/next endpoint doesn't consider reviews set to `hoot:review:needs = no` when getting the next review and only considers the `hoot:review:sort_order`, is that correct?

That is, if reviews were deleted after resolution, the sort_order (offsetseqid param in the review/next url) is all that's needed to attempt to maintain

[2016-02-12 19:06] jchoi1267 commented on #229
@brianhatchl
1. Following happens when review/next is called.
a. Service looks at current review offset sequnce id and fetches the relation review with select id from current_relations_x where tags->'hoot:review:needs' = 'yes' and tags->'hoot:review:sort_order'='seqidxxx'
b. if we get the hit from a we return else we call Random reviewable.

So bottom line is we do consider hoot:review:needs

2. W

[2016-02-12 19:13] brianhatchl commented on #229
It still sounds to me like the only ill effect of deleting reviews after they are resolved would be losing information on the number of resolved reviews.

[2016-02-12 19:24] jchoi1267 commented on #229
@brianhatchl Aha I guess it was good idea to keep notes on decisions made during review refactor. :-) Please see following (3. Resolve all reviews: section)

https://10.194.71.155/redmine/projects/hootenany/wiki/Developer_-_ReviewRedesignwNotes

[2016-02-13 00:11] sisskind commented on #203
Needs to be tested -- current vagrant box is having a translation issue.

https://github.com/ngageoint/hootenanny-ui/commit/09f3ed7120029e696ce8be050cb8942ce651cc62

[2016-02-15 17:51] sisskind commented on #147
@mjeffe98 Ready to test.  If you right-click on the coordinate display (bottom right), you should see a context menu with three options: DD, DMS, and UTM.  Should be able to select one and see coordinate system change.

[2016-02-15 19:23] sisskind commented on #224
@mjeffe98 Ready for testing.

[2016-02-16 01:35] sisskind commented on #216
@mjeffe98 Ready for test on develop branch.

[2016-02-16 01:39] sisskind commented on #216
@mjeffe98 did not test this method scaled with hundreds of datasets. If possible can you test in that environment? If not let me know and I can spin up dummy datasets (just blank titles) to test scale.

[2016-02-16 16:16] bwitham commented on #113
OBE w/ new UI stats view...

[2016-02-16 16:17] sisskind commented on #113
@bwitham Think we should leave open since report generation is still something that is desired in long run.

[2016-02-16 17:07] sisskind commented on #216
@mjeffe98 merged into develop.  tested with 100s of datasets and works.  Little lag, but unsure if that is my machine or not.

[2016-02-16 17:07] #228 closed

[2016-02-16 17:21] mjeffe98 commented on #216
tested with names as long as MgcpPortAuPrinceBuildingTest_12312hf22jh23r23rjhfskjhds3232j3hfsefw23rfwefuh23r23234.osm and seems to work fine.

[2016-02-16 17:21] #216 closed

[2016-02-16 17:36] #232 closed

[2016-02-16 17:40] #147 closed

[2016-02-16 17:45] sisskind opened #242 "Cannot create feature with different schema"
As a user of Hootenanny, I would like to create a feature using a TDSv61 schema type.  When I try to create a feature, though, I get an error:
[code]
![schema.png](https://files.zenhub.io/56c35ff816c1bcfd6293acb0)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-02-16 17:56] #200 closed

[2016-02-16 18:04] #222 closed

[2016-02-16 18:23] #224 closed

[2016-02-16 18:25] #230 closed

[2016-02-16 18:52] mjeffe98 commented on #231
@sisskind I see the commit fixed the issue with POIs but not lines or building polys
![issue-231](https://cloud.githubusercontent.com/assets/7560096/13087163/6dc719be-d49b-11e5-8e6c-0686a41c1a29.gif)

[2016-02-16 18:55] sisskind commented on #231
@mjeffe98 Seeing that as well - a premature push.  Will take care of it.

[2016-02-16 19:35] jchoi1267 commented on #242
This was caused by not having hoot global variable not being passed to submdoule. Created local variable and also tested to make sure stxxxl gets clean up.

[2016-02-16 19:46] sisskind commented on #231
@mjeffe98 in develop branch.  pushing to release shortly.

[2016-02-16 19:51] mjeffe98 commented on #229
Tested with a sample dataset using DG GBM/EGD and getting the appropriate tags when validating for options 1, 2, or 3.  Looks like the tags are there now: `source:geometry` is capturing the GBM imagery type (i.e. Least Cloud Cover), `source:geometry:sensor` is valid, and `source:geometry:date` plus additional ones associated with the validation process.

[2016-02-16 19:51] #229 closed

[2016-02-16 20:14] mjeffe98 commented on #242
@sisskind not seeing any issues with TDSv61 feature creation with version below.  Is that enough to close this?

Hootenanny Core - Version: 0.2.21_225_g56cba2b - Built By: root

[2016-02-16 21:02] mjeffe98 commented on #242
Recreated on both develop/rc on selma and got the ERR_EMPTY_RESPONSE.  Testing on my local dev that error doesn't occur when creating or editing features using TDS61/4.

[2016-02-16 21:25] #231 closed

[2016-02-17 14:43] sisskind commented on #138
Accepted as function of iD editor, and will be closed for now.  Will reopen if becomes an issue again.

[2016-02-17 14:43] #138 closed

[2016-02-17 14:53] bwitham commented on #214
@jchoi1267 @mjeffe98 Should this be promoted to a proposed feature?

[2016-02-17 14:58] bwitham commented on #113
@sisskind got it.

[2016-02-17 15:06] #118 closed

[2016-02-17 15:15] bwitham commented on #186
@mjeffe98 If you receive a server side error message, log the issue in the services or core category rather than the UI category.  thanks.

[2016-02-17 15:18] jchoi1267 commented on #214
@bwitham That makes sense.

[2016-02-17 15:19] brianhatchl commented on #242
I'm still getting this error on my local vagrant vm, even with the commit, https://github.com/ngageoint/hootenanny/commit/009ef27894dcd6563e049f7b6bbaf0bb84ee40f9.  @sisskind can you confirm or deny?

[2016-02-17 15:21] sisskind commented on #242
Reopening, as I'm getting it too.  Have been working through it this morning on vagrant VM.

[2016-02-17 15:27] sisskind commented on #242
@brianhatchl @jasonsurratt @jchoi1267 the HootJs.node file is being created.

[2016-02-17 15:51] mjeffe98 commented on #186
@bwitham will do.  thanks.

[2016-02-17 16:49] mjeffe98 commented on #242
On the latest develop I have any issue when making this point AL015, Settlement.  That seems to be a problem with both TDSv61 and v40 within the UI.  Adding @mattjdnv to discussion in case he has some insight.

GET http://10.194.71.96:8101/tdstoosm?fcode=AL015&translation=TDSv61 net::ERR_EMPTY_RESPONSE

GET http://10.194.71.96:8101/tdstoosm?fcode=AL015&translation=TDSv40 net::ERR_EMPTY_RESPONSE

[2016-02-17 17:00] sisskind commented on #242
@mjeffe98 is this an AWS box?

[2016-02-17 17:04] mjeffe98 commented on #242
@sisskind no this is selma

[2016-02-17 18:27] sisskind opened #244 "Documentation of Java code"

[2016-02-17 22:50] brianhatchl commented on #242
We have a solution to the vagrant vm problem here, https://github.com/ngageoint/hootenanny/pull/355.

The AL015 Settlement problem was the new 'logVerbose' undefined in the context of the translation server.  @jchoi1267 has fixed that here https://github.com/ngageoint/hootenanny/commit/ae97373f3ac9a6df5f1ecea1131798b3029d166a.

[2016-02-17 22:56] brianhatchl commented on #242
@mjeffe98 @jchoi1267 Do we need to cherry-pick a couple of these commits for the release branch?

[2016-02-17 23:02] mjeffe98 commented on #242
@brianhatchl I'll leave that up to @sisskind @jchoi1267 and your discretion.  The release should probably be updated with #242, #355.

[2016-02-18 01:11] sisskind commented on #242
Yes we do.  Will make sure to update with at least #242 and #355, unless someone wants to commit to release this evening (please advise if anyone does so: @brianhatchl @jchoi1267)

[2016-02-18 14:56] brianhatchl commented on #242
https://github.com/ngageoint/hootenanny/pull/355 is not necessary because the commit that necessitated it is not in release, https://github.com/ngageoint/hootenanny/commit/606a5a56352f4c66876c6402230f2a34564548e9#diff-73ad4c834f30041f63419d3742bced2f

[2016-02-18 15:02] sisskind commented on #242
@brianhatchl so just #242 then?

[2016-02-18 15:05] brianhatchl commented on #242
Yes, I believe so.  I tested hoot-release-rc on selma:8093 and it presents this error.

[2016-02-18 16:21] mjeffe98 commented on #242
Has #242 been merged into the release branch?

[2016-02-18 16:27] sisskind commented on #242
@mjeffe98 Just did. Closing ticket.

[2016-02-18 16:27] #242 closed

[2016-02-18 17:49] jchoi1267 commented on #157
First cut
https://github.com/ngageoint/hootenanny-ui/pull/247​

[2016-02-18 20:00] sisskind commented on #203
This is within entity_editor and preset_list.  Each has their own separate combobox, so there needs to be an interaction between the two in some manner.  Pushing to backlog until it becomes a higher priority.

[2016-02-19 12:23] sisskind commented on #203
@RDaviesDG put on backlog now since it was identified as not being a high priority, but feel free to tinker with if you have time.

[2016-02-19 17:40] sisskind commented on #164
@bwitham @jchoi1267 is there a mechanism/current code to 'redirect' reviews to other features (in event of duplication)?

[2016-02-19 17:45] bwitham commented on #164
not that i know of

[2016-02-19 17:46] jchoi1267 commented on #164
@sisskind do you mean jump to a arbitrary review item? In that case you can specify sequence id of -999 and jump to a random one..

[2016-02-19 17:56] sisskind commented on #164
@bwitham @jchoi1267 Referring to description above.  Was not sure if it was something that would have to be developed or if it already existed.  If a user determines that B is a duplicate of A and deletes B, Hoot needs to take all reviews for B and direct to A.  Was not sure if **that** code existed.

[2016-02-19 18:01] bwitham commented on #164
No, I believe from the list above "merge A and B" is the only on that's implemented.

[2016-02-19 18:04] sisskind commented on #164
@bwitham @jchoi1267 Great -- but I think I can reuse the merge (redirect to C) for the duplicates.  For the invalid, is it necessary to create additional button or if user deletes within iD, wouldn't all the reviews be marked resolved regardless?

[2016-02-19 20:58] sisskind commented on #164
For A/B invalid - will leave as current capability allowing user to delete the point.

The interactive duplicate selection will be broken into a separate ticket.

[2016-02-19 20:59] sisskind commented on #164
@bwitham @jchoi1267 Maybe I'm overlooking, but what would be the difference between marking as a duplicate and simply merging point B into point A?

[2016-02-19 22:20] sisskind commented on #198
Before:
![issue-198-before](https://cloud.githubusercontent.com/assets/6191659/13190743/0f746d14-d72d-11e5-93db-edf6b2e53e88.gif)

After:
![issue-198-after](https://cloud.githubusercontent.com/assets/6191659/13190747/145546aa-d72d-11e5-9320-aadd5f113871.gif)

[2016-02-19 22:26] sisskind commented on #198
@mjeffe98 Ready for test.

[2016-02-22 15:12] bwitham commented on #164
merging creates a new point and deletes the two merged points; marking duplicate would only delete the duplicate point

[2016-02-22 15:28] brianhatchl opened #249 "Update conflation stats UI when waterways are included"
When this is merged, https://github.com/ngageoint/hootenanny/pull/371, add waterways to the tables of conflatable features.

[2016-02-22 15:31] brianhatchl opened #250 "Modify stats UI to generate and display json formatted stats output"
Leverage this change in the UI, https://github.com/ngageoint/hootenanny/issues/288.

[2016-02-22 15:37] mjeffe98 commented on #198
@sisskind I see the fixed behavior on my local dev but not on selma.  It's strange as I would have expected to see the fix on both given that selma was rebuilt today and the commit was from friday. Can you hit selma and add DcGisRoads quickly to confirm?

[2016-02-22 15:38] sisskind commented on #198
@mjeffe98 Which version are you using?

[2016-02-22 15:45] mjeffe98 commented on #198
doesn't look like selma develop has the modified js/id/core/connection.js with `return event.layer();` but my latest dev from local does.

I can close since the addition confirms working behavior but still curious why the discrepancy.

[2016-02-22 15:45] #198 closed

[2016-02-22 16:09] mjeffe98 commented on #198
local dev where behavior is working: 0.2.22_240_*
selma dev: 0.2.22_141_*

[2016-02-22 16:37] sisskind opened #251 "Create the ability for dynamic updating of review features outside of current review"
Create the ability for dynamic updating of review features outside of current review.

Related to #164

A is a duplicate of some point other than B
1. Delete A
2. Ask user to choose the point that A duplicates (??; would slow down review process)
3. All reviews involving A are redirected to the chosen point

B is a duplicate of some point other than A
1. Delete B
2. Ask user to choose the point th

[2016-02-22 17:21] mjeffe98 opened #252 "Invalid version for specified element error when resolving features with unresolved merge"
This issue tracks the UI errors associated with https://github.com/ngageoint/hootenanny/issues/323 and https://github.com/ngageoint/hootenanny/issues/302

If user tries to resolve all remaining reviews with an unresolved merge they get

![image](https://cloud.githubusercontent.com/assets/7560096/13226231/40bb671e-d945-11e5-87fd-36d9e742462a.png)

`Dev console: http://localhost/hoot-services/osm/ap

[2016-02-22 17:45] mjeffe98 opened #253 "Layer containing unresolved reviews get's loaded twice in UI"
If you conflate DcGisRoads/DcTigerRoads and then remove the merged layer with unresolved reviews and add it back in, it seems to get loaded twice.

Dev Console: `Uncaught TypeError: Cannot set property 'loadable' of undefined` in tools.js:97

![image](https://cloud.githubusercontent.com/assets/7560096/13226899/b9303a14-d948-11e5-81a0-55bb93040062.png)

[2016-02-22 18:05] #123 closed

[2016-02-22 21:01] sisskind commented on #136
Since this cannot be reproduced and has not been an issue, will be closed.

[2016-02-22 21:01] #136 closed

[2016-02-22 21:06] mjeffe98 opened #254 "POIs are not merging immediately after pressing merge button"
This seems to be a recent phenomenon that when merging the first POI pair in a review (typically during the first merge for a review session), there is a long delay before the POIs actually merge.  I noticed this for the dcpoi/mapcruzin dataset as well as others.  Although the delay was more pronounced when hitting selma remotely via proxy, I did observe this locally.  To recreate:

1) select any

[2016-02-22 21:14] mjeffe98 commented on #254
Also might be good if @brianhatchl confirms

[2016-02-22 22:44] sisskind commented on #164
@bwitham Is there a scenario where you would want/have to mark duplicate as opposed to just merging?  Rather, is there harm in merging instead of duplicating?

[2016-02-22 22:51] mjeffe98 commented on #203
I would make the case that this should be higher priority because it's part of the feature creation lifecycle.  If you are editing a layer and want to create a new feature, there is an expectation that the tag schema remain consistent with what has been selected in the Filter By Type drop-down.  If you create a new point, then select the point, select the tag schema e.g. TDS and then click on the

[2016-02-22 23:07] mjeffe98 commented on #203
Note that when you click on the feature subtype after the TDS tag schema selected in Filter by Type it switches back to OSM

![filterbytype](https://cloud.githubusercontent.com/assets/7560096/13235930/edeb8024-d975-11e5-8001-5aa76b482160.gif)

[2016-02-23 00:17] sisskind commented on #254
@jchoi1267 Do you have any insight?

[2016-02-23 15:08] bwitham commented on #164
I believe in some cases you wouldn't want to merge with a duplicate if you didn't want its tags merged into the end resulting feature (would have to verify this use case with users).

So, a merge is for bringing together two features that are duplicates with a combination of their tags.  Marking duplicate means one feature is superior over the other in every way, so get rid of the other feature.

[2016-02-23 15:13] sisskind commented on #164
@bwitham So, in theory, 'duplicate' could be a merge without taking any tags or attributes to the other feature?

[2016-02-23 15:16] bwitham commented on #164
No, I think choosing duplicate just picks one feature or the other.

[2016-02-23 15:17] brianhatchl commented on #164
My question in talking with Josh is,

Seems like a delete of the inferior feature and a delete of all it's reviews is the better action in most cases.  The alternative of linking all duplicate reviews to the better feature is just creating more low probability (of a match) reviews for the user to deal with.

[2016-02-23 15:33] bwitham commented on #164
You could be right.  Honestly, I don't know the answer....  Personally, I wouldn't want to drop all of those reviews the duplicate was involved in, b/c there may be reviews in that set that didn't involve the feature you ended up keeping that were valuable to evaluate, and then that information would be gone.  This seems pretty business case specific to me.  I think it would need to be verified by

[2016-02-23 15:35] sisskind commented on #164
@jasonsurratt if you get a chance to add some context, it would be greatly appreciated!

[2016-02-23 16:26] jasonsurratt commented on #164
As I see it there are two high level considerations:

1. Do we deal with the edge conditions in a sane manner?
2. Given input test data do we make reasonable decisions to reduce the errors and unnecessary reviews?

The list of scenarios above is primarily there to address question 1. We'll never have test data to cover all cases so we should handle edge cases in a logical if not intuitive way. Whe

[2016-02-23 16:34] sisskind commented on #253
Issue appears to exist because the conflated layers are not 'loaded layers' after conflation has occurred.

[2016-02-23 17:57] mjeffe98 opened #256 "Unmerged features in a review layer are white during initial layer load"
If you load a layer with unresolved reviews, the initial load displays all of the unmerged features (i.e. anything not green) as white.  Panning, zooming, or hovering over the merge button corrects this.  It consistently occurs for just the first feature upon layer reload.  This could be related to the Map redraw funkiness reported in https://github.com/ngageoint/hootenanny-ui/issues/254

[2016-02-23 18:00] mjeffe98 commented on #256
@brianhatchl if you prefer to have @sisskind looks at this when he investigates #254 feel free to reassign.

[2016-02-23 18:02] mjeffe98 commented on #256
![layerloadswhite](https://cloud.githubusercontent.com/assets/7560096/13261304/563449f6-da14-11e5-8b9e-954a1c60fa7d.gif)

[2016-02-23 18:26] mjeffe98 commented on #254
Similar behavior when deleting a review feature...

![delete feature](https://cloud.githubusercontent.com/assets/7560096/13261886/0dbb60a8-da17-11e5-9f6b-99bdb6a8c902.gif)

[2016-02-23 19:23] mjeffe98 opened #257 "Fix Translation Assistant icons"
Looks like something has been inadvertently added to the TA buttons when you search for tags or set up the value mappings.  An added arrow and line.  Seeing this on develop and release.

![image](https://cloud.githubusercontent.com/assets/7560096/13263706/9fadd330-da1f-11e5-80d9-9cc0e9ba8f68.png)

[2016-02-23 19:23] mjeffe98 commented on #257
![image](https://cloud.githubusercontent.com/assets/7560096/13263767/e4c56dc0-da1f-11e5-8aef-4d2b42228c4c.png)

[2016-02-23 19:32] brianhatchl commented on #257
I saw that too working #208 and I've fixed it as part of that.

[2016-02-23 19:51] brianhatchl commented on #205
Some findings:
* The translation script cannot filter features, it only handles attribute mapping
* We recently added code to throw an error and fail the ingest if the Translation Assistant attribute mapping fails to translate any attributes for a feature with this, `No attributes could be translated to tags!`
* Not sure if the logic to filter features belongs in the `translateAttributes` function

[2016-02-23 20:11] mjeffe98 opened #258 "Merged POI counts don't appear in Stats table"
When conflating POI datasets such as AllDataTypesA/B or dcpoi/mapcruzen, it doesn't appear that the merged counts for POIs are getting populated in the table.  Looks like there are POIs being merged during conflation based on the color (green) and tag values but the table shows 0 merged POIs.  I find cases where merged buildings and roads appear in the table but never POIs.

![image](https://cloud

[2016-02-23 20:16] brianhatchl commented on #258
This is most likely a bug in the stats computation for POIs.  Can you clip out a minimal set of data (like two points from each, with one being conflated in the output) and export to osm and open an issue in the main hoot repo?

[2016-02-23 20:34] mjeffe98 commented on #258
https://github.com/ngageoint/hootenanny/issues/378

[2016-02-23 22:34] brianhatchl commented on #205
Regarding data sources with multiple layers (fgdb, zip of shps) TA would enforce that all attributes of all layers be either mapped or ignored before a translation script would be generated.  By removing the 'ignore remaining' feature

[2016-02-23 23:32] mjeffe98 opened #260 "Right-click menu dataset options not showing correct number of selected items."
Select a dataset by highlighting it in yellow, then right click and delete.  First delete will show the correct number of features being edited (1).  However when you select additional datasets and right-click, the number shown in the menu (#) doesn't not reflect the number of selected features.  It looks like its getting a cumulative count rather than the actual selected dataset count.

In below

[2016-02-24 04:38] mjeffe98 commented on #260
This becomes a larger issue when that number of selected features becomes > 1, only certain menu options get presented like delete and move.  This has created a scenario where you have to refesh (F5) the application to reset the count so you get the full right-click context menu options associated with the data selected.

[2016-02-24 13:38] sisskind commented on #253
On second thought, it looks like the rest.getMapTags may be getting called twice when loading in dataset with reviews.

[2016-02-24 16:53] sisskind commented on #253
@brianhatchl Will you review?

[2016-02-24 17:20] mjeffe98 opened #262 "Mapnik rendering not working with clipped layers"
When you use the clip tools, the mapnik tiles don't appear to get generated so you just have the empty bbox with the warning message indicating that you need to zoom.  Seems to me that we would want to be consistent when generating any new hoot layers using the clip work flow to ensure the visualization is the same across the board.

To reproduce, pick any larger layer ingested in Hoot that has ma

[2016-02-24 17:46] brianhatchl commented on #205
@mattjdnv bringing you in to discuss.

[2016-02-24 18:59] brianhatchl commented on #205
The ability to specify layer filters in the translation may be obviated by https://github.com/ngageoint/hootenanny/issues/283, if the upload dialog will already allow the user to specify a subset of feature classes to ingest.

[2016-02-24 19:30] sisskind commented on #260
@mjeffe98 ready to test in release or develop

[2016-02-24 21:26] sisskind opened #264 "Show all reviews associated with selected feature"
Provide mechanism to select POI or building, have a line segment connect selected feature with all associated review features, and provide click event for line segment to go to that specific review.  Will also need to turn off auto-advance on review resolve.

Why do we want to do this?

Providing this function will allow the user context for all reviews surrounding one feature, so that they will b

[2016-02-24 21:26] sisskind commented on #164
Being put on backlog pending the outcome of #264, which may prove this to be no longer necessary.

[2016-02-24 21:41] sisskind commented on #264
Edges connecting the features should be created w/in the layer-data.

[2016-02-24 23:59] brianhatchl commented on #205
Learned today that returning null instead of {} hoot will drop the feature from the translate op.

[2016-02-25 17:32] #260 closed

[2016-02-25 19:45] jchoi1267 commented on #244
Looks like @bwitham did great job on this so I am closing it..

[2016-02-25 19:45] #244 closed

[2016-02-25 21:00] sisskind opened #265 "Search on feature creation/edit is not returning the expected results"
When I search #preset-search-input for desired feature type, it is not returning expected results.  This may be a filtering issue or a deeper issue that requires further investigation.

[2016-02-25 21:12] sisskind opened #266 "Make tag value comboboxes default to sort alphabetically"
In the entity editor pane, currently it appears that there is no order to how tags are sorted.  They should at least be sorted alphabetically.

[2016-02-25 21:33] jchoi1267 commented on #252
This has been fixex by #302

[2016-02-25 21:49] jchoi1267 commented on #157
@treycaldwell Please review this ticket

[2016-02-25 21:50] mjeffe98 opened #267 "Basemap upload ignores defined Basemap Name"
If you specify a Basemap Name for custom basemap it does not use that name but rather saves it using the file name.

[2016-02-25 22:13] jchoi1267 commented on #267
Fixed. It was caused by replacing with file name all the time.

[2016-02-25 22:17] mjeffe98 opened #269 "Renaming layer breaks mapnik rendering for original layer"
If you rename a layer after it has been ingested, it appears that the renderdb loses the reference and cannot display the mapnik tiles for that layer.

To reproduce:
1) ingest a dataset that is large enough to use mapnik (test_MGCP.osm works)
2) display layer on map to confirm mapnik rendering is on
3) change the layer name in the datasets tab
4) reload layer and mapnik tiles will no longer displa

[2016-02-25 22:31] mjeffe98 commented on #269
[test_MGCP.zip](https://files.zenhub.io/56cf809a596ff08d3a7b6318)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-02-25 23:01] mjeffe98 opened #270 "Conflation fails for clipped Port Au Prince data when stats are turned on."
When you conflate PortAuPrince_OSM_clip2 with PortAuPrince_MGCP_clip2 and set Collect Statistics = false the conflation job completes but if you set it to false, it fails with the error: "2/25/2016, 2:53:29 PM: Requested job failed! For detailed log goto Manage->Log"

The error in Catalina.out is below:

2016-02-25 14:52:02,160 ERROR DbUtils:1523 - ERROR: relation "current_way_nodes_23" does not e

[2016-02-25 23:04] mjeffe98 commented on #270
The two datasets are attached to this ticket in the first comment.

![stats failure](https://cloud.githubusercontent.com/assets/7560096/13337538/cec8217c-dbd0-11e5-9a93-5818f9710872.gif)

[2016-02-25 23:06] mjeffe98 commented on #270
The data were clipped from the original source data so not sure if that has anything do with the issue.  @brianhatchl @sisskind ideas?  Not sure how to proceed with this other than get someone to reproduce it in debug mode.

[2016-02-25 23:12] mjeffe98 commented on #253
@sisskind appears to be working correctly now.

[2016-02-26 13:30] sisskind opened #271 "Mitigate hoot UI 0.2.23 Fortify issues"
USE SECURITY AUDITOR VIEW (NOT DEVELOPER VIEW) TO SEE ALL FINDINGS

CAT I, II
critical/high/medium priority

[2016-02-26 13:32] sisskind commented on #203
@jchoi1267 Can you review?

[2016-02-26 13:38] sisskind commented on #157
@mjeffe98 Ready for test.

[2016-02-26 16:42] brianhatchl commented on #270
This seems like a genuine conflate error, not related to the stats option

Unknown geometry type: Relation = associatedStreet

@mattjdnv have any input?

[2016-02-26 16:48] mjeffe98 commented on #270
I suppose what is perplexing is why the error only occurs when setting Conflation Stats = true as opposed to false.  Does setting it to false allow conflation to run in a more permissive mode?

[2016-02-26 20:05] sisskind commented on #265
Appears that the preset value was being overwritten by only the defaults and not the entire list.  This is remedied, but will test again before committing to develop and release.

[2016-02-26 21:27] mjeffe98 commented on #252
tested and works.

[2016-02-26 21:27] #252 closed

[2016-02-26 21:49] mjeffe98 commented on #157
@sisskind is there a user story or issue that this is tied to for constraining test cases?

[2016-02-26 22:02] mjeffe98 opened #272 "Support ability to overlay a custom basemap with an imagery service"
When you add a custom basemap, typically this image is relatively small compared to the conflation region that you are working in.  When a custom basemap is added, only that tile is viewable and everything else is black except for the Locator Overlay which gives you some administrative boundaries and place names with a black background.  Would it be feasible to add the custom basemap as an overlay

[2016-02-26 22:02] mjeffe98 commented on #272
@sisskind posing the question here to see if there are ideas.

[2016-02-29 04:07] sisskind commented on #265
looks like it was only searching on list of presets as opposed to entire list of options. May need to find a happy middle ground between the two so not everything is returned, but all is probably better than none.

[2016-02-29 15:19] jchoi1267 commented on #265
@sisskind Is this ticket on search field for presets where you type in the name and list shows (i.e. for TDSv61 or TDSv40)?

[2016-02-29 16:48] sisskind commented on #265
@jchoi1267 Yes, on feature creation.  It appears that it was only searching presets and not the entire list.

[2016-02-29 16:58] sisskind commented on #157
@mjeffe98 @jchoi1267 is your man for that question

[2016-02-29 17:21] mjeffe98 opened #273 "Right-click menu display issues"
Testing on the latest develop, it looks like there is an issue with GetLayers that @jchoi1267 pointed out but this is showing up in the UI in the following way.  If you refresh ctrl-shift-r on your browser than go to the datasets tab in manage and right-click on a dataset you won't get the menu options but if you right-click on a folder or right-click from the main map on the layer (zoom to layer)

[2016-02-29 17:38] jchoi1267 commented on #273
@sisskind This is caused by context.hoot().model.layers.setSelectedLayers(selectedLayerIDs); not setting value since the code before returns before it gets chance.

See hoot/conntrol/utilities/Folder. js line 474. Moving to line 464 seems to fix it..

[2016-02-29 19:12] mjeffe98 commented on #157
Not seeing anything come up with this after testing data ingest, delete, move, export, etc..  I think we can close then open up any tickets during regression testing if issues arise.

[2016-02-29 19:12] #157 closed

[2016-02-29 19:27] brianhatchl commented on #270
@bmarchant I know you've been in the stats code recently, could you have a look at this?

[2016-02-29 19:54] bmarchant commented on #270
@brianhatchl I'll take a look at this right now and let you know what I find

[2016-02-29 20:04] mjeffe98 commented on #270
@bmarchant I just ran
`hoot conflate PortAuPrince_OSM_subset2.osm PortAuPrince_MGCP_subset2.osm --stats`

and got error below:

:02:09.085 INFO  ...pp/hoot/core/cmd/ConflateCmd.h( 129) bytesRead: 116765
15:02:09.487 WARN  ...cpp/hoot/core/io/OsmReader.cpp( 537) Missing node (8736) in relation (1).
15:02:09.487 WARN  ...cpp/hoot/core/io/OsmReader.cpp( 537) Missing node (8736) in relation (2).
15:02

[2016-02-29 21:13] sisskind commented on #273
@mjeffe98 Ready for test.

[2016-02-29 21:20] sisskind commented on #265
@drew-bower Would like to demo this for you tomorrow/when you have time to see if it meets your needs.  Would then want to close and open a new ticket to limit number of returns or tighten the returned values based on input (i.e. 'soccer' shouldn't return 'shoemaker' if we can avoid it).

[2016-02-29 21:25] drew-bower commented on #265
@sisskind I'll be in the office tomorrow.  Looking forward to it.

[2016-02-29 21:55] bmarchant commented on #270
Here is what I've found so far:
In the function `CalculateStatsOp::apply` on line 326 we apply a `TranslatedTagCountVisitor` that eventually tries to call `ElementConverter::convertToGeometry` on the relations, which calls `ElementConverter::getGeometryType`.  `getGeometryType` is called with the second argument `throwError` set to true so when any relations that aren't explicitly `Relation::isMul

[2016-02-29 21:57] bmarchant commented on #270
Everything above only happens when collecting stats and has nothing to do with the actual conflation itself.  I'm wondering how long this has been an issue and when it was introduced because I'm assuming that this data has been conflated before without issue.

[2016-03-01 15:30] brianhatchl commented on #270
We only recently enabled generation of conflation stats from the web ui, which is probably why we're only noticing this now.

[2016-03-01 15:32] sisskind commented on #203
@jchoi1267 or @treycaldwell  Can you review?

[2016-03-01 16:29] sisskind commented on #162
Need to select Map Data menu from sidebar, open Map Features and check 'Highlight edited features'

[2016-03-01 17:01] sisskind commented on #265
@mjeffe98 ready for test

[2016-03-01 17:03] sisskind opened #277 "Reduce returns on type search for entity editor"
After the fix in #265, there seems to be a lot of extraneous returns on a search term.  There should either be an option to search the entire word only, or increase the tolerance on the search term.

[2016-03-01 17:18] mjeffe98 commented on #162
Tested on local develop.  Looks good.

[2016-03-01 18:25] bwitham commented on #270
this was handled in ngageoint/hootenanny#418

[2016-03-01 18:25] #270 closed

[2016-03-01 18:40] bwitham opened #278 "Fix the user interface cucumber manual review resolve test"
Do after ngageoint/hootenanny#385 is complete.

The number of AllDataTypes reviews has increased.  First, the number needs to be verified to be correct.     After that, the actual test update should be fairly easy.  It needs to be updated with a combination of resolves and merges that make sense (same way its checked during regression testing).

[2016-03-01 20:52] #257 closed

[2016-03-01 20:53] #193 closed

[2016-03-01 21:08] #277 closed

[2016-03-01 21:09] sisskind opened #280 "Entity Editor - Filter by type change doesn't search"
When changing the filter type for the entity editor, it should search on that filter if there is anything in the search field.  Currently, it will only provide the default values for that filter type.

[2016-03-01 22:04] mjeffe98 commented on #205
@brianhatchl I just want to clarify something.  If I upload a .gdb to TA that has two feature classes (we'll call them fclass1 and fclass2), when I'm doing my mapping if I only map a single attribute in fclass1 e.g. F_CODE and then save the translation, I only see fclass1 in the resulting translation.  I haven't ignored any other attributes as you can see but flcass2 is not included in the transla

[2016-03-01 22:11] mjeffe98 commented on #266
@sisskind how is this different from the current behavior where you can sort the "All tags"?  For the entity editor pane, I notice that the non 'all tags' fields i.e. Name, Surface, Width, that are part of the OSM presets are not listed alphabetically.

I am using:  Hoot Core: 0.2.22_311_g76ba614

![image](https://cloud.githubusercontent.com/assets/7560096/13443698/1fab1060-dfb7-11e5-8e78-69ee63bd

[2016-03-01 22:21] sisskind commented on #266
This alphabetizes the values within each combo box as opposed to each row.

This electronic communication and any attachments may contain confidential and proprietary information of DigitalGlobe, Inc. If you are not the intended recipient, or an agent or employee responsible for delivering this communication to the intended recipient, or if you have received this communication in error, please do

[2016-03-01 22:28] #208 closed

[2016-03-01 22:31] mjeffe98 commented on #266
Ok I see it now with the combo box amenity.  Before the kvp were just listed and now they are sorted alpha.

[2016-03-01 22:47] mjeffe98 commented on #265
typing "soccer" incidentally does return shoemaker but I do see the difference in search results before and after commit https://github.com/ngageoint/hootenanny-ui/issues/265.  Looks like prior when you search for "stadium" it didn't even return "Stadium" in the results and now it does.

[2016-03-01 22:47] #265 closed

[2016-03-01 23:42] mjeffe98 commented on #162
I am noticing that the yellow edited feature halo turns off when you zoom out just slightly.  Wanted to make sure this was intended.  Looking at the DcTigerRoads data, there is only a slight difference in zoom level when the halo comes on/off.

![highlight_edits](https://cloud.githubusercontent.com/assets/7560096/13445902/fd46711a-dfc3-11e5-9ae7-1a2632bb0d0b.gif)

[2016-03-02 13:45] sisskind commented on #130
Will be tested on version 2.22 to see if current solution meets requirement.  @njackson01 will follow up.

[2016-03-02 15:08] brianhatchl commented on #162
This was not intended, just a side effect.  I see @sisskind is assigned to look into it, but I suppose there may be a css rule that hides the halo svg group past a certain zoom level.

[2016-03-02 15:10] brianhatchl commented on #205
Yes, this lets you just translate the features in fclass1.  All the features from fclass2 should be dropped by the translation when you use it during ingest.

[2016-03-02 15:10] jchoi1267 opened #281 "Clean up and refactor UI code"
Clean up and refactor UI code

[2016-03-02 15:58] mjeffe98 commented on #205
ok then its behaving as expected.

[2016-03-02 15:58] #205 closed

[2016-03-02 16:28] mjeffe98 opened #282 "Consider changing dataset ingest "Success..." warning message from red to Green"
I think that the red warning message that occurs every time during ingest causes users to think that there was an error with the files ingested.  The warnings indicate that there were issues identified in the log but the UI exposed error log does not show these messages and would then require the user to have access to the Catalina.out file to examine further.  Should we include this kind of warni

[2016-03-02 17:45] sisskind commented on #280
@mjeffe98 ready for test

[2016-03-02 18:51] jchoi1267 opened #284 "When POI review loaded and if review against not in viewport we get entity not found error"
When POI review loaded and if review against not in viewport we get entity not found error

1. Conflate Latvia data
2. Go into review item where review against item is not within view port
3. Press Merge
4. Throws Uncaught Error: entity n5487_630 not found

[2016-03-02 22:30] mjeffe98 commented on #253
This issue resurfaced on develop: Hootenanny Core - Version: 0.2.22_312_g5665795_dirty.

DevConsole reports lots of entity nX not found.

[2016-03-02 22:35] mjeffe98 commented on #284
@jchoi1267 I don't see this behavior on selma release running v0.2.22_129_g724dd7b.  However on latest develop, I get the entity X not found error when the review layer containing unresolved reviews is loaded and the layer appears twice as described in https://github.com/ngageoint/hootenanny-ui/issues/253.  When I merge a POI review where a review item is not visibly within the view port (not sure

[2016-03-02 22:39] mjeffe98 commented on #282
I would extend this to any message that says SUCCESS:.... i.e. after conflation.  I think there is an association with RED and error which although technically valid creates a false sense of security with the output.

[2016-03-02 23:29] mjeffe98 commented on #284
I see the Uncaught Error in dev console.  How does this get manifested within the UI?

[2016-03-02 23:34] mjeffe98 opened #285 "Hovering over Share Review button triggers error in dev console"
When you hover over the button the error, Missing en translation: review.sharereview.description, appears in the dev console.  It doesn't trigger an error in the UI but it might be indicative of something else happening that warrants additional attention.

[2016-03-02 23:39] mjeffe98 commented on #253
Oddly in my local dev which is running Hootenanny Core - Version: 0.2.22_328_g952e74c, this is **NOT** an issue. Not sure which to base the testing off of since the commit addressing this bug should be on both.

[2016-03-02 23:47] mjeffe98 commented on #280
tried to test on latest develop but still getting the same errors not finding the feature with different filter by type options.  will try again tomorrow.

[2016-03-02 23:54] mjeffe98 commented on #266
While the "All Tags" combo-box values are sorted alphabetically, the default attributes for each schema type are not sorting properly e.g. Feature Function with TDSv61/40.

![attribute sort](https://cloud.githubusercontent.com/assets/7560096/13479873/d7e4d2ce-e08e-11e5-8062-f009dfd6ed1f.png)

[2016-03-03 00:51] sisskind commented on #285
Did you rebuild? Can check core.yaml to see if the description was added.

[2016-03-03 13:39] sisskind commented on #253
Just ran local with Hootenanny Core - Version: 0.2.22_330_gf59b9bd_dirty and Hootenanny iD Editor - Version: 0.2.22_330_gf59b9bd_dirty and can also confirm not an issue.

[2016-03-03 13:58] sisskind commented on #285
Can confirm that after running make, the proper description appears.

![issue-285](https://cloud.githubusercontent.com/assets/6191659/13496420/1c22dd0c-e11e-11e5-9522-33636bd4b4f7.png)

[2016-03-03 15:36] sisskind commented on #162
Appears to be occurring when low-zoom class kicks in.

[2016-03-03 15:38] mjeffe98 commented on #253
@sisskind when I was speaking to @jchoi1267 this morning he observed this but after nuking my browser cache, I don't see this on selma develop anymore.  Let's leave this open for a little longer to see if @jchoi1267 confirms that.

[2016-03-03 15:48] #285 closed

[2016-03-03 15:52] sisskind commented on #253
Appears that on Selma, commit https://github.com/ngageoint/hootenanny-ui/commit/ee485941801c359e518b0e67b232b39a2938a755#diff-10e0fba248eb29056c29dd82aada4104 does not seem to have been applied, but this is appearing locally in develop and release branch.

[2016-03-03 17:53] mjeffe98 commented on #253
redeploying the wars in tomcat seems to have fixed the issue of being out of sync.

[2016-03-03 17:57] mjeffe98 commented on #280
tested on Version: 0.2.22_335_gae0ce65_dirty

[2016-03-03 17:57] #280 closed

[2016-03-03 19:31] bwitham commented on #278
need to do this as part of ngageoint/hootenanny#385

[2016-03-03 19:38] bwitham commented on #278
fixed 2 of the 4 tests

[2016-03-03 19:40] bwitham opened #288 "Fix the cucumber manage tab test"
Rename test-files/ui/features/manage_tab.fix-me --> test-files/ui/features/manage_tab.feature

[2016-03-03 19:44] sisskind commented on #288
@bwitham Were you planning on doing this, or do you want to have a quick discussion and I can work on it?

[2016-03-03 19:47] bwitham commented on #288
No, probably won't work on this one.  I fixed two of the other tests just so I could have something to run for testing out the move of the tests from nightly to hoot glacial.

[2016-03-03 19:49] sisskind commented on #288
Ok -- you are referring to the current cucumber mange tag test, right?  Let's tag up next week to discuss but I can take this one on.

[2016-03-03 19:53] bwitham commented on #288
yeah, the manage tab test on selma.  It will be a little more time until I can get the tests moved off of there and onto github, so it can be fixed on selma for now.

Sounds good.  I'm out tomorrow but will be working on Mon.

[2016-03-03 19:56] sisskind commented on #162
@mjeffe98 submoduling syncing and will be ready for test.

[2016-03-03 20:11] mjeffe98 opened #290 "Export hangs after resolving all reviews with cropped Haiti Port Au Prince data"
If you click the Export Data after resolving all reviews from the conflation of PortAuPrinceOsmPoiRoadBuilding.osm (ref) and MgcpCroppedPoiRoadBuilding.osm (secondary), the export job hangs for what seems to be an indefinite amount of time.  I'm only seeing this on the develop branch not in the release.  Appears to occur with all export file types.

Dev console reports: Uncaught TypeError: Cannot

[2016-03-03 20:13] mjeffe98 commented on #290
@sisskind we would want to make sure that any recent commits from develop which caused this problem don't make it back into the release inadvertently but it's my understanding this would only get merged into develop if its a real bug.

[2016-03-03 20:21] sisskind commented on #290
@jchoi1267 is this something you'll be able to look at in the next 24 hrs?

[2016-03-03 20:23] mjeffe98 commented on #290
occuring with the Latvia500Pois datasets as well so not specific to the original datasets listed above.

[2016-03-03 20:25] sisskind commented on #290
@mjeffe98 what file are you exporting to (OSM, FGDB, etc.)?

[2016-03-03 20:29] jchoi1267 commented on #290
@mjeffe98 Found the fix and about to commit.

[2016-03-03 20:30] sisskind commented on #290
@jchoi1267 beat me to it!

[2016-03-03 21:01] jchoi1267 commented on #290
@sisskind Looks like this will be my last ticket. :-) Now I am watching cat channel.. LOL

[2016-03-03 21:03] jchoi1267 commented on #284
@mjeffe98 committed to release branch.

[2016-03-03 21:06] sisskind commented on #264
@jchoi1267 did you make any progress/assign to a branch?

[2016-03-03 21:09] jchoi1267 commented on #264
@sisskind almost forgot. I will commit whatever I have to branch. Hold on

[2016-03-03 21:10] sisskind commented on #264
@jchoi1267 Great.  Just reference this issue in commit and it should link up

[2016-03-03 21:25] jchoi1267 commented on #264
@sisskind created branch 264

[2016-03-03 21:30] bwitham commented on #25
Making an attempt at this now will reduce test setup work and overall complexity in hoot in the long run, so I'm going to take a stab at it.  Will leave the nightly nodejs tests against the non public data intact, since they provide additional value.

[2016-03-03 21:45] bwitham opened #291 "Add cucumber tests for translation ingest/edit"
Do this after ngageoint/hootenanny#385 is done.

Rename:

* create test-files/ui/translation-ingest.feature
* create test-files/ui/translation-edit.feature

[2016-03-03 21:46] bwitham opened #292 "Add cucumber test for WFS export"
Do this after ngageoint/hootenanny#385 is done.

Rename:

* create test-files/ui/wfs-export.feature

[2016-03-03 21:46] bwitham opened #293 "Add cucumber test for basemap ingest"
Do this after ngageoint/hootenanny#385 is done.

Rename:

* create  test-files/ui/basemap-ingest.feature

[2016-03-03 21:47] bwitham opened #294 "Add cucumber test for log export"
Do this after ngageoint/hootenanny#385 is done.

create test-files/ui/log-export.feature

[2016-03-03 21:47] bwitham opened #295 "Add cucumber test for review bookmark interactions"
Do this after ngageoint/hootenanny#385 is done.

* create test-files/ui/features/review-bookmarks.feature

[2016-03-03 21:49] bwitham opened #296 "Add cucumber test for datasets tab - all button clicks and right click operations"
Do this after ngageoint/hootenanny#385 is done.

Rename test-files/ui/features/dataset-tab.implement-me --> test-files/ui/features/dataset-tab.feature

[2016-03-03 22:00] bwitham commented on #25
Just opened other backlog issues for what I think would be useful cucumber tests outside of conflate/ingest/export.

[2016-03-03 22:52] mjeffe98 commented on #290
still seeing an issue after rebuilding selma develop Hootenanny Core - Version: 0.2.22_337_gf6a5ad4_dirty - Built By: ubuntu

@jchoi1267 @sisskind I wasn't planning on testing tomorrow and not sure everyone's schedule but maybe @jchoi1267 can just verify that the commit is in this release or pending a submodule sync.

[2016-03-03 22:59] mjeffe98 commented on #284
@jchoi1267 shouldn't this also be committed to develop?

[2016-03-03 23:56] mjeffe98 commented on #284
Rebuilt release to 0.2.22_144_gfd8b6bf_dirty and tested.  Not getting any errors for test case in UI or in the dev console anymore.

[2016-03-03 23:56] #284 closed

[2016-03-04 00:04] mjeffe98 commented on #162
looks good on develop.  Did not have any zooming issues.

[2016-03-04 00:04] #162 closed

[2016-03-04 00:08] mjeffe98 commented on #290
Re-tested and appears to be working as expected.

[2016-03-04 00:08] #290 closed

[2016-03-04 16:12] sisskind commented on #266
@mjeffe98 unable to replicate.  can you provide a specific example aside from the one above?

[2016-03-04 16:27] sisskind commented on #282
@mjeffe98 alternative -- instead of making warnings green, what about gold?

![issue-282](https://cloud.githubusercontent.com/assets/6191659/13532901/ede2e336-e1fb-11e5-984b-d1162af3b0b6.png)

[2016-03-04 19:19] jchoi1267 opened #297 "Merge VersionInfo.js and About.js"
It appears that both VersionInfo.js and About.js shares most of the codes. Instead of having 2 copies of same code, refactor to share common code.

[2016-03-04 19:25] mjeffe98 commented on #282
I think it's better than red. I just generally equate success with green that's all. Longer term we should provide users with more information on the warnings if they occur.  I've never seen an ingest that didn't come with warnings so maybe we should just turn these off.

[2016-03-04 19:26] sisskind commented on #282
Can definitely turn them off completely for that specific warning if that is the desired approach.

[2016-03-04 19:32] sisskind commented on #192
@mjeffe Ready for test.  Should be able to see 'Cookie Cutter Alpha Shape Buffer' under Cookie Cutter & Horizontal Options when Cookie Cutter & Horizontal is the selected conflation type.

![issue-192](https://cloud.githubusercontent.com/assets/6191659/13537994/f899a61a-e215-11e5-98a2-d7debb60a17e.png)

[2016-03-04 19:38] mjeffe98 commented on #266
@sisskind the gif shows three examples:
1) POI, osm Place of Worship, _Religion _and _Denomination _drop downs
2) POI, osm Cafe, _Cuisine_
3) POI, TDS61, AL013:Building (Mosque), _Feature Function_ drop down
![dropdown sort](https://cloud.githubusercontent.com/assets/7560096/13538119/93ad0818-e1fd-11e5-8c74-c4255d820931.gif)