[2016-03-04 19:45] mjeffe98 commented on #282
perhaps it would be good to get consensus from @brianhatchl and @bwitham.  Seems to me that if the default response to a successful ingest is always completed with warnings, the value of showing that is somewhat lost since a) there are no warnings to show and b) there aren't any cases (that I am aware of) where a successful upload would not trigger warnings.

[2016-03-04 19:50] sisskind commented on #266
Ok --- was talking about different drop down.  Will take care of that.

[2016-03-04 19:52] mjeffe98 commented on #192
@sisskind I assume that the units are km, correct?  We might want to have something that is configurable since it's just a blank number field.  Also the default value is 0.  Does that mean if the user does not do anything in this option that no buffer will be used?  I would assume that the 2km buffer would be the default.  Also is the value entered representing both the internal and external buffe

[2016-03-04 19:55] sisskind commented on #192
@mjeffe98 I don't want to go too crazy with it since it should follow same paradigm as all advanced options.  Burden should be on user to understand the values.

Yes -- if user leaves value as 0, nothing happens.  Think there was confusion over 2km buffer previously, unless I am using wrong variable.

[2016-03-04 20:57] mjeffe98 commented on #192
does look like the parameter is getting passed properly.  It's a bit difficult to completely assess the final product but we can look at that later down the road.

[2016-03-04 20:57] #192 closed

[2016-03-04 21:26] sisskind commented on #266
@mjeffe98 Ready for test.  All combo boxes should be alphabetized now.

![issue-266](https://cloud.githubusercontent.com/assets/6191659/13540661/d49cc39a-e225-11e5-8aa0-dc945126d6b8.png)

[2016-03-07 14:58] bwitham commented on #282
Determine what the warnings are and why they're occurring.  Should they be logged as warnings?  If so, how can they be eliminated?  Don't turn them off by default.  We generally get in trouble when exceptional behavior doesn't bubble up to the ui.

[2016-03-07 14:59] sisskind commented on #282
@bwitham agree with that sentiment.  more inclined to lean gold in color vs. removal.

[2016-03-07 15:14] bwitham opened #299 "Add cucumber tests for dataset export"
Do this after ngageoint/hootenanny#385 is done.

* create test-files/ui/fgdb-export.feature
* create test-files/ui/osm-export.feature
* create test-files/ui/shapefile-export.feature

[2016-03-07 15:19] #281 closed

[2016-03-07 16:10] mjeffe98 commented on #266
all working now.  Thanks @sisskind

[2016-03-07 16:10] #266 closed

[2016-03-07 17:22] sisskind opened #300 "Bulk Import Improvements"
When running bulk import job, warnings can get lost in the messaging that is hidden unless user expands.  Provide better mechanism for informing user that there has been an error in processing.

[2016-03-07 20:51] sisskind commented on #297
@mjeffe98 this is ready for test.  you won't see any changes in UI.  To test, you should be able to view info via About tab or clicking upper left corner.

[2016-03-08 19:56] sisskind commented on #256
Appears that features are not tagged on load (tag-hoot-null).  Fixing this will fix the issue.

[2016-03-08 21:25] sisskind commented on #256
Potentially a bug with loaded layers now adding tags for source layers.  Script now checks tags after searching loaded layers to assign feature color.

[2016-03-08 21:27] sisskind commented on #256
@mjeffe98 ready for test

[2016-03-08 22:43] sisskind commented on #254
@mjeffe98 Cannot replicate on develop branch.  Can you confirm this is still an issue?

[2016-03-08 22:46] bwitham opened #303 "Explore running the user interface tests in parallel"
See if its possible...if so, make it happen.

[2016-03-09 16:55] mjeffe98 commented on #254
@sisskind with the latest develop I don't have this issue anymore.

[2016-03-09 16:55] #254 closed

[2016-03-09 17:08] mjeffe98 commented on #297
@sisskind can you clarify what specifically I am looking for here?  I thought that I was able to view info via the About tab or Hootenanny upper left link before.  What changed?

[2016-03-09 17:54] curranMapper opened #304 "Blue attribute box mostly off screen in some instances"
note from 3/9 training session:
Was not intuitive that when the blue attribute box appeared mostly off screen during conflict resolution was because there were no associated tags.  Is there a clearer way of visualizing so user doesn't think something is "wrong" in these instances?

[2016-03-09 18:00] #256 closed

[2016-03-09 18:02] curranMapper opened #305 "Append tags shortcut not listed"
Ctrl + Alt + V (append) is not listed as option under help\shortcuts

[2016-03-09 18:14] curranMapper opened #306 "Hootenanny Snapping Toggle"
Training notes from 3/9
The current way of disabling snap feature is not intuitive and has to be re-enabled after turning off if so desired, is there possibility to temporarily suspend snapping utilizing a hot key?  ex JOSM does this when user holds down ctrl button.

[2016-03-09 19:37] sisskind commented on #297
@mjeffe98 changes occurred behind the scenes.  If you are able to view info in upper right or about tab, then everything is kosher.  (One of those times where seeing no change means the change was made).

[2016-03-09 19:41] #297 closed

[2016-03-09 23:07] mikejeffe opened #307 "Bounding box for clip is not drawing consistently in starting left mouse-click position"
When clipping using bounding I have repeatedly observed that the bbox defined by the user does not consistently get placed in the correct starting position where the cursor is on the map.  Sometimes it does draw in the correct location, other times as shown in the animation, it draws the box way outside of where the cursor is placed on the map.  There does not appear to be any error triggered.  Ob

[2016-03-10 20:45] sisskind commented on #288
@bwitham Wanted to double check with you RE: which manage tab cucumber test you were referring to.  The settings.feature test in hoot-ui/cucumber-tests doesn't have any tests against AllDataTypes.  Is there a different manage tab test out there?

[2016-03-10 20:46] #271 closed

[2016-03-10 20:50] sisskind commented on #126
Appears that when you drag and drop one point on another, the point that is the "drop" location is removed from the graph.

[2016-03-11 12:31] sisskind commented on #126
This is expected behavior, as when you drag and drop you are copying attributes and removing the dragged geometry.  Will remove the merge button to avoid the 'Nothing to merge' error.

[2016-03-11 13:26] bwitham commented on #288
I wasn't aware of the hoot-ui/cucumber-tests directory...you must have put some tests in there awhile back.  The cucumber tests I know about are in hoot-tests/services.child/cucumber.child on selma.

You may want to hold off on these changes...I'm maybe hours away at this point from having all the selma cucumber tests moved into the hoot repo (now that I know about hoot-ui/cucumber-tests, I may pu

[2016-03-11 13:45] sisskind commented on #288
No problem.  I'll push back a sprint and we can reconnect next week.

[2016-03-11 13:49] bwitham commented on #288
Cool.  I should have it all moved over soon...will be easy to run the tests locally now.  I created a handful of issues in this repo with things I think might benefit from getting cucumber features added for them.

[2016-03-11 13:50] sisskind commented on #288
Awesome!  Consolidating is a good idea for our tests.

[2016-03-11 14:44] sisskind commented on #126
@mjeffe98 when testing, should not get any errors in dev console about entity not existing when in review mode and dragging review point on top of other.  The 'nothing to merge' warning is expected behavior.

[2016-03-11 16:14] #126 closed

[2016-03-11 16:34] bwitham opened #309 "Get user interface tests running on CentOS"
Will wait until after the services/ui rpm's are initially ready.

[2016-03-11 19:42] curranMapper opened #310 "Cannot read property 'members' of undefined"
I come across or create this error in heading often when manually resolving roads, what does this mean?

[2016-03-11 19:45] #310 closed

[2016-03-14 13:43] sisskind opened #311 "Better UI Error reporting"
As opposed to just reporting what the error is, provide the line in the JavaScript where the error occurred for better debugging and determining what the actually error is.

[2016-03-14 13:43] sisskind commented on #311
https://github.com/DigitalGlobe/dgis-devops/issues/85

[2016-03-14 14:49] treycaldwell opened #312 "Add the ability to set the default base map to DigitalGlobe imagery"
Currently, this can't be done since the DigitalGlobe imagery background sources are constructed by dgservices.js after the default base map is selected.  We need to be able to set the "defaultBaseMap" in data/hootConfig.json to "digitalglobe" and have that imagery load by default.

Added a method to renderer/background.js that will set the default basemap to DG imagery when set to "digitalglobe"

[2016-03-14 16:54] mikejeffe opened #314 "Resolving reviews in Congo OSM/MGCP line data triggers error: Cannot read property 'members' of undefined"
Consistently hitting this issue when conflating OSM and MGCP roads and bridges data.  When you click the resolved button or the hot key to resolve the conflict, a red message pops up in the corner saying "Cannot read property 'members' of undefined..."  The dev console shows a similar error as well as entity 'x' not found.

ReviewResolution.js:144 TypeError: Cannot read property 'members' of undef

[2016-03-14 16:54] mjeffe98 commented on #314
@sisskind not sure who to assign this to.

[2016-03-14 17:06] mjeffe98 opened #315 "Error occurs while trying to save edits in review layer"
Seeing the pop-up error, "Errors occurred while trying to save" along with associated
errror message: 'Error uploading changeset with ID: 568 - data: (Batch entry 0 delete from current_nodes_220 where id='82024' was aborted. Call getNextException to see the cause. ERROR: update or delete on table "current_nodes_220" violates foreign key constraint "current_way_nodes_node_id_fkey__220" on table "cu

[2016-03-14 17:06] mjeffe98 commented on #315
@sisskind not sure who to assign this to.

[2016-03-14 17:18] treycaldwell opened #316 "Add the ability to hide all imagery from the Background menu except DG Imagery"
We need a setting to hide Bing, Mapbox, Mapquest, etc. imagery from the menu.

[2016-03-15 15:40] treycaldwell commented on #316
Confirmed with @damianblanck that we can leave the OSM layer which solves this without any code changes.  Simply go into data/imagery.json and remove every source except the OSM layer then bounce the server.

[2016-03-15 16:15] bwitham opened #317 "Add cucumber test for advanced options"
Do this after ngageoint/hootenanny#385 is done.

Create test-files/ui/advanced-options.feature

[2016-03-15 18:30] sisskind opened #318 "Elliptic units for measurement tool"
Investigate the creation of javascript function in d3 for elliptical measurement as opposed to spherical.

[2016-03-15 18:35] sisskind opened #319 "TypeError: Cannot read property “members” of undefined"
Error that occurs when copying and pasting attributes from a non-relation onto a relation. Error prevents user from being able to resolve the review.

The following procedure replicates the error:
First you need to be taken to a review area where one feature is part of a relation (no color highlight) and the other is not (has a color highlight). Then do the following:

1. Click the feature that th

[2016-03-15 18:36] sisskind commented on #319
https://github.com/DigitalGlobe/VGI-team-repo/issues/59

[2016-03-15 18:41] sisskind opened #320 "Same review open in two different browsers at same time"
To replicate:

1. Ran DC POI Conflation in Chrome.
2. Opened DC POI conflation in Firefox.
3. Firefox opened to the same review as was open in Chome.  Also able to cycle thru the reviews to get to same review on both browsers.

[2016-03-15 18:41] sisskind commented on #320
https://github.com/DigitalGlobe/VGI-team-repo/issues/57

[2016-03-15 18:42] brianhatchl commented on #320
Remember that reviews now use "optimistic" locking (just like normal edits in OSM) so two users can load the same review, but the first one to save changes wins.  This is behaving as expected.

[2016-03-15 18:43] sisskind commented on #320
@brianhatchl Thanks.  Will close.

[2016-03-15 18:43] #320 closed

[2016-03-15 18:44] sisskind opened #321 "Buttonology on the radial menu"
Options for editing pallet in review mode are no longer functioning because it has been changed to “Toggle conflated layer with inputs”. Users would like to be able rotate polygons. No keyboard shortcut workaround since “R” will resolve conflicts and not let you rotate in the conflict resolution mode.

[2016-03-15 18:45] sisskind commented on #321
https://github.com/DigitalGlobe/VGI-team-repo/issues/56

[2016-03-15 18:49] sisskind opened #322 "Update shortcuts list with overwrite and append"
Update the current shortcut list with the 'overwrite and append' command.

[2016-03-15 18:50] sisskind commented on #322
https://github.com/DigitalGlobe/VGI-team-repo/issues/61

[2016-03-15 18:58] sisskind commented on #130
This also may be duplicated by #264.

[2016-03-15 19:17] sisskind commented on #163
Refer to #264 for potential solution, specifically:
[code]

[2016-03-15 20:36] bwitham opened #323 "Fix clip cucumber test"
This test was not working in the current develop branch.  Wait to fix until ngageoint/hootenanny#385 is done.

Rename test-files/ui/features/clip.fix-me --> test-files/ui/features/clip.feature

[2016-03-16 14:55] sisskind commented on #282
@bwitham @mjeffe98 @brianhatchl is it possible to come to a consensus on this today?

[2016-03-16 14:57] bwitham commented on #282
I vote for the three color idea...separate for success, warnings, error.  However, many of the jobs we run from the ui get warnings back from the core...so you're going to get gold a lot.  So, I'm wondering if those things that are happening are really warning worthy.  Will open a separate issue to look into that.

[2016-03-16 15:01] bwitham opened #324 "Determine validity of warnings shown in UI received from the core"
Follows #282

Many of the jobs execute from the UI result in warnings back from the core.

* Determine what these warnings are
* If they're valid as warnings, determine what can be done to keep them happening, possibly by modifying the hoot command sent to the core.
* If they're not valid, reduce the log level for the statement to info.

This may result in changes in all three codebases: ui, servi

[2016-03-16 15:30] mjeffe98 commented on #282
I think you can do green - success, yellow - warning, red - error.  I don't know where "gold" came from but its kind of out of the standard color sequence.  Let's just stick with convention for now.

[2016-03-16 15:31] sisskind commented on #282
Can go with any color -- went for something less threatening than red but harsher than green.  Gold shows up better than yellow.

[2016-03-16 15:33] mjeffe98 commented on #282
I'll leave that decision up to you then what looks best.  We're not going to resolve the issue with unnecessary warnings until later on in the sprint when @bwitham has a chance to dig in.

[2016-03-16 15:34] sisskind commented on #282
So can we mark this as complete?

[2016-03-16 15:40] mjeffe98 commented on #282
Sure mark as complete.

[2016-03-16 15:41] #282 closed

[2016-03-16 15:42] bwitham opened #325 "Fix settings cucumber test"
This test was not working in the current develop branch.  Wait to fix until ngageoint/hootenanny#385 is done.

* Rename test-files/ui/features/settings.fix-me --> test-files/ui/features/settings.feature
* Merge anything needed from test-files/ui/features/step_definitions/settings-page.rb.integrate-into-custom_steps -->test-files/ui/features/step_definitions/custom_steps.rb

[2016-03-16 15:58] mjeffe98 commented on #273
This issue has resurfaced on the release.  Right-click menu options are not displaying initially in the Datasets tab.  User has to do something to allow them to work such as right click Zoom to Layer.

[2016-03-16 16:14] sisskind commented on #273
@mjeffe98 was this found on selma or on local?

[2016-03-16 16:15] mjeffe98 commented on #273
selma release

[2016-03-16 17:45] mjeffe98 commented on #267
Seeing this issue again on Selma release.  When you try to rename the basemap to something other than the file name it defaults back to the basemap back to the file name.
[RomanColosseum_WV2naturalcolor_clip.zip](https://github.com/ngageoint/hootenanny-ui/files/176560/RomanColosseum_WV2naturalcolor_clip.zip)

[2016-03-16 18:01] mjeffe98 opened #326 "Clipped layer does not support space in output name"
When you clip using bounding box or map extent, there is the option to enter a name for the layer.  If the name has a space in between it causes the clip job to fail without reporting the reason why (example error below).  Since providing a space in the name is supported when renaming a layer it seems that we should support it with all functions that involve output name.

`2016-03-16 13:56:12,675

[2016-03-16 18:05] mjeffe98 commented on #326
This also could be something that @sisskind might have some insight into since he worked on the implementation of clipping layers.

[2016-03-17 19:02] mjeffe98 commented on #273
@sisskind  more of a nuisance than a blocker.  to instantiate the right-click dataset menu options you need to click on a folder first and right click on any dataset to see the context menu.  https://github.com/ngageoint/hootenanny-ui/commit/c39c71c1f4e4d5407418d38df5c2696f4ca63852 should be in the release but for some reason the issue has resurfaced.

[2016-03-17 20:21] #273 closed

[2016-03-18 18:59] mjeffe98 commented on #322
@sisskind The help menu for the latest release already has the overwrite and append options listed in the shortcuts so I its just a matter of time for those to get installed onsite.

[2016-03-18 19:53] #322 closed

[2016-03-21 22:38] mjeffe98 opened #328 "Data ingest generates failure message and datasets placed in root dataset folder"
just a UI tracking ticket for https://github.com/ngageoint/hootenanny/issues/480

[2016-03-21 22:40] mjeffe98 commented on #328
This issue is just tracking the failure that occurs in the UI.  Will open a separate ticket for core/db

[2016-03-22 01:37] sisskind commented on #321
This is expected behavior.  See radial_menu.js:
[code]
What this is saying is that if there is a merged layer, instead of running the rotate or reverse operation, the toggle layers (or layerSwap) command is run.  If this is not the desired behavior, we can work to make it so!

[2016-03-22 12:49] #130 closed

[2016-03-22 15:02] brianhatchl commented on #321
I would suggest we add a new option to the radial menu to swap layers instead of overriding the rotate feature button.

[2016-03-22 17:51] sisskind commented on #326
This may also be causing issues on ngageoint/hootenanny#480.  Need to confirm space issue for ingesting datasets or creating through conflation.

[2016-03-22 18:50] treycaldwell commented on #267
@jchoi1267 is correct, the filename is always overwriting the user-input Basemap Name.  Didn't see the fix so I'm assuming he just forgot to push it.

[2016-03-22 20:18] treycaldwell commented on #267
This is currently fixed in develop by commit 38e8ef48d7b9470a406e8c292ad04f3a347b5a95

[2016-03-22 20:46] mjeffe98 commented on #267
tested it on develop and latest release and it works.  probably was just a matter of time for commit to cycle through.

[2016-03-22 20:46] #267 closed

[2016-03-22 21:25] sisskind commented on #253
This has popped up again in develop branch (at least locally for me).  @mjeffe98 can you test to see if you encounter same issue?

[2016-03-22 21:31] sisskind commented on #264
Suggested updates:
* When you click resolve, remain within other relations for feature if they exist
* Hide any merged relations

[2016-03-22 21:38] sisskind commented on #253
@mjeffe98 Specifically occurring with Haiti Demo data.  May be a data issue.

[2016-03-22 23:30] mjeffe98 commented on #253
@sisskind I can't reproduce right now because I cannot conflate Haiti data on either develop or release per https://github.com/ngageoint/hootenanny/issues/490

[2016-03-24 16:28] bwitham opened #330 "Investigate dataset delete errors in production environment 3/24/16"
Unfortunately this task is very vague with no clear plan how to tackle it, so define how you want to approach this before starting....

Datasets are being deleted but the hoot db is left in an inconsistent state.  We need to find some way to prevent this from happening, regardless if its configuration related.

Excerpt from a message from @qwyjibojones:

"It seems that durring a training session s

[2016-03-24 19:31] brianhatchl commented on #269
The proper fix for this is to use the dataset map id in the renderdb name instead of the map name.

[2016-03-24 20:48] bwitham commented on #330
duplicate of ngageoint/hootenanny#501

[2016-03-24 20:48] #330 closed

[2016-03-25 15:45] sisskind opened #331 "Line width allows user to enter value greater than 25"
User should not be able to enter value greater than 25 (or less than 0) manually.  Make field read-only!

[2016-03-25 16:23] brianhatchl commented on #249
The dependency has been merged, so adding Milestone

[2016-03-25 17:31] brianhatchl opened #332 "Create a cucumber test that verifies the layer stat display is working"
This test would piggy back on the result of a test that conflated two datasets with the Collect Stats option enabled.
This test would then load that dataset and confirm that the stats table correctly parsed and displayed.

[2016-03-26 02:02] sisskind commented on #319
Cannot replicate.

[2016-03-26 02:33] sisskind commented on #326
@mjeffe98 Ready for test.  Should not be able to use a space in dataset name when importing/clipping/conflating.

[2016-03-26 04:02] sisskind commented on #206
Putting onto backlog, as I believe this has been fixed in future versions.

[2016-03-27 01:44] sisskind commented on #253
Cannot replicate -- closing.

[2016-03-27 01:44] #253 closed

[2016-03-28 02:47] sisskind commented on #311
@mjeffe98 Ready to test.  Best way to do so:

1. Add dataset
2. Try adding same dataset (trigger error)
3. Clip dataset (get notice/success)
4. Check log

[2016-03-28 16:02] mjeffe98 commented on #328
Re-opening as I see this occurring with latest

[2016-03-28 16:02] #328 closed

[2016-03-28 17:27] sisskind commented on #319
Unable to replicate for version 0.2.23.  Will close and reopen if issue bubbles up again.

[2016-03-28 17:27] #319 closed

[2016-03-28 20:01] sisskind commented on #306
https://github.com/DigitalGlobe/VGI-team-repo/issues/77

[2016-03-28 20:01] sisskind commented on #306
Create toggle to turn snapping on or off.  Would replace the pop up each time user enters mode to create new feature.  Shortcut button would also be preferred.

[2016-03-28 20:03] sisskind opened #338 "Remove flashing features"
The flashing features has created a GPU issue and can be distracting -- it may be creating more issues than helping solve.  Remove the flashing features, and depend on #264 to identify related reviews.

[2016-03-28 20:04] sisskind commented on #338
https://github.com/DigitalGlobe/VGI-team-repo/issues/88

[2016-03-28 20:04] sisskind opened #339 "Review Bookmark Improvements"
* ~~Consistent language through the process. Change to "Review Bookmarks"?~~
* ~~Shortcut "s" does not work.~~
* ~~Cannot clear a filter in any dropdown~~
* ~~Make 'note' field optional for user (all other required)~~
* ~~Inform user that other fields are required at onset.~~

[2016-03-28 20:07] sisskind commented on #339
https://github.com/DigitalGlobe/VGI-team-repo/issues/86

[2016-03-28 20:22] sisskind commented on #338
https://github.com/DigitalGlobe/mapedit-id/commit/cfbb55935db767e3cca0318eea3daa6c372ec4dd

[2016-03-28 21:53] #258 closed

[2016-03-28 22:04] mjeffe98 commented on #311
Here's an example of conflation error:

"3/28/2016, 3:01:16 PM: Requested job failed! For detailed log goto Manage->Log\nError\n    at http://localhost/hootenanny-id/js/hoot/model/rest.js:415:104\n    at Object.<anonymous> (http://localhost/hootenanny-id/js/lib/d3.min.js:1:10988)\n    at Object.t (http://localhost/hootenanny-id/js/lib/d3.min.js:1:1368)\n    at XMLHttpRequest.u (http://localhost/ho

[2016-03-28 22:04] #311 closed

[2016-03-28 22:07] mjeffe98 commented on #331
Anytime a value of > 25 or < 0 is entered it defaults to either limit.  I assume that takes care of the issue.  Not sure about the read-only part since users are still entering values.

[2016-03-28 22:07] #331 closed

[2016-03-29 12:10] sisskind commented on #139
Updating to 1.9.2

[2016-03-29 14:21] bwitham opened #340 "Add user interface for generating a diff changeset from an input MapEdit dataset and conflated output (holy grail)"
r7395

Needs more definition.  Some of this work may have already been started in the holy-grail branch.  Possibly, some work can be completed before the associated core and services holy grail tasks.

[2016-03-29 14:22] bwitham opened #341 "Modify the add dataset UI to allow for ingesting MapEdit data by bounding box (holy grail)"
* Make MapEdit a selectable data source
* Allow for a bounding box specification when selecting a MapEdit data source
* Call into a web service which is capable of querying the data out of MapEdit for the specified bbox and ingesting it into the hoot database

[2016-03-31 19:58] sisskind commented on #326
https://github.com/ngageoint/hootenanny-ui/commit/d8e284dfe24fa30dabb4a034e34f33d4a5c3aacf#diff-23fb12fc4edecd0c5add7cbdc3dcca59

[2016-03-31 20:00] bwitham commented on #325
duplicate of ngageoint/hootenanny#520

[2016-03-31 20:00] bwitham commented on #323
duplicate of ngageoint/hootenanny#520

[2016-03-31 20:00] #323 closed

[2016-03-31 20:00] mjeffe98 commented on #326
Just adding a comment for a mental note.  Revisiting this to see if removing support for spaces altogether is the best approach or not.

[2016-03-31 20:00] #325 closed

[2016-04-01 13:11] sisskind opened #342 "Fix and run eslint tests"
Following iD v1.9.2, update and run eslint tests for iD editor/Hoot-UI.

[2016-04-01 13:12] sisskind opened #343 "Fix and run mocha tests for UI"
1. Determine what mocha tests that currently exist in iD editor can be reused for Hoot-UI
2. Update existing mocha tests as needed
3. Create new mocha tests for functions not covered by existing/updated tests.

[2016-04-01 15:29] sisskind commented on #139
https://github.com/openstreetmap/iD

[2016-04-01 20:40] bwitham opened #344 "Add cucumber test for average conflation"

[2016-04-01 20:40] bwitham opened #345 "Add cucumber test for cookie cutter conflation"

[2016-04-04 17:50] brianhatchl opened #346 "Add conflation review style to node-mapnik-server"
When conflated layers with open reviews are added to the map, have the node-mapnik-server layer use a style that renders the features according to 1) reference layer, 2) secondary layer, 3) merged.  A fourth color designating the feature as marked for review may also be useful.

[2016-04-04 17:52] brianhatchl opened #347 "Add node-mapnik-server layers to map-in-map"
It would be useful to have the node-mapnik-server layers displayed for map datasets in the map-in-map.

[2016-04-05 16:55] bwitham opened #348 "Add user interface for writing an OSM changeset into a MapEdit database (holy grail)"

[2016-04-05 20:08] bwitham commented on #348
duplicate of #341

[2016-04-05 20:08] #348 closed

[2016-04-05 20:08] bwitham commented on #340
duplicate of #341

[2016-04-05 20:08] #340 closed

[2016-04-05 20:31] curranMapper commented on #346
I am wondering if the above will also mitigate instances like this?
![saveasgreenatfirst](https://cloud.githubusercontent.com/assets/15927720/14297136/6788f5a0-fb4b-11e5-92cd-75de9349c798.png)

[2016-04-05 20:43] brianhatchl commented on #346
It might.  That behavior may be the node-mapnik-server layer drawing first in all green.  Then the editable vectors get loaded after some latency and they are colored by source/merged.

[2016-04-05 22:25] mjeffe98 commented on #213
@sisskind @brianhatchl I'm getting this error on both develop and release in my local vagrant environment.  Basically when I try to merge a POI pair in a review I get an error: _Poi merge failure._
I'm not seeing this error on Selma in either instance, only in vagrant. Can one of you take a look if you're seeing a similar issue when merging POIs in a review on your vagrant instances?

Uncaught Typ

[2016-04-06 12:33] sisskind commented on #213
@mjeffe98 did not get error.  what data were you using?

[2016-04-06 14:54] mjeffe98 commented on #213
@sisskind this is occurring with all POI datasets.  I would speculate this must have something to do with port configuration but I've kept everything default.  I have multiple vagrant instances but not running simultaneously.

[2016-04-06 14:58] mjeffe98 commented on #213
rest.poiMerge = function (data, callback) {
        d3.json(window.location.protocol + '//' + window.location.hostname + ":"  +
               iD.data.hootConfig.p2pServerPort

@brianhatchl is there a way to determine which port is being used for merging POIs?

[2016-04-06 15:00] mjeffe98 commented on #213
OST http://10.0.1.12:**8096**/p2pmerge net::ERR_CONNECTION_REFUSED

[2016-04-06 15:05] brianhatchl commented on #213
try this
[code]

seems like your merge service is not running

[2016-04-06 15:11] mjeffe98 commented on #213
vagrant@vagrant-ubuntu-trusty-64:~/hoot$ ps -ef | grep P2PServer

[code]

[2016-04-06 15:23] mjeffe98 commented on #213
Ok figured it out and solved my problem.  My Vagrantfile was using the wrong port (8095) for the merge nodejs service and it seems like 8096 must have been either pre-baked or cached.  When I changed this to 8096, POI merged worked.  Up to this point I was using vagrant reload and my assumption would be that it would use the port specified in the Vagrantfile would be the one used but not in this c

[2016-04-06 15:23] #213 closed

[2016-04-07 12:20] sisskind commented on #264
@brianhatchl found error where initial review item is being resolved even after traversing to different pair.

[2016-04-07 14:45] sisskind commented on #139
Committed to develop.  @mjeffe98 ready for review.  If you see the following, can assume that this is complete:

1) See toggle icon (layers) and go to review icon in radial menu when in review mode
2) Can see Map-in-map checkbox in sidebar (Map Data)
3. All other icons appear as they should

[2016-04-07 14:56] sisskind commented on #326
Appears that importing with spaces is also causing errors.

[2016-04-07 18:09] bwitham commented on #186
services issue..moving to hoot repo

[2016-04-07 18:09] #186 closed

[2016-04-07 18:57] bwitham commented on #315
services issue; recreated as ngageoint/hootenanny#575

[2016-04-07 18:57] #315 closed

[2016-04-07 20:44] sisskind opened #351 "Brightness Control Does not Work"
Following the upstream merge, it appears that the brightness control is not working.

[2016-04-07 20:45] sisskind opened #352 "Gap between basemap tiles"
There is a 1 pixel gap/border between basemap tiles.

[2016-04-07 21:17] brianhatchl opened #353 "EGD plugin icons don't appear after upstream merge"
@sisskind Pretty sure @RDaviesDG has the solution for this

[2016-04-07 22:04] sisskind commented on #351
@mjeffe98 Ready for test.  Should be able to adjust brightness levels as before.

[2016-04-07 22:49] sisskind commented on #353
@brianhatchl is there a way to get EGD plugin?  Don't think this is out of the box, is it?

[2016-04-07 23:10] sisskind commented on #352
@brianhatchl This seems to be an artifact from the iD upstream merge to version 1.9.2.

[2016-04-08 00:03] sisskind commented on #352
Determined where it was introduced: **js/id/renderer/tile_layer.js**
[code]

Math.round was removed, and this is what created the artificial grid.

[2016-04-08 00:05] sisskind commented on #352
@mjeffe98 Ready to test.  As long as you do not see gap between tiles, this can be considered complete.

[2016-04-08 03:04] sisskind commented on #353
Icon now appears for DG Carousel, but unsure if this is the only missing one.  @brianhatchl will have you review pull request.

[2016-04-08 03:11] sisskind opened #356 "Warn user when deleting dataset if bookmark exists"
There have been issues when deleting a dataset if a current review bookmark exists (ngageoint/hootenanny#501).

Create a warning when a user is deleting a dataset that is affiliated with a current review bookmark.  Alert the user that if the dataset is deleted, bookmarks will be deleted as well.

[2016-04-08 14:16] brianhatchl opened #357 "Fix EGD plugin layer controls expanded section position"
The EGD  plugin creates custom layer controls that have expanded sections that should be immediately next to their menu items.

- ~~Custom should be above DG Imagery header~~
- ~~Minimap should be below DG Collection expanded section ("Show ...")~~

![screenshot from 2016-04-08 10 14 47](https://cloud.githubusercontent.com/assets/2600932/14386433/c164c652-fd72-11e5-9dfc-53398fe15ffb.png)

[2016-04-08 15:17] sisskind commented on #353
![issue-353](https://cloud.githubusercontent.com/assets/6191659/14388311/8453c674-fd7b-11e5-9d87-45138c5c99d3.png)

[2016-04-08 15:18] sisskind commented on #353
@mjeffe98 Ready for test.  Should be able to see icons displayed.

[2016-04-08 15:26] sisskind commented on #351
@mjeffe98 reopening - seems that it was not correctly mitigated.

[2016-04-08 16:37] #353 closed

[2016-04-08 16:38] mjeffe98 commented on #352
no gap visible

[2016-04-08 16:38] #352 closed

[2016-04-08 16:53] mjeffe98 commented on #351
@sisskind the brightness controller does appear to be functioning correctly i.e. I have 4 brightness options from 100-25% and all behave properly.  Working off of 0.2.23_615_g933e088_dirty

[2016-04-08 16:56] mjeffe98 commented on #139
@sisskind I'm ready to sign off on this assuming that the work for https://github.com/ngageoint/hootenanny-ui/issues/351 is complete.

[2016-04-08 17:22] sisskind commented on #357
@mjeffe98 Ready for test.  Minimap should appear at bottom and custom/DG imagery should be flipped.

[2016-04-08 17:32] sisskind commented on #351
@mjeffe98 on Version: 0.2.23_622_gb0d8f4c_dirty and does not seem to be working.  Will see what changed and will fix/commit.  Also true for gap between tiles.

[2016-04-08 18:56] mjeffe98 commented on #351
@sisskind please send me a screencap of the gap between tiles.  I want to know what to look for sinece I'm on _624_ and the issue is not obvious to me

[2016-04-08 19:06] sisskind commented on #351
@mjeffe98 Leaving gap on backlog since this appears to be a known issue that occurred prior to merge.

[2016-04-08 19:09] sisskind commented on #351
Brightness issue has been resolved and is ready for test.

[2016-04-08 19:28] mjeffe98 commented on #351
@sisskind not sure exactly why but the gaps that appear for the same imagery basemap services were not visible in 0.2.23_615 has become strikingly noticeable in latest dev. Ignoring this issue, the background brightness controller works.

[2016-04-08 19:28] #351 closed

[2016-04-08 20:11] sisskind opened #359 "Review Bookmark "Go To" missing icon"
Magnifying glass is missing from review bookmark which allows user to drive to review.

[2016-04-08 21:04] sisskind opened #360 "Replace missing icon with SVG"
Icons were replaced with SVG in recent version of iD editor.

Known icons that were replaced include:
* search

[2016-04-08 21:05] sisskind commented on #360
Search icon for review bookmark replaced in #359

[2016-04-08 21:05] sisskind commented on #359
Will close and complete in #360

[2016-04-08 21:05] #359 closed

[2016-04-08 21:15] sisskind opened #362 "Line Width: Shadow does not change"
Not as critical when making width larger, but the shadow for the line does not get larger/smaller with the interior of the line, making this tool irrelevant when shrinking the line width value.

[2016-04-08 21:17] sisskind opened #363 "Attribute Reference Layer overridden by Geometric Reference Layer"
During conflation, it seems that the attribute reference layer is being overridden by the geometric reference layer.  Each of these should be treated separately and not as the same.

[2016-04-11 17:40] sisskind opened #365 "Attribute Select All function"
Create the ability to select all attributes at once while in review mode in order to copy/paste to other feature.

Original Text:
_This could be as simple as a blank box over top the column of values to indicate the 'select all' function.  Additionally, using traditional windows shortcuts like holding ctrl+shift and/or holding ctrl and selecting multiple at a time to select those fields to check t

[2016-04-11 17:42] #305 closed

[2016-04-11 21:03] brianhatchl commented on #343
Before fixing mocha tests and adding new ones, we've got some code cleanup to make eslint happy

eslint js/id
✖ 820 problems (683 errors, 137 warnings)

eslint js/hoot
✖ 4696 problems (4506 errors, 190 warnings)

[2016-04-11 21:03] brianhatchl commented on #343
Ready to break out some global find&replace kung fu?

[2016-04-11 22:26] mjeffe98 opened #368 "preset icons need to be re-centered."
Possibly a casualty of the upstream merge but it looks like the icons for feature subtypes are no longer centered.

![image](https://cloud.githubusercontent.com/assets/7560096/14444324/947640ba-fff9-11e5-9ffb-658b6d11cdaa.png)

[2016-04-12 14:31] sisskind commented on #339
- Changed "Share Review" to "Bookmark Review"
- Changed Shortcut to Control + B

[2016-04-12 15:11] #321 closed

[2016-04-12 17:58] sisskind commented on #338
@mjeffe98 ready for test

[2016-04-12 18:59] mjeffe98 commented on #351
@sisskind looking at Version: 0.2.23_643_g22548b4_dirty - Built By: vagrant and the brightness controller isn't responding.  Can you confirm on your version?

[2016-04-12 20:28] brianhatchl commented on #342
See branch here https://github.com/ngageoint/hootenanny-ui/pull/367

[2016-04-12 21:08] mikejeffe opened #372 "Merge arrow appearing underneath merged feature layer"
Pretty self explanatory but seeing the merge POI arrow under some of the features in the merge layer output.  Seems like the arrow should always be the top layer.

![image](https://cloud.githubusercontent.com/assets/7560096/14475679/0bf3bffa-00b8-11e6-9b65-5e085f0bf707.png)

[2016-04-12 21:14] brianhatchl commented on #372
We can't solve this because if the arrow is on top, the mouse events will not be able to interact with the editable features

[2016-04-12 21:15] sisskind commented on #372
https://github.com/openstreetmap/iD/issues/2934

[2016-04-12 21:16] brianhatchl commented on #372
Unless we try to dynamically add/remove the svg "container" layer to the dom.  Right now we are dynamically adding/removing the svg path element when the merge button is hovered.

[2016-04-12 21:18] sisskind commented on #372
So would you create a new HTML layer/blow it away on hover so that it appears above?

[2016-04-12 21:57] brianhatchl commented on #372
A new svg element, but yes.

[2016-04-13 13:17] sisskind commented on #326
This is a renderdb issue -- it appears it will not accept layer names with spaces.  @brianhatchl how do you want to proceed?

[2016-04-13 13:21] sisskind commented on #326
@brianhatchl is it possible to change renderdb to use map id instead of name?

[2016-04-13 13:26] sisskind commented on #326
@brianhatchl @mattjdnv changing hoot core code to replace map name with map id in issue-326 branch (will commit shortly).

[2016-04-13 13:58] brianhatchl commented on #326
@sisskind replacing map name with id is the proper fix.  There should be tests that break at this point.

[2016-04-13 14:00] sisskind commented on #326
@brianhatchl ok -- will let you know once it is ready for a review.  may miss some things along the way, but if i can import/clip/delete without warnings, I think I'll be on the right track?

[2016-04-13 14:05] brianhatchl commented on #326
I'm still a bit uncertain because I thought there was a ticket for adding a export render db trigger to the clipping job, but maybe not.

This fix will settle this https://github.com/ngageoint/hootenanny-ui/issues/269

[2016-04-13 14:08] brianhatchl commented on #326
See scripts/exportrenderdb.sh and then uses of RasterToTilesService job in ConflationResource and FileUploadResource.  Currently $INPUT=mapname and those resources would have to add the mapid to the available env vars for the exportrenderdb script.

[2016-04-13 14:10] brianhatchl commented on #326
_createCommandObj in RasterToTilesService would need to accept the map id as a param.

As you can see, I just commandeered the old density map service infrastructure to run the exportrenderdb script instead of the gdal2tiles stuff.

[2016-04-13 14:11] sisskind commented on #326
So that is the only change that would need to be made?  I also found map name being used instead of map id in a few places and made the change (see https://github.com/ngageoint/hootenanny/commit/467de2892c83ce8561eecd07d521abb525e248ab)

[2016-04-13 14:12] sisskind commented on #326
Working on updating _createCommandObj now

[2016-04-13 14:13] brianhatchl commented on #326
There is newish code in the core to delete render dbs within `hoot delete-map` so that's the first update in the commit you reference.  And the node-mapnik-server needs to know the render db naming convention as well.

[2016-04-13 14:17] sisskind commented on #326
where in node-mapnik-server does that get defined?

[2016-04-13 14:20] brianhatchl commented on #326
I think you already found it in your initial commit, I was describing what those commit changes affected in comment above.

[2016-04-13 14:36] sisskind commented on #326
@brianhatchl think i changed too much -- hoot went boom

[2016-04-13 14:49] sisskind commented on #326
@brianhatchl do you have bandwidth to review?  think I am missing something, since mapnik is running but not rendering.  Will create a pull request for easier viewing.

[2016-04-13 15:05] sisskind commented on #360
Found missing icons:

![svg-icon-2](https://cloud.githubusercontent.com/assets/6191659/14498231/a3a869c2-0167-11e6-82f7-2ed2b8e67c61.png)
![svg-icon-1](https://cloud.githubusercontent.com/assets/6191659/14498232/a3ab68f2-0167-11e6-9df8-4a64eb4629c7.png)

[2016-04-13 15:30] mjeffe98 commented on #351
disregard @sisskind I can see this working on  0.2.23_648_g963c3b4

[2016-04-13 15:58] #368 closed

[2016-04-13 16:05] mjeffe98 commented on #139
@sisskind how do you want me to treat testing of this?  I think we should close it and then open new issues as they are discovered.  This is too much of a "regression-ey" ticket which has a very vague set of testing criterion.  thoughts?

[2016-04-13 16:07] sisskind opened #374 "Remove offsetTop, offsetLeft, offsetWidth, and offsetHeight"
Saw this error pop up:
[code]

Need to find alternative to both and replace in UI code.

[2016-04-13 16:08] sisskind commented on #139
I made it into an Epic using ZenHub, so once the others are closed we can close it out.  I'll take the lead on tracking and closing when ready.

[2016-04-13 16:09] mjeffe98 commented on #139
thanks.  I just didn't know about the ready for test state.  thanks for clarifying

[2016-04-13 16:12] sisskind commented on #163
@mjeffe98 ready for test.  should be able to draw measurement vectors and they should persist as you pan/zoom map.  To remove, click tools menu.

[2016-04-13 16:14] sisskind commented on #306
@mjeffe98 ready for test.  should see toggle in side bar default to false and should not see pop up anymore.

[2016-04-13 16:16] sisskind commented on #363
@mjeffe98 ready to test.  should be able to see changes when selecting different layer for attribute reference layer.

[2016-04-13 16:25] mikejeffe opened #376 "Cannot zoom beyond current zoom level message when adding or editing features"
If you add new features at say zoom level 16 there is the normal behavior but when you do this zoomed out (map=13.93), bad things seem to happen such as the pop-up error noted in the title and animation as well as the inability to use the mouse scroll wheel to zoom  in/out (hot keys seem to work though).  I need others to reproduce though so putting it as high priority for testing. @brianhatchl @s

[2016-04-13 16:27] mjeffe98 commented on #376
the other thing to note is that the digitizing cursor didn't fully trace my mouse cursor but that is kind of a known issue with some clipping functions.

[2016-04-13 16:42] #362 closed

[2016-04-13 16:52] mjeffe98 commented on #338
@sisskind please define what is meant by remove flashing.  When I hover over either a blue/red highlighted feature it still flashes but I suppose this was referring to the unintended behavior of the feature continuing to flash?  Please clarify.  thanks

[2016-04-13 16:53] sisskind commented on #338
Yes -- continuing to flash

[2016-04-13 16:54] mjeffe98 commented on #338
@sisskind so that's the intended behavior or unintended?

[2016-04-13 16:57] #357 closed

[2016-04-13 16:57] sisskind commented on #338
It should not blink, but still highlight as red or blue on hover.

[2016-04-13 17:10] mjeffe98 commented on #338
blinking gone.  appears that I just needed to update Hoot.

[2016-04-13 17:10] #338 closed

[2016-04-13 17:16] mjeffe98 commented on #163
@sisskind this does work but there is the unintended side effect that the measurement will remain on the screen until you click again on the Tools button.  I think we're gonna need a 'Clear' screen button if you want this ability.

[2016-04-13 17:20] mjeffe98 commented on #306
@sisskind nothing is visible in side bar.  Please provide a screencap or something to highlight this capability.  working on Hootenanny Core - Version: 0.2.23_670_g8ed167c - Built By: vagrant

[2016-04-13 17:26] sisskind opened #377 "Error loading review layer if input layer(s) has been deleted"
When one or both input layer(s) for a review layer have been deleted, the review layer fails to load/render.

[2016-04-13 17:37] sisskind commented on #163
Will add and resubmit.

[2016-04-13 17:42] mjeffe98 commented on #377
This is the error message when you load a review layer where one of the input layers has been deleted.  This leaves the UI in a broken state requiring reloading.  I personally think we shouldn't close https://github.com/ngageoint/hootenanny-ui/issues/356 until this is done because if the user does delete an input layer and not the merged layer, the bookmark will remain and the issue will persist.

[2016-04-13 17:43] mjeffe98 commented on #356
@sisskind the behavior described in the ticket works.  I'll close it but bear in mind that users will still fall into trouble if https://github.com/ngageoint/hootenanny-ui/issues/377 happens.

[2016-04-13 17:43] #356 closed

[2016-04-13 17:47] #163 closed

[2016-04-13 17:49] sisskind opened #378 "Create clear button for measurement vectors"
When creating measurement vectors, rather than have to click the Tools menu again create a 'Clear' button.

[2016-04-13 18:49] sisskind commented on #360
Updated for above scenario in this commit:  https://github.com/ngageoint/hootenanny-ui/commit/69021444bd3f734214a89a7cd9962021b33dfe31

Will search for other instances and correct.

[2016-04-13 18:51] sisskind commented on #326
https://github.com/ngageoint/hootenanny/pull/598

[2016-04-13 19:31] #360 closed

[2016-04-13 19:33] sisskind commented on #306
May have mislead -- meant Map Data

![issue-306](https://cloud.githubusercontent.com/assets/6191659/14506696/13647092-018d-11e6-836e-e99f8a51ef1d.png)

[2016-04-13 19:42] mjeffe98 commented on #306
yep see it in the Map Data panel.

[2016-04-13 19:42] #306 closed

[2016-04-13 20:27] sisskind commented on #339
@mjeffe98 ready for test

[2016-04-13 20:52] brianhatchl commented on #326
The pull request above (replacing map name with map id in the render database nam) is ready to review.  But I don't think the clip tool in the UI generates a render db based on my testing.  This pull request should address https://github.com/ngageoint/hootenanny-ui/issues/269 however.

[2016-04-15 23:43] brianhatchl commented on #262
I just tried this and the clip operation does not trigger the creation of a renderdb.  So the proper fix here is  to add the export render db job to the chain in the ClipDataResource.

[2016-04-18 15:46] mjeffe98 commented on #264
good job with this!

[2016-04-18 15:46] #264 closed

[2016-04-18 16:12] #326 closed

[2016-04-18 16:21] #269 closed

[2016-04-18 17:33] #363 closed

[2016-04-18 17:54] #339 closed

[2016-04-20 22:12] mjeffe98 opened #383 "TypeError when selecting "show review relations" on a road review with Samoa data"
When conflating Apia, Samoa OSM data against MGCP using https://github.com/DigitalGlobe/hoot-presentations/files/178608/foss4gdata.zip, if you click on the show review relations on one of the road reviews nothing appears to display.  When you subsequently click resolve the below error occurs and it becomes difficult to move onto the next review.  In some cases it seemed that you could click next b

[2016-04-20 22:15] mjeffe98 commented on #383
This will occur in any cnoflation e.g. Haiti PortAuPrince OSM/MGCP roads where the reviews involve one to many subline matches.

![image](https://cloud.githubusercontent.com/assets/7560096/14692214/8cd6f364-070a-11e6-88a6-5aa87454b308.png)

[2016-04-20 22:30] mjeffe98 opened #384 "Cannot select tags from selected feature for copy/paste"
When selecting a feature to copy individual tag(s) and/or tag values from, it appears that you can no longer click the box next to each tag you wish to append/overwrite.  I tried in release and my develop instance and was unsuccessful i.e. no check box appears when you click.

[2016-04-20 22:31] mjeffe98 commented on #384
I'm placing this at critical because it's a feature that is frequently used.

@sisskind @brianhatchl FYI

[2016-04-21 21:37] mjeffe98 opened #385 "Map panning warning while editing any value in the displayed fields in attribute panel"
When editing a field value exposed in the attribute panel under "all fields", a pop-up message will appear:"Please wait while panning to next review item".  When editing the same field under the all tags section this message does not appear.  In some cases when editing the field value the message will result in the feature getting unselected.  Also when typing letters that are also hotkeys like 'h

[2016-04-22 13:52] brianhatchl commented on #384
Fix pushed to release branch.  I've not updated selma.

[2016-04-22 13:54] brianhatchl commented on #342
eslint checks now passing in branch and configured to run as part of jenkins job http://selma:8765/job/hoot-ui-pull-request/

[2016-04-22 13:54] #342 closed

[2016-04-22 13:58] brianhatchl commented on #343
See jenkins job output, http://selma:8765/job/hoot-ui-pull-request/

[2016-04-22 14:41] brianhatchl commented on #385
fix pushed to both release and develop, selma has not been updated.

[2016-04-22 17:11] mjeffe98 commented on #384
tested both append and overwrite.. works as expected.

[2016-04-22 17:14] #385 closed

[2016-04-22 17:59] bwitham opened #386 "Update the UI to allow for conflating MapEdit sourced datasets with hoot datasets (holy grail)"
https://github.com/ngageoint/hootenanny/wiki/MapEdit-Enhanced-Conflation-Workflow--(aka-%22Holy-Grail%22)

need to call the conflation web service with the correct parameters when a MapEdit data layer is chosen as the reference layer

* MapEdit data should only be allowed as a reference layer
* The input type for the reference dataset should be "OSM_API_DB".  Service should take care of setting al

[2016-04-25 15:08] #378 closed

[2016-04-25 16:08] sisskind commented on #376
This only occurs when trying to zoom while in the process of editing.  Moving to medium priority and pushing to backlog for the time being.

[2016-04-25 16:08] sisskind commented on #376
Note for when it is done -- appears that the minzoom value may be set incorrectly when entering edit mode.

[2016-04-25 19:37] mjeffe98 opened #387 "Address eslint issues identified during regression testing"
Parent ticket for eslint testing issues
@sisskind @brianhatchl

[2016-04-25 19:37] mjeffe98 opened #388 "Pan/Zoom functions not working when advancing through reviews"
Pan/Zoom not working normally during review mode.  The review is loaded in the table but the map does not pan to the review pair or zoom.  Clicking on the review table when the review is out of the current map extent will pan to the map extent containing the selected POI/feature but it doesn't change to zoom level

[2016-04-25 19:39] mjeffe98 opened #389 "Hoot core not reporting a version"
Only seeing Hootenanny Core - Version: WARN - Built By: 135 when clicking on about page.

[2016-04-25 19:40] mjeffe98 opened #390 "TypeError when merging POIs"
When trying to merge two POIs from input sources such as dcpoi/mapcruzin, I seem to be hitting the same error during the POI merge

`TypeError: Cannot read property of 'obj' undefined`

[2016-04-25 19:42] mjeffe98 opened #391 "Notes field in Bookmark Review is no longer optional"
seems to be required now, whereas in 0.2.24 release it was optional.

[2016-04-25 19:46] mjeffe98 opened #392 "Clicking on Export dataset after resolving all reviews is not working"
When I complete a review session or click on resolve all remaining, and then click Export, nothing happens.  Just left with the merged dataset shown in the layers view.

[code]

[2016-04-25 19:53] mjeffe98 commented on #392
Also the application appears to be a broken state after.  You can't delete the dataset or click on anything, just F5 to refresh.

[2016-04-25 19:56] mjeffe98 opened #393 "Cannot view layer stats generated from conflation"
After conflating with generate stats=yes, can no longer click on the 'i' to see the stats when a layer is removed and reviews have been resolved.

[2016-04-25 20:08] mjeffe98 opened #394 "Post conflation layer now appearing green rather than a mix of input and merged features colors"
Prior to eslint, when you conflated two layers the output merged layer would contain a mix of colors based on the input layer colors.  Now all features are displayed as green.

[2016-04-25 20:11] mjeffe98 commented on #393
This is also the case if you don't generate stats and merely have the default layer parameters.  Clicking on the 'i' doesn't expand the layer info anymore.

[2016-04-25 20:19] mjeffe98 commented on #393
[code]

[2016-04-25 20:21] mjeffe98 opened #395 "Cannot upload files for Translation assistant"
Getting the following error when trying to upload files to create a new translation in the Translation Assistant:

[code]

Dev Console:
[code]

[2016-04-25 20:25] mjeffe98 commented on #395
Seems to also occur with .gdb folders

[2016-04-25 20:58] mjeffe98 opened #396 "Tools button is not working"
Clicking on the Tools button produces the following error:

[code]

[2016-04-26 17:28] mjeffe98 opened #397 "The brightness background basemap palette is reversed"
It appears that the ordering of the brightness controller is reversed from OSM's iD editor.  I don't recall if this was done intentionally but after Rob Walton pointed this out to me, it now seems counter intuitive. From a user/training perspective, the 100% brightness icon should be the one closest to white as OSM does it rather than the 100% black one that we show.  The palette just needs to be

[2016-04-27 12:58] sisskind commented on #397
@mjeffe98 Please double check develop branch, as I believe this has been fixed.

[2016-04-27 14:27] brianhatchl commented on #389
I think this a bug in the develop branch as well.

[2016-04-27 14:31] brianhatchl commented on #389
This error is caused by a hadoop lib warning in the new vagrant environment:

Hootenanny 0.2.24_212_gceaf16a Built By: vagrant
The warning is written to stdout which is what hoot-services parses to get the version.

[2016-04-27 14:38] brianhatchl commented on #389
This could be fixed with smarter parsing in hoot-services AboutResource.java.

[2016-04-27 15:01] brianhatchl commented on #390
Cannot reproduce on latest #343 branch.

[2016-04-27 15:05] sisskind commented on #365
Select all check button implemented.  Will hold off on cntrl/shift for the time being to allow customer to test this functionality out.

[2016-04-27 15:29] brianhatchl commented on #392
Cannot reproduce on latest #343 branch.

[2016-04-27 15:31] brianhatchl commented on #390
Doh!  Was on develop branch when testing this.

[2016-04-27 15:32] brianhatchl commented on #392
Doh!  Was on develop branch when testing this.

[2016-04-27 16:04] sisskind commented on #365
![issue-365](https://cloud.githubusercontent.com/assets/6191659/14859000/3a1fd01c-0c70-11e6-97cf-df048ed86f5d.gif)

[2016-04-27 16:22] sisskind commented on #164
Is this still relevant based on #264?

[2016-04-27 16:27] jasonsurratt commented on #164
Does #264 provide the user with the tools to address all these situations?

[2016-04-27 16:46] sisskind commented on #164
@jasonsurratt we had discussed at one point that having the ability to review all features it is related to may make this no longer necessary.  Was just revisiting since #264 is complete.

[2016-04-27 16:57] mjeffe98 commented on #164
it's my understanding that #264 just shows you where all the reviews associated with the selected/highlighted feature are but it doesn't provide the user with any course of action to resolve.  We still only support single POI merge or resolve as we have done before.  I've experimented with dragging POIs ontop of each other to merge them but the reviews are still there and it makes hoot seem a litt

[2016-04-27 17:08] brianhatchl commented on #395
Wasn't able to reproduce with the data I tried.  What dataset was used?

[2016-04-27 17:08] bwitham commented on #341
covered in another issue

[2016-04-27 17:10] #341 closed

[2016-04-27 17:14] #139 closed

[2016-04-27 17:19] mjeffe98 commented on #393
working now

[2016-04-27 17:19] #393 closed

[2016-04-27 17:21] #390 closed

[2016-04-27 17:21] #388 closed

[2016-04-27 17:29] brianhatchl commented on #394
fixed in e5b3a4f0407b0d0acc6f8ff3b8bf4cecd988ac95

[2016-04-27 17:31] mjeffe98 commented on #365
@sisskind right now I am testing the #343 hoot-ui branch in my local vagrant develop instance and this is not on the Vagrant Nightly develop build that @mattjdnv has set up.  So to avoid sabotaging my local #343 ui testing environment I'll hold off until this is done.

[2016-04-27 18:16] brianhatchl commented on #387
I've addressed the existing issues, if you want to regression test a bit deeper on the 343 branch.

[2016-04-27 18:45] #396 closed

[2016-04-27 18:46] mjeffe98 opened #399 "Measure tool no longer allows changing zoom level when capturing new measurement"
appears that we lost https://github.com/ngageoint/hootenanny-ui/issues/163 with the eslint changes.

[2016-04-27 18:47] mjeffe98 commented on #399
appears that we lost https://github.com/ngageoint/hootenanny-ui/issues/163 with the eslint changes.

[2016-04-27 19:05] #394 closed

[2016-04-27 19:07] brianhatchl commented on #399
This feature seems to have some issues in develop too.  The measure drawing persists, but the map gets in a weird state and doesn't load tiles.  This error is present in the dev console:
`map.js:299 Uncaught TypeError: Cannot read property 'trim' of null`

[2016-04-27 19:08] #392 closed

[2016-04-27 19:08] sisskind commented on #399
Will look into now

[2016-04-27 19:18] sisskind commented on #399
Can replicate only with measure area, not measure line on develop.

[2016-04-27 19:21] brianhatchl commented on #399
Yep, I was testing with area.

[2016-04-27 19:24] sisskind commented on #399
Think I have a fix -- stand by.

[2016-04-27 19:41] mjeffe98 commented on #395
any .zip or shp (standard shapefile files).  If you can't reproduce then we can test it again when its merged into develop.  @sisskind can you check to see if you can upload a file into the Translation Assistant from the #343 branch?

[2016-04-27 19:57] mjeffe98 commented on #395
I checked on develop (Hootenanny iD Editor - Version: 0.2.24_219_g634c811_dirty - Built By: vagrant) and same issue so I am not entirely sure what is going with this particular issue.

[2016-04-27 19:58] brianhatchl commented on #395
check tomcat log, it could be permissions related if you need to uncomment the group ownership option in Vagrantfile.

[2016-04-27 20:12] mjeffe98 commented on #395
not getting a server log for this in catalina.out,  Vagrantfile is uncommented for tomcat6 group ownership.

[2016-04-27 20:13] brianhatchl commented on #395
seems data related that it's having trouble parsing the json response.  Can you get the attribute json from the network tab in dev console?

[2016-04-27 20:13] mjeffe98 commented on #365
tested in develop

[2016-04-27 20:13] #365 closed

[2016-04-27 20:32] brianhatchl commented on #395
another issue caused by https://github.com/ngageoint/hootenanny/issues/611

[2016-04-27 20:40] mjeffe98 commented on #395
once I added the HADOOP_HOME entry in /etc/default/tomcat6 this issue disappeared.

[2016-04-27 20:40] #395 closed

[2016-04-27 20:59] mjeffe98 commented on #387
Not finding anything obvious.  We might be ok once @sisskind fixes https://github.com/ngageoint/hootenanny-ui/issues/399 to merge

[2016-04-27 21:46] #391 closed

[2016-04-27 22:12] sisskind commented on #399
Little more involved then I thought -- will revisit and fix in the morning.

[2016-04-28 13:14] sisskind commented on #399
Just merged into 343 branch with update.

[2016-04-28 13:16] brianhatchl commented on #399
Great.  Shall we merge this into develop?  @mjeffe98 mentioned he didn't find any more glaring bugs.  And I hesitate to keep merging pull requests with new features until these eslint changes make it back into develop.

[2016-04-28 13:17] brianhatchl commented on #399
And by this I mean #367

[2016-04-28 13:19] sisskind commented on #399
I think we are good to go at this point and continue to work in develop as things bubble up.

[2016-04-28 13:19] brianhatchl commented on #399
Heh, found a bug.  When zooming after creating an error measurement, the last point in the poly is removed.

[2016-04-28 13:20] sisskind commented on #399
Right.  Meant to do that ;)

Stand by...

[2016-04-28 13:31] sisskind commented on #399
Should be fixed now.

[2016-04-28 14:00] #399 closed

[2016-04-28 14:25] bwitham opened #402 "Bug when right-clicking to export data"
@curranMapper commented on [Mon Apr 18 2016](https://github.com/ngageoint/hootenanny/issues/619)

When right-clicking to export data, options are cancelled by another pop-up, please see graphic

![righclick_exportdata](https://cloud.githubusercontent.com/assets/15927720/14612124/a94dcb74-0563-11e6-880c-d89a609f48bf.png)

[2016-04-28 14:27] bwitham commented on #272
moving to ui repo for discussion

[2016-04-28 14:33] bwitham commented on #312
@treycaldwell If this is ready for review, then an associated pull request needs to be made for it and assigned to someone.

[2016-04-28 14:38] treycaldwell commented on #312
Done.
https://github.com/ngageoint/hootenanny-ui/pull/403

[2016-04-28 15:31] bwitham commented on #312
thanks

[2016-04-28 15:35] #343 closed

[2016-04-28 15:37] brianhatchl opened #404 "Fix disabled mocha tests for iD and Hoot"
Failing test specs are commented out in test/index.html.  When these are all passing, the tests on the js build output can be enabled for npm test in package.json

[2016-04-28 15:43] #387 closed

[2016-04-28 16:08] mjeffe98 commented on #402
@curranMapper if a user happens to right-click twice in a row that will happen but I haven't seen it occur with just the single right-click.

[2016-04-28 17:29] brianhatchl opened #406 "Increase mocha test coverage of js/hoot files"

[2016-04-28 17:35] #312 closed

[2016-04-28 17:36] treycaldwell commented on #312
Sorry about that, totally forgot to go back and close this.

[2016-04-28 18:59] curranMapper commented on #402
That might be unique to SBU network....will confirm

[2016-04-29 15:21] bwitham opened #407 "Update the UI to allow for exporting conflated data to a MapEdit database (holy grail)"
https://github.com/ngageoint/hootenanny/wiki/MapEdit-Enhanced-Conflation-Workflow--(aka-%22Holy-Grail%22)

* need to wire the UI correctly for exporting a conflated dataset to MapEdit; export type should be: osm_api_db
* the export option should not be available unless the osm api db has been enabled in services ("conflation/osmapidb/enabled")
* the export option should verify that the layer being

[2016-04-29 18:44] brianhatchl opened #408 "eslint fix changing == to === will break badly formatted conditionals"
I've seen uses of
`if (x === null)`
which will fail if x is undefined or anything not actually null

Replace with
`if (!x)`

[2016-04-29 18:47] brianhatchl commented on #408
Same goes for
`if (x === true)`

[2016-04-29 19:26] bwitham opened #409 "Add the element cache options to advanced UI settings"
element.cache.size.node
element.cache.size.way
element.cache.size.node

[2016-04-29 19:46] brianhatchl commented on #408
Now I'm not sure about the true and false comparisons.  They may need to have explicit boolean type checking, so leaving them for now.

[2016-04-29 21:16] #404 closed

[2016-05-02 15:10] njackson01 opened #411 "FOSS4G NA Slides"
Hootenanny will be presenting at FOSS4G NA on May 4 at 2:15pm.  Below are a pdf version of the slides.  Enjoy.
[FOSS4G_updated_NGA.20160502.pdf](https://github.com/ngageoint/hootenanny-ui/files/245324/FOSS4G_updated_NGA.20160502.pdf)
Approved for Public Release, 16-374

[2016-05-02 15:10] #411 closed

[2016-05-02 15:38] #384 closed

[2016-05-02 19:22] bwitham opened #412 "Update the UI for allowing the selection and storing of a MapEdit database connection (holy grail)"
https://github.com/ngageoint/hootenanny/wiki/MapEdit-Enhanced-Conflation-Workflow--(aka-%22Holy-Grail%22)

Modify Add Dataset to allow for selecting a MapEdit data type and take a database URL as input.  Not sure how feasible validating the url is from the javascript, but we could hold off on that and just let the conflation job tell you if it there was a bad MapEdit url for now.

This would be di

[2016-05-02 22:13] brianhatchl opened #413 "Generate a code coverage report for mocha tests"

[2016-05-03 13:47] #413 closed

[2016-05-03 13:49] #408 closed

[2016-05-03 13:49] brianhatchl commented on #408
#410 merged

[2016-05-03 17:11] bwitham opened #415 "Rubbersheet warning display"
Prominently show the specific warning message in the UI if rubbersheeting cannot find the minimum number of tie points specified by the user.  The services will be parsing this from the core log and adding it to the job status (maybe?).  The message will also have the number of tie points found, which is important to users.

https://github.com/DigitalGlobe/dgis-devops/issues/154
https://github.com

[2016-05-04 16:15] sisskind opened #416 "Undo merge does not change color back to source layer"
When in review mode, if you undo a merge operation, the color of the point does not return back to the source layer.

[2016-05-04 16:17] brianhatchl commented on #416
Could be a complementary bug to this https://github.com/ngageoint/hootenanny/issues/658.

[2016-05-04 20:14] sisskind commented on #374
offsetWidth and/or offsetHeight found at:

- https://github.com/ngageoint/hootenanny-ui/blob/develop/js/hoot/ui/HootFormFgdbExportMenu.js#L71
- https://github.com/ngageoint/hootenanny-ui/blob/develop/js/hoot/ui/HootFormReviewmarkMenu.js#L71
- https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/ui/tools.js#L44

[2016-05-05 20:55] sisskind opened #417 "Cannot toggle input/merged layer"
In the scenario where one/both input layers are not in database when a review layer is loaded:

If you select a feature and use the toggle with input layers button on the radial menu, all the features disappear and using the layer list to make the merged layer visible doesn't seem to work either.

[2016-05-05 21:06] bwitham commented on #412
I think that its easier for a prototype to hardcode a single MapEdit connection in the background.

[2016-05-05 21:07] #412 closed

[2016-05-06 13:24] sisskind commented on #377
@mjeffe98 ready for test.  To test, run conflation job, then remove one/both of input layers.  Should be able to re-load review layer and run through review process.

[2016-05-06 14:30] sisskind commented on #374
Also found in lib files /js/lib/bootstrap-tooltip.js and /js/lib/d3.dimensions.js.  Will leave as is for now and check for updates in upcoming versions.

[2016-05-06 18:08] #397 closed

[2016-05-06 18:20] mjeffe98 commented on #377
@sisskind I'm still seeing the application hang after I delete one/both input layers associated with a merge layer that has unresolved reviews.  Just spins while it checks for reviewable features.  Also get an error that it couldn't load the input layers, which makes sense since it was deleted.

Hootenanny Core - Version: 0.2.24_328_g976ccd5_dirty - Built By: vagrant

[2016-05-06 18:21] brianhatchl commented on #377
My b.  I forgot to update the hoot-ui submodule commit.  Stand by.

[2016-05-06 18:25] brianhatchl commented on #377
Do a pull and `git submodule update` now.

[2016-05-06 18:26] mjeffe98 commented on #377
yes sir :)

[2016-05-06 19:11] #377 closed

[2016-05-06 20:27] sisskind opened #418 "Translation Assistant scroll with arrows shows odd results"
Translation assistant shows odd values when scrolling through potential mapping values with arrow keys.  Could be related to values in the overflowTags array.

[2016-05-06 20:28] sisskind commented on #418
https://github.com/ngageoint/hootenanny-ui/blob/f705d786540079f037cfd2c098f905639f50bf44/js/hoot/control/translation_assistant.js#L634

[2016-05-06 20:53] mjeffe98 opened #419 "Error when loading layer that exceeds max node count for a map query"
When I try to load a layer like Congo_MGCP_Roads_Bridges.osm from https://github.com/DigitalGlobe/dgis-devops/issues/85 the UI just spins in Loading... mode for an indefinite period of time.  This occurs at zoom level 10-17 generally for this data (map=10.17/22.5090/2.4938).  The error in the Error log reports that the max number of nodes exceeds the limit of 50K but we didn't used to have this is

[2016-05-06 20:54] mjeffe98 commented on #419
@bwitham @dmylov @brianhatchl not sure who best to look at this issue.

[2016-05-06 21:03] mjeffe98 commented on #419
Another side effect is that when you conflate, you cannot go into review mode automatically.  The client just spins in Conflating... mode.  When I conflated the congo data I waited quite a bit, then looked at the UI error log and saw that the conflation job had finished but it error'd out even though nothing had changed in the map window (was still trying to process the conflation).  I zoomed to l

[2016-05-06 21:27] dmylov commented on #419
@mjeffe98

Are you seeing anything being reported on the Tomcat side, in its log files?

[2016-05-06 21:46] mjeffe98 commented on #419
@dmylov just the same one reported from the Error log:

2016-05-06 21:46:21,556 ERROR MapResource:48 - The maximum number of nodes that may be returned in a map query is 50000.  This query returned 117992 nodes.  Please execute a query which returns fewer nodes.

[2016-05-06 21:49] mjeffe98 opened #420 "Reviews appear to be taking longer to load"
Could be me but it seems as if the reviews are taking longer to load when stepping through.  This could be a side-effect of #419 or something entirely different all together.  By this I am referring to the load time that it takes from moving to the next review to releasing it for the user to take action.

[2016-05-06 22:04] bwitham commented on #419
The 50k limit is the correct API behavior, assuming the count query is still working (think there's a test for it).  public openstreetmap uses the same limit, so we shouldn't change it on our end.  I thought that the UI does a node count query at each zoom and if the count is higher than that limit, it doesn't try to display the nodes.... could that part no longer be working correctly.

[2016-05-06 22:05] bwitham commented on #420
This is where having the load tests running would be useful.

[2016-05-06 22:14] mjeffe98 commented on #419
@brianhatchl perhaps this is something you can investigate. The UI should be able to correctly handle the query when it exceeds the max node count.

[2016-05-09 17:46] sisskind opened #423 "End of review error messages"
Reaching the end of PaP conflation reviews. When going to delete a red feature, a neverending stream of red error notifications occurs eventually culminating the the complete and total meltdown of Chrome or Firefox and the world burns.

Error stream consists of:
TypeError: Cannot read property of id undefined.

There are no members in the review relation.

![image](https://cloud.githubusercontent.

[2016-05-09 17:47] sisskind commented on #423
https://github.com/DigitalGlobe/VGI-team-repo/issues/110

[2016-05-09 17:50] sisskind opened #424 "Return of Batman Mode"
I have occasionally been getting this issue when adding the a merged layer in Hoot and the result is black space with the exception of red and blue boxes containing the attributes.The coordinates say NAN_NAN_NAN_NA. I refresh Hoot and screen zooms out to the globe. Has this happened to other users and is there a fix?

![image](https://cloud.githubusercontent.com/assets/6191659/15122401/f8617bcc-15

[2016-05-09 17:50] sisskind commented on #424
https://github.com/DigitalGlobe/VGI-team-repo/issues/115

[2016-05-09 17:51] sisskind opened #425 ""No Members in Review Relation" following conflation job"
After conflation job is run, "No Members in Review Relation" error appears.

"There are no members in review relation"

Work around: Bookmark review and reload.

[2016-05-09 17:51] sisskind commented on #425
https://github.com/DigitalGlobe/VGI-team-repo/issues/103

[2016-05-11 18:05] bwitham commented on #389
Covered in #657

[2016-05-11 18:05] #389 closed

[2016-05-11 21:05] sisskind commented on #423
It appears that the code is getting stuck in a loop with LoadMissing, etc.  This does not occur when the features in the review are points/nodes.

[2016-05-12 13:55] brianhatchl commented on #419
This commit has already been merged into develop, so should be ready to test under 5/11 milestone.

[2016-05-12 19:32] sisskind commented on #423
This will occur no matter how many reviews are left.  Causation appears to be when all review features in relation are deleted.  This is ready for review in pull request.

[2016-05-12 21:14] sisskind commented on #423
Seems that this could be due to node relations not being deleted when they are empty, which is what occurs with way relations.  This should be fixed and then the code should be updated to work with empty relations with deleted features contained in history (as it currently stands, but needs to be updated when user resolves a review).

[2016-05-13 11:51] sisskind opened #428 "Empty point/node relations not deleting"
Default iD behavior is to delete a relation when all members have been deleted.  Currently, relations made up of nodes are not deleted, but are left as modified.  This behavior should be reset to default iD behavior where an empty relation is deleted.

References:
- iD Editor issues 465, 1454
- https://github.com/openstreetmap/iD/commit/163c85bacbd254ee62153f6c7f6fbb09bf711213
- https://github.com

[2016-05-13 12:21] sisskind commented on #428
https://github.com/ngageoint/hootenanny-ui/commit/cade0a90d3582831950ab79fb40a3b5ad9dcebe8

[2016-05-13 13:16] sisskind commented on #428
Will be handled in the #427 pull request

[2016-05-13 15:33] brianhatchl commented on #425
Is this because the bookmarked review was resolved, and resolving a review removes the features from the review relation?

[2016-05-16 14:23] curranMapper opened #429 "Advanced Conflation Selected"
Users have expressed interest in adding this change in text when an advanced option is enabled after one of the three default algorithm settings (Reference, Average, CC&H) have been selected.

Example
1. User adds data inputs
2. Selects Reference conflation type
3. Makes a modification to Advanced Conflation Option - Enable Rubber Sheeting
The Type text currently shows as "Advanced Conflation"

Wo

[2016-05-16 16:48] #419 closed

[2016-05-16 17:25] #374 closed

[2016-05-16 17:39] mjeffe98 opened #430 "Translation Assistant not adding new translation when complete"
When saving a custom translation using TA, after clicking the pop-up to add the newly created translation to the list of default nothing appears to happen in the browser.  This error appears in the dev console.

[code]

[2016-05-16 17:40] mjeffe98 commented on #430
tested on 0.2.24_402_g1eb65da_dirty

[2016-05-16 19:24] sisskind opened #431 "GoTo Review failing for ways"
Error:
[code]

Inspect why variables beforeLength and afterLength are not being populated and resolve so that the goto review function will work for lines and polygons.

[2016-05-16 19:31] brianhatchl opened #432 "Update translation_assistant.js to better support cucumber/capybara testing"

[2016-05-16 19:37] sisskind opened #434 "Update/Augment Cucumber Tests"
This is an epic ticket using the [ZenHub](zenhub.io) extension.

[2016-05-16 19:51] #432 closed

[2016-05-16 21:16] #430 closed

[2016-05-17 15:27] brianhatchl commented on #418
Can you categorize odd values?  Or add a screenshot?

[2016-05-17 15:51] brianhatchl commented on #418
I think I've found what you mean,
![screenshot from 2016-05-17 11 50 23](https://cloud.githubusercontent.com/assets/2600932/15329145/9f19dd5e-1c25-11e6-865a-713ce4118045.png)

[2016-05-17 16:12] sisskind commented on #418
Bingo

[2016-05-17 21:22] #249 closed

[2016-05-18 12:29] sisskind opened #439 "Create service call to get relations in dataset"
Related to #423

In order to determine if a relation feature exists before attempting to load it, it would be useful to get a list of relations in a dataset via service call.

[2016-05-18 12:38] brianhatchl commented on #439
I still think checking the existence of a known relation using this url, http://localhost:8080/hoot- services/osm/api/0.6/relations?mapId=1036&elementIds=3 and getting a 404 Not Found response is exactly how REST is intended to behave.

[2016-05-18 12:54] sisskind commented on #439
True -- but if we wanted to mitigate console messages and speed up loading missing features, checking to see if relation exists first would do that.

[2016-05-18 13:17] brianhatchl commented on #439
I guess what I'm saying is that url is a check if the feature exists.  If it does you get the relation, if it doesn't you get 404.

[2016-05-18 13:19] sisskind commented on #439
Totally get that part -- I guess what I'm saying is that if we can catch the fact that it isn't actually there can get it out of a "load missing loop" earlier.

[2016-05-18 13:53] sisskind commented on #425
@brianhatchl will double check that, but I believe when it was shown to me was the first bookmark review prior to any work being done on the layer.  For example, ran conflation job, created bookmark, then tried going to bookmark.

[2016-05-18 16:59] sisskind opened #441 "Not getting 'delete bookmark' warning in UI in bulk delete"
If multiple datasets are deleted, there is no warning that one of the datasets has an affiliated bookmark.  This will cause the error where Map Sizes cannot be found.

This may be solved by ticket to remove bookmarks on services end.

[2016-05-18 17:02] sisskind commented on #425
Awaiting further guidance as this cannot be replicated.

[2016-05-18 19:47] mjeffe98 commented on #423
@sisskind there are 429 + reviews when you conflate the full PaP dataset but I've verified that you can delete all of the red/blue highlighted road segments in a review (including those that are part of a relation), click resolve and move onto next review.  I'm not entirely 100% certain what the conditions to fully recreate this are but it does appear that the previous errors associated with loadi

[2016-05-18 19:47] #423 closed

[2016-05-18 19:53] mjeffe98 commented on #418
not seeing <span class...  as shown in https://cloud.githubusercontent.com/assets/2600932/15329145/9f19dd5e-1c25-11e6-865a-713ce4118045.png

[2016-05-18 19:53] #418 closed

[2016-05-18 23:16] mjeffe98 commented on #416
tested merge, then undo.  Looks like when merging 1 orange (layer1) with 1 pink (layer2), it takes two undo's to revert back to the original colors.  That seems expected since a merge is actually > 1 update to the data.

[2016-05-18 23:16] #416 closed

[2016-05-19 00:16] brianhatchl commented on #416
@sisskind had the same question and yes, a POI merge is an update tag event and a delete event, so two steps.

[2016-05-19 02:25] sisskind commented on #431
@mjeffe98 ready for test.  should be able to go to review for ways, not just nodes.

[2016-05-19 15:03] mjeffe98 commented on #431
@sisskind is this applicable only for the review bookmark where you click on the magnifier to goto a specific review?  If so that it's working on reviews for ways.

[2016-05-19 17:45] mjeffe98 commented on #431
@sisskind after our conversation this morning you stated that this was a function called when you click on the "show review relations" icon for ways but other than clicking on the circle with the letter e.g. A, B, C, etc.. I can't think of anything else executes a "GoTo Review" action.  In the simple use case where you have a review involving a single way against another way (in DcGisRoads vs. DcT

[2016-05-19 21:15] sisskind commented on #441
Fixed from #356

[2016-05-19 21:15] #441 closed

[2016-05-19 22:32] sisskind commented on #206
OBE

[2016-05-19 22:32] #206 closed

[2016-05-20 12:20] brianhatchl opened #444 "Remove Detail section from About Hootenanny dialog"
The detail section displays internal configuration not appropriate for the web UI

[2016-05-20 12:32] sisskind commented on #431
Was just for the letter bubbles and not #383 -- will close.

[2016-05-20 12:32] #431 closed

[2016-05-20 13:09] brianhatchl commented on #309
Related to https://github.com/ngageoint/hootenanny-rpms/issues/46

But I found the cucumber dependencies would not run on CentOS 6.7, so the suggestion of a second test client vm might be needed to run the ui-tests against a centos server.

[2016-05-20 13:53] sisskind commented on #425
Believe this was fixed with #423, but will leave open for verification.

[2016-05-20 15:38] bwitham opened #445 "Add simple ui for showing the configured osm api db element stats (holy grail)"
will help when running the ui test for mapedit conflation

simple tab that calls the osm api db stats service and shows the element counts by type

[2016-05-20 19:30] sisskind commented on #424
Adding checks for map extent, center, zoom to ensure coordinates are accurate.  This should mitigate issue, and will mark closed at that point.  If it continues, new ticket will be opened with details and how to reproduce, if possible.

[2016-05-20 23:11] mjeffe98 opened #446 "Cancel button in Advanced Conflation dialogue doesn't work until an option has been set"
Starting with fresh UI (F5 or ctrl-shft-r), add two layers and click conflate and expand the Advanced Conflation options without changing any advanced options, the cancel button doesn't work.  When you enable an option however (e.g. RubberSheet, etc.), then the Cancel button will close the dialog box.  We should probably enforce the behavior that cancel always closes the dialog box whether or not

[2016-05-23 13:29] brianhatchl opened #449 "Import should support zipped osm and gdb datasets (not just shapefiles)"

[2016-05-23 13:44] sisskind opened #450 "Refactor service and UI code to handle variable numbers of relation members"
See ngageoint/hootenanny#221 for more details.

Currently all the review code revolves around assumption that there are only 2 member in a review relation. With new core implementation this will need to be changed to handle variable numbers of members.

[2016-05-23 14:47] sisskind opened #451 "On Go To Review, force user to save before moving to other review"
Force user to save/undo before moving to next review in 'Go To Review' option.

[2016-05-23 15:37] sisskind commented on #424
Using San Diego data, should get error message instead of going to NaN NaN

[2016-05-23 17:45] sisskind opened #452 "Incorrectly Rendering Map Layers"
When you click the "related reviews" button on the pallette on a feature that is part of a RELATION review and no related reviews display, and then pan and zoom around, the map layer remains at the location and zoom level it was at when you clicked "related reviews".

[2016-05-23 17:45] sisskind opened #453 "Phantom Pallet"
Pallet goes invisible - not sure what's making it do it, both Hilary and I have seen it. You click a feature and it seems that nothing happens...except that the pallet is actually there and you can mouse over where the invisible buttons are and get the tool-tips and even click and use the pallet.

[2016-05-23 17:45] sisskind commented on #453
https://github.com/DigitalGlobe/VGI-team-repo/issues/137

[2016-05-23 17:46] sisskind commented on #452
https://github.com/DigitalGlobe/VGI-team-repo/issues/136

[2016-05-23 17:59] brianhatchl commented on #299
https://github.com/ngageoint/hootenanny/pull/751

FGDB is not implemented at this point because the capybara technique I'm using to upload a file is only working with a single file.  I've added a ticket to add support for zipped osm and gdb datasets to hoot, https://github.com/ngageoint/hootenanny-ui/issues/449.

[2016-05-23 17:59] brianhatchl commented on #25
https://github.com/ngageoint/hootenanny/pull/751

[2016-05-23 18:07] brianhatchl commented on #296
Many of these have been covered by the import/export features.

[2016-05-23 18:23] sisskind commented on #451
Add this code block to GoTo Review, or ensure that it is touched:
[code]

[2016-05-23 19:39] sisskind commented on #425
Possible that "Load Missing" is not being checked initially, causing Hoot to believe that there are no members in the review relation.

[2016-05-23 19:56] sisskind commented on #425
Check r411 or r409

[2016-05-24 17:52] curranMapper commented on #402
User pointed this out to me today.  This occurs when user apply's a single right click with Firefox on SBU.  Hitting 'esc' closes that top box so user can see the export options but not intuitive, anything that can be done to fix?

[2016-05-24 17:55] brianhatchl opened #454 "UI does not handle http 400 response from map resource requests"
validateQueryBounds has been enabled in https://github.com/ngageoint/hootenanny/issues/452

The UI is making globe bounded requests when a dataset is added to the map like this,
http://localhost:8888/hoot-services/osm/api/0.6/map?mapId=640&bbox=-89.99999999999979,-4.1983321795318423e-13,4.2362590070466467e-13,66.51326044311178

and those fail with HTTP 400 bad request that the UI code does not han

[2016-05-24 18:00] bwitham commented on #445
this is unnecessary.

[2016-05-24 18:00] #445 closed

[2016-05-24 18:19] mjeffe98 commented on #402
@curranMapper I can't confirm the SBU component to this issue but I've been testing from firefox and I only get that condition when right-clicking twice in FF.  Does this occur outside of this env?

[2016-05-24 18:21] mjeffe98 commented on #441
confirmed on release 0.2.25

[2016-05-24 19:00] curranMapper commented on #402
@mjeffe98 Nope

[2016-05-24 21:15] #25 closed

[2016-05-24 21:15] #299 closed

[2016-05-25 14:44] sisskind commented on #425
Marking OBE for now as this is not a detrimental bug, just a nuisance.

[2016-05-25 14:44] #425 closed

[2016-05-25 19:19] #288 closed

[2016-05-25 21:38] mjeffe98 opened #456 "Tagged checkboxes in alltags list persists in features for any layer in same hoot session."
If using copy/paste workflow for appending/overwriting tags b/w features, it appears that when you select a tag or set of tags from a feature(s), every single feature loaded into the map in the same hoot session will have same tags selected (if present).  I don't know whether this will lead to any unintended consequences since copy/pasting tags is a fairly unique workflow but thought I would highl

[2016-05-25 21:40] mjeffe98 commented on #456
@brianhatchl I do not believe this should negatively impact anything but wanted to be certain.

[2016-05-25 22:03] #278 closed

[2016-05-25 22:22] mjeffe98 opened #458 "Show review relations for one to many reviews triggers type error when traversing"
Using Latvia POI (geonames, osm) as an example where you get a lot of POI reviews with hotels, it seems that the Show Review Relations option is causing a disruption when traversing to the next review.  I've isolated a subset of POI data from Latvia to reproduce this issue.

To reproduce:
1) Conflate OSM and Geonames as layer 1 and 2, respectively
2) During review, click on one of the POIs and sho

[2016-05-25 22:24] mjeffe98 commented on #458
@sisskind take a look at this with the attached data and let me know if you don't get the error.  Basically what should happen is after resolving a review with show review relations displayed, you won't get the review table to load for subsequent reviews.

[2016-05-25 23:17] #446 closed

[2016-05-25 23:31] mjeffe98 commented on #424
@sisskind I could only reproduce this error on selma:8093 and no where else with the same San Diego rivers data.  On selma got the NaN error below but on my local vm and on the new AWS I did not get the NaN so it may be difficult for me to reproduce.

d3.min.js:1 Error: <path> attribute d: Expected number, "M0.5,0.5v8hNaNv-8".u @ d3.min.js:1
d3.min.js:1 Error: <text> attribute x: Expected length,

[2016-05-26 12:20] sisskind commented on #424
I think we should mark OBE.

[2016-05-26 12:50] sisskind commented on #458
Able to replicate - working on fix now.

[2016-05-26 13:17] sisskind commented on #458
@mjeffe98 try now

[2016-05-26 16:30] #424 closed

[2016-05-26 16:33] mjeffe98 commented on #420
Going to mark this as cannot reproduce for now.

[2016-05-26 16:33] #420 closed

[2016-05-26 16:34] #458 closed

[2016-05-26 18:29] #293 closed

[2016-05-27 11:43] brianhatchl commented on #444
This also includes removing details section from Error Log (renamed Server Log) section of manage tab.

[2016-05-27 11:48] brianhatchl commented on #444
The export error log still has the hoot version information embedded as it's useful once the log is "detached" from the UI.  However, version detail for hoot-services has been omitted as described here, https://github.com/ngageoint/hootenanny/issues/747

[2016-05-27 16:03] #332 closed

[2016-05-27 17:00] #444 closed

[2016-05-27 18:59] bwitham opened #466 "MapEdit should be prevented as being selected as the secondary layer earlier"
Currently, the check isn't performed until you click the final conflate button.  It should occur earlier.

[2016-05-27 19:01] sisskind opened #467 "Cucumber Test for Bulk Import and Multiselect Delete Datasets"
Add cucumber test for Bulk Import and Multiselect Delete Datasets

[2016-05-27 19:01] sisskind commented on #291
@brianhatchl is this covered under translation assistant cucumber test?

[2016-05-27 19:09] brianhatchl commented on #291
No, the TA test creates and downloads a translation, but does not save to hoot.  It could be modified to do that.

[2016-05-27 19:16] sisskind commented on #291
No prob -- can create new test.  Wanted to reduce redundancy just in case.

[2016-05-27 22:14] bwitham commented on #386
good progress on this today...can now conflate from the ui with a mapedit ref layer.  lots of cleanup and testing left to do before moving onto export.

[2016-05-28 13:43] #295 closed

[2016-05-31 16:02] bwitham commented on #386
Hit a bit of a snag here...  The MapEdit conflated from the UI is obviously suffering from element ID corruption.

I realize that in the command line test workflow I'm taking osm api id's into account when originally writing the corresponding hoot layer to conflate with.  In the ui workflow this isn't possible, since that layer will have previously been written.  So I need to add a reading analog

[2016-05-31 17:33] sisskind commented on #318
http://www.movable-type.co.uk/scripts/latlong-vincenty.html

[2016-05-31 19:45] bwitham commented on #386
Fixed id reading problem with hack that #781 should fix in the future.

[2016-05-31 19:45] bwitham commented on #386
Can now conflated dc streets data where one of the layers is source from MapEdit from the ui.  Probably corner cases left to fix, but moving onto MapEdit export in the ui for now.

[2016-05-31 19:47] bwitham commented on #386
Will have this reviewed as part of #407.

[2016-05-31 19:48] bwitham commented on #407
Work for this is being done on the #386 branch.

[2016-05-31 22:11] bwitham commented on #407
TODO:

* make export work from datasets tab
* make export work from post conflation ui
* disable translations for export dialogs

[2016-06-01 14:38] #467 closed

[2016-06-01 16:50] mjeffe98 commented on #383
This appears to have been addressed by https://github.com/ngageoint/hootenanny-ui/commit/5e0f279836f4eaaa30cedc04148caaf310b3f159

[2016-06-01 16:50] #383 closed

[2016-06-01 16:56] mjeffe98 commented on #452
Now when you are able to click on a feature in a review b/w a relation and a way, it seems to display the bubble letters and allow users to pan, zoom, etc.  I have also observed the same behavior that @brianhatchl reported in https://github.com/ngageoint/hootenanny-ui/pull/460#issuecomment-221953594 where you cannot view related reviews on a feature that is part of a relation because the  relation

[2016-06-01 16:56] #452 closed

[2016-06-01 16:58] #451 closed

[2016-06-01 20:27] brianhatchl opened #470 "Add cucumber test for OSM->TDS tag switcher"

[2016-06-02 16:48] bwitham opened #471 "MapEdit export summary display drops newline chars"
MapEdit export stats are written to a ui alert after the export succeeds (exported element counts, changeset bounds, etc.).  Possibly, this would be better displayed in its own popup dialog (I couldn't get that to work).

Either move the text to a separate dialog or leave it in the alert and ensure the newline chars are preserved.

[2016-06-02 21:00] bwitham opened #472 "Translation selection should be disabled for ME export"

[2016-06-03 17:25] mjeffe98 opened #473 "OSM/TDS switcher is not translating the attribute key/values"
Previously when you select a feature like Residential Road with the Filter By Type = OSM and switch to TDSv61/40 and the attribute context menu would display the tag values using the TDS schema spec.  Now it appears that when you switch to TDS none of the attribute values reflect the "active" schema and the tag values are not updated.  Something seems to be jamming up the translation and preventin

[2016-06-03 17:26] mjeffe98 commented on #473
Perhaps @mattjdnv can also see what is happening on the back end with the translation switcher in the UI.

[2016-06-03 17:32] mjeffe98 commented on #473
Another oddity that could be related with the preset selector.  Notice that the previous schema presets remain when you switch to TDS.  If you try to select those, nothing happens, but if you select a valid present based on the schema they work.

![osm_tds preset issues](https://cloud.githubusercontent.com/assets/7560096/15787300/6350a830-2976-11e6-8874-55ee48e5a969.gif)

[2016-06-03 17:40] brianhatchl commented on #473
The requests to the translation service are coming back with valid responses.  This is a UI-only bug.

[2016-06-03 20:57] sisskind commented on #296
@brianhatchl I believe you are correct.  I think we can close this one if you agree.

[2016-06-06 22:01] mjeffe98 commented on #473
The fields and values now appear to be updating when you toggle b/w different schemas.

[2016-06-06 22:01] #473 closed

[2016-06-07 13:42] bwitham commented on #407
Have the conflation working but have been unable to access the export button so far...working on that now.

Also having trouble getting the text of the alert popups.

[2016-06-07 14:25] #294 closed

[2016-06-07 15:25] sisskind opened #475 "Expose pbf as available import/export format"
Expose pbf as a data type for import or export.  Should be an OGR-accepted format.

[2016-06-07 18:48] treycaldwell commented on #449
When importing a Dataset there are two potential error conditions a user could encounter when attempting to upload an osm file that has been zipped (here, named sample.osm.zip).

1. User chooses (shp,zip) as Import Type, selects the file, and then encounters a UI error generated by ImportDataset.js indicating "Please select only single type of files. (i.e. can not mix zip with osm)"
2. User choose

[2016-06-07 18:55] brianhatchl opened #476 "Remove dead code"

[2016-06-07 19:14] brianhatchl commented on #449
If the hoot command (using ogr) does not accept a zipped osm or fgdb file, then I suggest the service do the work of unzipping.  See how the OgrAttributesResource handles things.

[2016-06-07 21:59] #291 closed

[2016-06-07 22:01] sisskind commented on #296
Need to test:
* Add Dataset
* Add Folder
* Move/Rename Folder
* Multiselect Move

[2016-06-07 22:02] sisskind opened #479 "Add cucumber test for HGIS Imagery Validation"
Create cucumber test for:
* Prepare for validation
* Filter non-HGIS POIs
* Step through validation workflow

[2016-06-08 02:57] #262 closed

[2016-06-08 16:53] sisskind opened #481 "Warning before closing Hootenanny"
On several occasions I've hit Ctrl-R or closed the browser without thinking. It would be nice to add a pop-up warning when trying to close the Hoot session if a review session dataset is loaded, "Are you sure?".

[2016-06-08 16:54] sisskind opened #482 "Export statistics to .csv"
Provide the ability to export statistics to a .csv file

[2016-06-08 16:55] sisskind opened #483 "Alt+B shortcut has conflict on Firefox"
Alt+B is the shortcut in Hootenanny for swapping review layer with reference layers, but it is also the shortcut in Firefox to show the bookmarks bar. Either override in Firefox or change the shortcut.

[2016-06-08 16:56] sisskind opened #484 "Review Bookmark Improvements (Medium)"
* ~~"Missing en translation: review.sharereview.description" appears when you mouseover the button. (_This is occurring because the make file was not properly run._)~~
* ~~Ability to go back to bookmarks list when looking at current review. (Current workaround is to click on tab again)~~
* ~~Layers and creators option should only include those involved in bookmarks~~
* ~~Instead of drop down filte

[2016-06-08 17:15] #417 closed

[2016-06-08 17:54] sisskind commented on #454
https://github.com/ngageoint/hootenanny/issues/759

[2016-06-08 17:54] #476 closed

[2016-06-08 18:00] sisskind commented on #176
OBE

[2016-06-08 18:00] #176 closed

[2016-06-08 18:08] sisskind commented on #402
@curranMapper can you try to confirm again?  Otherwise will be OBE.

[2016-06-08 18:28] mikejeffe opened #485 "User added tags/values not getting copied using ctrl-c/ctrl-v"
In reference to https://github.com/DigitalGlobe/VGI-team-repo/issues/151, it appears that user added tags such as a description or note field are not getting copied when the user selects that feature and creates a copy.  I was able to use the append/overwrite, i.e. checkbox, mechanism to copy the note and description tags from an existing feature to another but this should work when creating a cop

[2016-06-08 18:30] brianhatchl commented on #485
Is the point that copy is not working on unsaved attributes of feature?

[2016-06-08 18:32] mjeffe98 commented on #485
The point is that copy is not working on "saved" attributes of a feature.  I presume they are saved because I clicked save prior to the copy.

[2016-06-09 02:03] sisskind opened #486 "Advanced Options CSS"
Enabled fields should not appear disabled (faded gray).

[2016-06-09 02:17] #470 closed

[2016-06-09 05:26] mattjdnv opened #487 "Add MGCP to the list of on-the-fly translations"
See Hootenanny #793 for the MGCP to/from english scripts

* Add MGCP to the list on-the-fly translations
* Add MGCP pre-sets for feature creation

[2016-06-09 14:07] brianhatchl opened #489 "Add cucumber test for feature editing"
This test should add a node, way, and closed way to a dataset, use the schema switcher, and save.

[2016-06-09 14:09] brianhatchl opened #490 "Add cucumber test for the measure tool"

[2016-06-09 17:12] bwitham commented on #471
This was fixed by switching from the iD alert to the normal alert.

[2016-06-09 17:12] #471 closed

[2016-06-09 20:14] sisskind opened #493 "WFS Delete Error"
While the WFS export is deleted, a rogue red line appears and the WFS export does not disappear until after Hootenanny is refreshed.

[2016-06-10 15:05] brianhatchl opened #495 "Add cucumber test for adding/editing features during conflation review"
Add a feature and edit tags, to test regression of this bug #385

[2016-06-10 15:32] brianhatchl opened #496 "Can't edit tags of a feature during conflation review"
An eslint commit https://github.com/ngageoint/hootenanny-ui/commit/4697207 causes a reoccurrence of bug #385

[2016-06-13 00:22] #292 closed

[2016-06-13 00:25] #495 closed

[2016-06-13 00:45] brianhatchl commented on #487
MGCP is now an option in the schema switcher, along with TDS and OSM.

[2016-06-13 13:33] brianhatchl opened #498 "Add export scenario to cucumber resolve_all_reviews.feature"

[2016-06-13 19:47] mikejeffe opened #499 "Search not working when MGCP is active schema"
Seems that I can't search for a feature type when the MGCP filter by type option has been selected as a result of https://github.com/ngageoint/hootenanny-ui/issues/487.  Other searches work for osm, tds but not for mgcp.  I tested this by searching for known feature types for each schema e.g. osm: soccer*, tds: ford, etc...

@brianhatchl @sisskind

[2016-06-13 22:46] #496 closed

[2016-06-13 22:50] #493 closed

[2016-06-13 22:57] mjeffe98 commented on #487
I see MGCP added for the schema switcher but I am not getting any presets when I select that option. There are instances when a preset or list of presets might appear but these seem to be associated with non-mgcp options (osm, tds)  since I can't click on them to select.  From this perspective it only appears that 50% of this ticket is functioning.  Am I missing something?

![image](https://cloud.

[2016-06-14 00:56] sisskind commented on #450
@mjeffe98 ready for test

[2016-06-14 01:31] #498 closed

[2016-06-14 04:12] sisskind commented on #317
This is being covered in the 803 branch.

[2016-06-14 11:50] brianhatchl commented on #487
No, I added a cucumber test that validated the schema of an existing feature updated when changed to MGCP, but not a new feature expecting a list of presets.  Probably a bug or piece missing.

[2016-06-14 18:06] #386 closed

[2016-06-14 18:06] #407 closed

[2016-06-14 18:40] mjeffe98 commented on #407
closed this based on my ability to complete the workflow of conflating an osm api db datasource with a hoot layer and exporting the changeset to the same osm api db.

[2016-06-14 18:40] mjeffe98 commented on #386
closed this based on my ability to complete the workflow of conflating an osm api db datasource with a hoot layer and exporting the changeset to the same osm api db.

[2016-06-14 20:00] mjeffe98 commented on #450
@sisskind what specifically I am looking for?  Should this be testing against a particular set of data that has many to many building matches?

[2016-06-14 20:04] sisskind commented on #450
@treycaldwell can help you through it as well, but check the commit for issue 136, which lists the test data included.  You should be able to load the data, conflate, and see the data table cycle through the review.

[2016-06-14 20:19] mjeffe98 commented on #450
the test data I used was in test-files\cases\unifying\building-4 since there were many to many reviews.  I suppose the intent here is not to break up the buildings in Input1 and Input2 into separate reviews (e.g. Target South vs Target Grocery, Target - Aurora South vs. Target, etc.) but allow a single review for the collection of buildings in red/blue and proceed with a many:many conflate.

![ima

[2016-06-14 20:37] mjeffe98 commented on #450
Nevermind.  I compared it to the old way (prior to the commit) and it looks like when you conflate the same buildings, no review is generated so you don't get to see the constituent parts for each building relation.  Now you are able to.

[2016-06-14 20:37] #450 closed

[2016-06-14 21:31] treycaldwell commented on #449
Don't invoke the `makeetl` makefile from the command line without setting the appropriate environment variables or it will do a `rm -rf $HOOT_HOME`

[2016-06-14 22:48] bwitham commented on #449
nasty

[2016-06-15 14:13] brianhatchl opened #500 "Error when loading a HGIS validation layer"
Run through the HGIS workflow to create a validation layer. When you add it to the map the following error occurs:

Uncaught TypeError: validation.loadFeature is not a function

[2016-06-15 15:04] sisskind opened #502 "OSM API DB Ingest/Display Design"
Based on great work by @bwitham, need to determine best way to display OSM API DB reference.  Currently it is listed as a dataset, but this may be confusing for users.  Two possibilities are:

* Create separate tab in Settings page for user to create connection(s) to database(s).  This could either just be a place to configure the one and only connection, or a place to add multiple connections.  E

[2016-06-15 15:13] bwitham commented on #502
I'd discourage the second option, since it changes the workflow over the entire codebase...but it is in theory possible with some significant refactoring (haven't tried that workflow).  Current workflow delays the reading of osm api data into hoot until conflation time (so there's really no need for a separate ingest step).  This reduces the overall time osm api data sits in hoot and reduces the c

[2016-06-15 15:22] sisskind commented on #502
@bwitham I was leaning more towards first option, as it would keep this feature contained to one section and could potentially allow user to configure in the UI.

[2016-06-15 15:23] brianhatchl commented on #502
The second options wouldn't actually ingest, just create an object with the db connection parameters that would make it available for conflation.

[2016-06-15 15:25] sisskind commented on #502
That is true, but it would also display in the datasets list.  If we went with first option, it would only appear in the Manage tab for database config (or something to that extent).

[2016-06-15 15:25] bwitham commented on #502
It may be worthwhile talking to the users/stakeholders directly.  For the first option, I'm not seeing a lot of utility in the current design, b/c hoot only supports a single osm api db connection.  To support multiple, there would be a lot of services/core changes that need to be made.  So, if user a wants to point to MapEdit on aws and user b wants to point to it somewhere else, they're effectiv

[2016-06-15 15:29] sisskind commented on #502
@bwitham even if it is just one connection, if we had in separate tab we could avoid the "why isn't the data loading" question.  My thought is user would go to the "Database Connection" tab, and choose a dataset to conflate with the current database connection, which is set by an admin in a conf file.  Future development could allow for choosing which connection.

[2016-06-15 15:35] bwitham commented on #502
yeah, I think that makes sense.

[2016-06-15 17:21] mikejeffe opened #504 "Change tool tip message for Save button"
Current message reads "Save changes to OpenstreetMap, Making them visible to other users." which is misleading since we aren't saving changes to OSM, just the local db.  Recommend changing this to "Save changes making them visible to other users" to avoid confusion.

[2016-06-15 17:38] bwitham commented on #449
I'd do all my debugging for this by using junit test drivers that invoke the java resource file which is actually calling that make script.  Less tedious imo.

[2016-06-15 18:07] treycaldwell commented on #449
Yeah, I'm not going to dwell on the inner workings of the JobControllerBase and JobExecutioner and why we're calling makefiles.  I'm just going to get in there, get it working, and get out as @brianhatchl said.  However, we should have a discussion about alternatives to calling the core without using makefiles, parsing STDOUT, etc.

[2016-06-15 18:25] bwitham commented on #449
There definitely may be ways to make it more that interface more straightforward I think.  All involve a lot of work.  The brick wall you'll always hit is that hoot core is largely not thread-safe.  Hoot lived its life completely on the command line a few years before it was service enabled, and at the time the services were created we realized the level of effort to make that code threadsafe was

[2016-06-16 14:11] #317 closed

[2016-06-16 15:21] brianhatchl opened #506 "Add step to change layer color to some cucumber feature"

[2016-06-16 19:27] mjeffe98 commented on #500
I'm getting the error message below on certain POIs in my test layer (
[Samoa_MGCP_Validation.zip](https://github.com/ngageoint/hootenanny-ui/files/319166/Samoa_MGCP_Validation.zip)
) making this had to confirm as fully functional.

![image](https://cloud.githubusercontent.com/assets/7560096/16130337/7de88248-33bd-11e6-9466-0abc80ca9be4.png)

[2016-06-16 19:34] mjeffe98 commented on #500
It seems that the same POIs are getting loaded twice which doesn't look right as I would expect only tagging a feature once.  Also if you click the Save button it tries to commit a deleted relation.

[2016-06-16 19:35] brianhatchl commented on #500
There is another bug https://github.com/ngageoint/hootenanny/issues/846 that might be causing this.  This ticket was just to remove the error that occurred when loading a validation layer and going into validation mode.

[2016-06-16 19:36] mjeffe98 commented on #500
Ah ok.  I won't conflate the two issues then.

[2016-06-16 19:36] #500 closed

[2016-06-16 21:48] sisskind commented on #483
@treycaldwell It appears that the Alt+B shortcut is not working at all.  Can you confirm?

[2016-06-16 22:00] sisskind opened #508 "Layers are remaining in sidebar"
Appears that layers that are loaded are not removed from sidebar after they are loaded and removed. This may be a feature of iD editor.

![123](https://cloud.githubusercontent.com/assets/6191659/16134625/39755fe4-33ec-11e6-8b7a-96a7df1e0516.png)

[2016-06-16 22:00] sisskind commented on #508
https://github.com/DigitalGlobe/VGI-team-repo/issues/165

[2016-06-17 13:18] sisskind commented on #409
@bwitham Do these fit into a existing category currently (i.e. Road Options, General Conflation)?  Also, are the default values the same for all conflation types (Reference, Average, Horizontal)?  Thanks!

[2016-06-17 13:55] sisskind commented on #486
@brianhatchl so it isn't just the advanced options placeholders that look "disabled", it is the entire app.  Take a look at any input when it loses focus - it has the same light gray text color.

[2016-06-17 14:05] brianhatchl commented on #486
screenshot?

[2016-06-17 14:08] sisskind commented on #486
![image](https://cloud.githubusercontent.com/assets/6191659/16153205/5cf8fb74-3473-11e6-84cb-69050b6d61f6.png)

See how input fields have same text color.

[2016-06-17 14:09] sisskind commented on #486
Adjusting CSS so that disabled input field will have light gray background though.

[2016-06-17 14:11] brianhatchl commented on #486
okay

[2016-06-17 14:12] bwitham commented on #409
I think you could probably put it under "General Conflation".  They would have the same default values for every conflation type.

Its the in memory cache size used when streaming from osm to an ogr format, which could occur either during export or conflation.  The idea is to start with a a reasonable default setting which doesn't allow one user to suck up all the memory in a system for a large co

[2016-06-17 14:45] #479 closed

[2016-06-17 14:46] brianhatchl opened #509 "Add export step to conflate_with_stats.feature"

[2016-06-17 15:56] brianhatchl commented on #489
And be sure to utilize the TDS feature presets, in addition to OSM

[2016-06-17 16:36] brianhatchl commented on #485
This is the default behavior of iD.  I guess it is assumed that fields like description are unique to a feature and should not be conveyed to copies of it.  This exclusion list is in use to copy/pasting features, https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/behavior/paste.js#L4-L18.

We have disabled this list for paste attributes, except for hoot tags.  https://github.com/ngageoi

[2016-06-17 18:52] sisskind commented on #409
@bwitham default size in ascii doc is 2000000.  Will go with that unless you had diff. value in mind.

[2016-06-17 18:57] bwitham commented on #409
Yeah, I guess use those.  They are the biggest values we've encountered so far during use... all from populating the render db I think.  If they get raised any higher, it almost doesn't even make sense to have limits anymore.

element.cache.size.node: 2 million
element.cache.size.way: 200k
element.cache.size.relation: 200k

[2016-06-17 19:58] sisskind commented on #409
![image](https://cloud.githubusercontent.com/assets/6191659/16162899/4732a160-34a4-11e6-8d78-4bdbd7e0a992.png)

[2016-06-17 20:23] brianhatchl commented on #485
There is a PR that will disable the tag filtering.  We just need to decide if this is what we want to do.

[2016-06-20 19:23] #504 closed

[2016-06-21 17:26] briandaviddavidson opened #514 "Make an about button for Hootenanny"
Make a small "i" indicator for users to click to get more information

[2016-06-21 17:42] briandaviddavidson opened #515 "Limit how far the user can expand the conflation area"
Currently, the dataset area can be expanded to cover the entire screen. This should be limited to at max, half the screen

Example:
![example](https://cloud.githubusercontent.com/assets/2423402/16240097/ef4e24dc-37b5-11e6-9804-00277c462450.png)

[2016-06-21 17:54] briandaviddavidson opened #516 "Make the Hootenanny | InnoVision logo have the same functionality as Return to Map"
If the user clicks on the Hootenanny logo/text, it should take them to the homepage instead of showing the about section. This would be the same functionality as the "Return to Map" when "Manage" is selected.

Also change InnoVision to NGA Research.

[2016-06-21 18:02] briandaviddavidson opened #517 "Limit the zoom of the inset map"
The inset map, when visible, acts as a regular web map and can zoom in and out as well as pan. It might be worth it to limit how much the user can pan/zoom or, potentially, remove the pan/zoom functionality all together

[2016-06-21 18:10] briandaviddavidson opened #518 "Disable the locator overlay when switching away from Satellite imagery"
There are black labels that can be added and removed to the satellite imagery. Since the OSM layer has it's own labels, it would be nice if these automatically turned off when the user switches to that layer.

Imagery:
![overlay_no_labels](https://cloud.githubusercontent.com/assets/2423402/16241013/d32dd9f6-37b9-11e6-8bd1-86562604a62a.png)

Imagery with labels:
![overlay_labels](https://cloud.gith

[2016-06-22 03:14] sisskind opened #519 "Load dataset from the Manage Tab"
Add a "Load as Reference//Secondary Dataset" to the context menu in the Manage Tab. Either hide the option if dataset(s) are loaded or give warning.

[2016-06-22 03:16] sisskind opened #520 "Update to include line snap shortcut in help menu and remove "Enable line snap" checkbox"
Currently, the line snap option is unchecked when Hootenanny starts. Yet, the line snapping feature is turned on. When the checkbox is checked and then unchecked, snapping turns off. Snapping should be off when Hootenanny starts.

https://github.com/ngageoint/hootenanny-ui/issues/306

[2016-06-22 03:19] sisskind opened #521 "Expose OSM as export option"
The user must choose a translation option, either tds or mgcp when exporting as osm. I had the default tds selected when I exported to osm although I don't think it translated anything based on reviewing the data in josm.

[2016-06-22 03:20] sisskind opened #522 "Clip to geographic bounds coordinates input dialog"
The clip to geographic bounds needs to support the option of direct input of coordinates by entering those values through some kind of dialog, ideally with multiple coordinate formats (ex. DDDMMSS, DDD.dddddd, MGRS).

[2016-06-22 03:21] sisskind opened #523 "Expanding width of left frame needs improvement"
The left frame is now expandable, but it doesn’t' evenly adjust the widths of the interior columns. Example, when you expand the left frame when looking at the statistics under the Options, if you expand the left frame it mostly effects the first column in the table and not the second.

[2016-06-22 03:44] sisskind commented on #483
Changed to Shift + T

[2016-06-22 13:37] #487 closed

[2016-06-22 19:12] sisskind opened #525 "Folder should delete everything underneath it"
Currently folder only deletes top level...should delete everything!

[2016-06-22 21:27] #142 closed

[2016-06-22 23:40] #482 closed

[2016-06-22 23:45] #409 closed

[2016-06-22 23:45] #429 closed

[2016-06-22 23:47] #486 closed

[2016-06-23 17:56] brianhatchl commented on #481
https://github.com/ngageoint/hootenanny-ui/pull/513

[2016-06-23 20:50] #481 closed

[2016-06-23 21:01] mikejeffe commented on #481
tested ctrl-r, closing tab, closing browser but as the description states this only get's instantiated if the user firsts invokes review mode.  There are no warnings if the user is just loading a normal layer and making edits but I believe that's the original intention of the ticket.

[2016-06-24 13:57] bwitham opened #527 "Require MapEdit OAuth in the UI when conflating data sourced from MapEdit"

[2016-06-24 14:05] bwitham commented on #527
@sisskind I think doing this task + ngageoint/hootenanny#869, along with maybe some refactoring of the osm api db layer presentation may be all of what's needed for this.  I'm no security expert, so we may need to have more discussions about it before proceeding.  ngageoint/hootenanny#869 shouldn't take too long, and I may be able to get it done before I go on leave next week.  This task, however,

[2016-06-24 14:07] sisskind commented on #527
@bwitham sounds good.  We can always loop in some other DG ME devs to help with OAuth.

[2016-06-24 14:08] bwitham commented on #527
That's a good idea.  They already have experience with this, I'm sure.

[2016-06-27 11:35] #490 closed

[2016-06-27 11:51] briandaviddavidson commented on #517
The map has to be able to zoom and pan for the bounding box to stay in the correct location. Rejecting this ticket.

[2016-06-27 12:29] #517 closed

[2016-06-27 12:48] sthorneloe commented on #481
@mikejeffe That sounds sufficient to me, thanks!

[2016-06-27 16:32] mikejeffe commented on #515
@briandaviddavidson did you do a submodule sync after merging?  I just rebuilt and there didn't appear to be any changes in hoot-ui. I can still expand to full screen.

[2016-06-27 16:45] treycaldwell commented on #449
The UI currently allows selecting multiple files for upload, but the following error is received when attempting to upload two OSM files:  "Failed to execute.Error running convert: convert takes two parameters."  We will just support uploading a single zip file containing a single osm or a single gdb dataset.

[2016-06-27 17:23] briandaviddavidson commented on #515
No, I didn't. I'm not sure how to do that either. Is there something special I need to do in the commit?

[2016-06-27 17:38] sisskind commented on #515
@mikejeffe pull request hasn't been done yet.

[2016-06-27 18:24] mikejeffe commented on #515
Ok. I was just looking at the label change so I'll wait till the PR

[2016-06-28 13:30] briandaviddavidson commented on #518
A pull request has been submitted with fixes for this

[2016-06-28 13:48] briandaviddavidson opened #532 "Buttons need to move when sidebar is expanded"
When the sidebar is expanded, the top toolbar (Point/Line/Area buttons, Tools button, etc) don't move, so the user can't use them when the sidebar is expanded. These need to shift when the sidebar moves.

Example:
![hootenanny](https://cloud.githubusercontent.com/assets/2423402/16417827/65b28636-3d15-11e6-9d5c-751033178962.png)

[2016-06-28 14:28] briandaviddavidson commented on #523
Pull request has been submitted

[2016-06-28 19:19] #506 closed

[2016-06-29 12:47] sisskind commented on #225
OBE

[2016-06-29 12:47] #225 closed

[2016-06-29 12:51] sisskind opened #536 "Expanded sidebar offsets radial menu"
If the sidebar is expanded, it appears that the radial menu is offset by the amount the sidebar is expanded. Once the sidebar is reset, the radial menu adjusts back as well.

[2016-06-29 12:51] sisskind commented on #536
https://github.com/DigitalGlobe/VGI-team-repo/issues/102

[2016-06-29 14:22] briandaviddavidson commented on #514
The floating `I` looks odd next to the label. Going to change the location and add the word `About` to help give some context

[2016-06-29 14:26] briandaviddavidson commented on #514
On second thought, I think I'm going to add the `I` icon and switch the label back to the original functionality of taking the user directly to about.

The `I` will give the user context that it's clickable and that they can get more information about Hootenanny

[2016-06-29 15:15] briandaviddavidson commented on #536
Example:

![hootenanny](https://cloud.githubusercontent.com/assets/2423402/16457787/bc0af6e6-3dea-11e6-8393-9187978015bf.png)

[2016-06-29 17:01] sisskind opened #538 "Hoot not using full real estate"
1. Open Chrome
2. Snap Chrome to left or right of desktop so that it fills half the desktop real estate
3. Open Hoot
4. Maximize Chrome

![image](https://cloud.githubusercontent.com/assets/6191659/16461227/83038e26-3df9-11e6-858e-fdf8b83d01f7.png)

[2016-06-29 17:01] sisskind commented on #538
https://github.com/DigitalGlobe/VGI-team-repo/issues/172

[2016-06-29 17:05] sisskind opened #539 "Make "Go To Review" bubbles draggable"
There are time when the "Go To Review" bubbles are on top of each other, and it may be helpful to drag them for a clearer view.

https://github.com/DigitalGlobe/VGI-team-repo/issues/166

[2016-06-29 17:10] #515 closed

[2016-06-29 17:55] mikejeffe opened #540 "Cannot zoom further error when editing geometry in layer"
In Firefox when you add a layer, then click on Point, Line or Area to create a new geometry then click on the map and drag by holding down left click of mouse you get an error message like https://cloud.githubusercontent.com/assets/15252833/16462310/a1194ef0-3dfe-11e6-956d-2ba6e0f10af5.png

In Chrome I am seeing some inconsistencies with this behavior.  Can't hit the AWS instance at the moment but

[2016-06-29 17:55] mikejeffe commented on #540
@sisskind can you confirm this?

[2016-06-29 20:21] sisskind commented on #540
Yes -- but this ticket already exists.  https://github.com/ngageoint/hootenanny-ui/issues/376

[2016-06-29 21:33] sisskind opened #541 "Hitting Enter on Add Folder Refreshes Hootenanny"
Hitting enter/return key when adding a folder on Hootenanny refreshes the browser on Chrome.  This is unfortunate.  Should either do nothing, or submit the form.

[2016-06-30 16:48] treycaldwell commented on #449
Since the controller code is now working (minus a test of zipped osm ingest which still needs to be finished), the UI task is to allow a "osm.zip" file to be chosen through the file chooser and to add "gdb.zip" to the "File (shp,zip)" Import Type text (already allows choosing a "gdb.zip" in the file chooser).

[2016-07-06 12:57] briandaviddavidson opened #542 "Fix issue of appending id when not available"
In https://github.com/ngageoint/hootenanny-ui/issues/518, some of the code ([specifically this commit](https://github.com/ngageoint/hootenanny-ui/commit/c32a30f17a3e70a04562711e0c5366aa3deeb7cc)) appended an ID which broke other parts of the code. This needs to be corrected.

[2016-07-06 16:24] sisskind opened #545 "Replace progress bar with loading gif"
Replace the progress bar with the loading gif/icon until #195 is ready to be completed.

[2016-07-06 16:25] #540 closed

[2016-07-06 16:41] sisskind commented on #484
Test along side UI ticket (ngageoint/hootenanny-ui#484). Should be able to filter bookmarks using checkboxes on side bar as opposed to drop downs. Both have been merged into develop.

[2016-07-06 16:47] sisskind opened #546 "Disappearing features on zoom"
If I draw a shape and zoom down all the way and can't see the features (lines/points) and then zoom out - it vanishes. For instance, draw a big square, zoom down within that square as far as you can (I don't know the threshold), and then zoom out. Square gone! In the following example, I zoomed down just to the point where the sides of the square are off screen and it disappeared (the save & undo

[2016-07-06 16:47] sisskind commented on #546
https://github.com/DigitalGlobe/VGI-team-repo/issues/177

[2016-07-06 18:08] sisskind commented on #508
It is possible that we are inadvertently adding layers to the iD layer list and the Hoot layer list.

[2016-07-06 18:18] sisskind opened #547 "Manage Tab Shift-Select"
Be able to select multiple datasets at once using the shift key!

[2016-07-06 18:21] mikejeffe commented on #547
@sisskind how is this different from being able to select multiple datasets using the ctrl key?

[2016-07-06 18:22] sisskind commented on #547
Two clicks as opposed to click all, similar to Windows.

[2016-07-06 18:25] mikejeffe commented on #547
Ah you want to select all datasets b/w top and bottom selected.

[2016-07-06 20:20] #523 closed

[2016-07-06 20:40] #483 closed

[2016-07-06 20:43] mikejeffe commented on #483
The only issue that might cause confusion is that when a feature is not selected (with review layer loaded), T toggles the Hide/Display Table

[2016-07-06 20:59] mikejeffe commented on #484
functioning properly but it seems like we've included more filters than necessary. I think it may end up cluttering the list since it's unlikely someone would filter by Map ID vs. Relation ID or Review ID, etc..

[2016-07-06 21:14] mikejeffe commented on #484
Doesn't appear to be working on FF.  The Filter By Creator/Layers isn't functioning.

[2016-07-07 00:10] sisskind commented on #484
Can confirm not working on FF.  Will fix as well as remove some filters per above comment.

[2016-07-07 13:13] brianhatchl commented on #539
https://bl.ocks.org/mbostock/4062045

U can do it!

[2016-07-07 13:18] sisskind commented on #539
It's like a DNA diagran!

[2016-07-07 13:52] jcp2236 commented on #539
That's awesome!

[2016-07-07 17:12] #509 closed

[2016-07-08 16:41] briandaviddavidson opened #552 "Adding an id might interfere with other already created IDs"
Related to: #542

If for some reason, the `typeof` is a string, but the value is a number (so for example, `9`), this could potentially cause a duplicate of IDs which will be a problem down the road.

After some initial testing this morning with @sisskind, I am going to do some more research into the problem.

[2016-07-08 18:15] mikejeffe commented on #536
radial menu now appears above or adjacent to the selected feature.

[2016-07-08 18:15] #536 closed

[2016-07-08 18:17] #532 closed

[2016-07-08 18:22] mikejeffe commented on #518
@briandaviddavidson the locator overlay is disabled when switching to the OSM basemap but was it your intention to override the option if the user selected the overlay for OSM?  I see that it will turn it on in the Minimap when selected but not in the main map (for OpenStreetMap (standard) only).

[2016-07-08 18:23] #516 closed

[2016-07-08 18:26] mikejeffe commented on #372
@brianhatchl the arrow div is on top now but it looks like when I hit the ctrl key, the arrow doesn't switch directions dynamically.  I need hold the key first then hover over the merge button.  Can you confirm on your end?

[2016-07-08 18:36] brianhatchl commented on #372
I did see that behavior once, but it is working for me now.  Try holding CTRL down longer.

[2016-07-08 18:39] mikejeffe commented on #372
negatory.. doesn't appear to have a time dependency.

[2016-07-08 18:40] mikejeffe commented on #372
ok working now. nevermind

[2016-07-08 18:40] #372 closed

[2016-07-08 18:53] brianhatchl opened #553 "js error when changing tag schemas on feature edit"
preset_list.js:242 Uncaught TypeError: Cannot read property 'hoot:transtype' of undefined

[2016-07-08 20:49] sisskind opened #554 "Refactor Export.js and ExportDataset.js"
There is a lot of commonality between Export and ExportDataset.js, and they may be good candidates for refactoring.

[2016-07-08 20:56] sisskind commented on #521
![image](https://cloud.githubusercontent.com/assets/6191659/16701170/0da8ed6c-452c-11e6-8c63-5f21b09cb1b8.png)

![image](https://cloud.githubusercontent.com/assets/6191659/16701305/e779b0c6-452c-11e6-9c2e-414d23fc5244.png)

[2016-07-08 21:35] mikejeffe commented on #553
@brianhatchl I get this error when I create a new feature and switch the tag schema but not when editing an existing feature.

[2016-07-08 21:37] brianhatchl commented on #553
Right, this is just for new features.

[2016-07-08 21:49] mikejeffe opened #556 "Cannot double-click to complete new feature for line/area when line snapping disabled"
This issue is not the easiest the reproduce but I'll try here and I have been able to duplicate it on AWS.  I noticed that more often then not in Chrome primarily, when creating a new line/area geometry I could NOT double-click to complete the feature, it would simply continue adding new nodes unless I clicked a key to escape this.   When I clicked any number key e.g. 1,2, 3, etc., the enable line

[2016-07-11 11:43] briandaviddavidson commented on #518
@mikejeffe Not sure I follow. So you're saying that if you're on the OSM base map layer, it won't turn on at all? My intention was to turn it off whenever the user has it on and switches to the OSM base layer. They should be able to toggle it on and off once switching base maps though

[2016-07-11 14:29] treycaldwell commented on #449
Currently, when using Firefox the first Import Type option is "File (shp,zip,gdb.zip)".  In Chrome the option is "File (shp,zip)".  I commented out the browser check so the user is always presented with the former and this works just fine in Chrome.

[2016-07-11 15:14] mikejeffe commented on #518
@briandaviddavidson it turns off so that part is functioning.  When I enable the location overlay with the OSM basemap on, it puts the black labeling on the minimap not the main map.  Thats all I am trying to say here.

[2016-07-11 15:21] mikejeffe commented on #518
@briandaviddavidson after rebuilding the latest, it looks like it is adding the location overlay with labeling to the main map when you check it with the osm basemap.  I may have been hitting it in a half baked state.

[2016-07-11 15:21] #518 closed

[2016-07-11 15:59] #553 closed

[2016-07-11 17:36] briandaviddavidson commented on #508
Looks like the layer needs to be there for the bottom layer list to render. Not sure why, but for now, I'm going to work on hiding the list item, then work on removing it completely.

Might be something that happens in the refactoring process.

[2016-07-11 17:42] #525 closed

[2016-07-12 18:06] sthorneloe commented on #556
@mikejeffe OK, nice to see this here, I thought it was just me (Hilary has no problems for some reason).

[2016-07-12 18:09] sthorneloe commented on #481
@mikejeffe Is this in the nightly yet?

[2016-07-12 18:49] sisskind opened #560 "When 2 datasets are loaded, first dataset lags on refresh"
Appears to occur with newer versions of Chrome.  Does not occur on Firefox.

Only occurs when two datasets are loaded, and it is the first dataset that was loaded that appears to lag.

[2016-07-14 13:26] brianhatchl commented on #556
This bug is caused by disabling snapping in this ticket https://github.com/ngageoint/hootenanny-ui/issues/520

[2016-07-14 13:49] brianhatchl commented on #556
This chunk of code seems to have been customized by hoot, but I'm not sure we need it.
https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/behavior/draw.js#L77-L93

Making this chunk like default iD code fixes the double-click to finish drawing a new feature.  Not sure if it breaks any other behavior though.

[2016-07-14 17:16] briandaviddavidson commented on #546
Going to see if I can recreate this

[2016-07-15 02:13] sisskind commented on #522
What needs to be done:
* Finish styling
* Add in try/catch or some sort of error handling if drawing bounding box goes awry (perhaps on trying to add again, just remove any instance of the form and start over with fresh)
* Wire up 'Next' button with coordinates

[2016-07-18 12:33] briandaviddavidson commented on #466
I currently don't have access to this layer on my vagrant box, so I am troubleshooting with @bwitham

[2016-07-18 15:02] briandaviddavidson commented on #466
I was able to get the layer to appear :+1:

[2016-07-18 16:20] #556 closed

[2016-07-18 16:28] mikejeffe commented on #541
Looks like the first time you hit return after creating a new folder it refreshes the browser but all subsequent times, it works correctly.  @sisskind can you confirm whether this occurs on your end.

[2016-07-18 16:45] sisskind commented on #546
https://github.com/DigitalGlobe/VGI-team-repo/issues/183

[2016-07-18 16:47] #484 closed

[2016-07-18 16:49] sisskind opened #566 "Field Dropdowns"
When setting up the conflation process in Hoot if the user clicks the field area (Path, Type, Attribute Reference Layer, etc) the field option only drops to either what is currently populated or the first item in the list. To get the full list of options the user has to click the dropdown arrow at the end of the fields. For newer users they may be unknowingly forced to pick a limited option when m

[2016-07-18 17:10] mikejeffe commented on #519
@sisskind the functionality associated with loading either the Secondary/Reference is there and functioning but it looks like after you add both, "Add Secondary" remains as a right-click option.  I'm going to close this ticket and add a separate bug ticket.

[2016-07-18 17:10] #519 closed

[2016-07-18 17:21] mikejeffe opened #567 "Secondary dataset right-click option remains available after layer loaded from Manage tab"
Possibly an artifact from https://github.com/ngageoint/hootenanny-ui/issues/519 but "Add Secondary layer" continues to appear in dataset context menu (right-click on data) after both layers added to map.  The issue that surfaces is you can continue to add datasets as secondary layers.  Not sure if that was done intentionally to support > 2 layers on the map.

[2016-07-18 18:02] mikejeffe commented on #567
![image](https://cloud.githubusercontent.com/assets/7560096/16924979/d178fa8c-4cd6-11e6-89c7-042c69bbf1e9.png)

![image](https://cloud.githubusercontent.com/assets/7560096/16925002/f129201e-4cd6-11e6-9f9a-7f3dc1a23414.png)

![image](https://cloud.githubusercontent.com/assets/7560096/16925020/07058102-4cd7-11e6-8921-f67efc2fbcd6.png)

[2016-07-18 18:55] #485 closed

[2016-07-18 19:33] sisskind opened #568 "Update clip cucumber test"
Due to updates in https://github.com/ngageoint/hootenanny-ui/issues/522

[2016-07-18 19:37] mikejeffe commented on #541
I think this is working fine now.

[2016-07-18 19:37] #541 closed

[2016-07-19 14:59] #296 closed

[2016-07-19 15:54] sisskind opened #570 "Paste Attributes Button"
Create a new button alongside the select all attributes to paste attributes. Will require a toggle for either append or overwrite.

[2016-07-19 15:55] briandaviddavidson commented on #546
https://github.com/DigitalGlobe/VGI-team-repo/issues/183 appears to be just related to the highlight as opposed to the entire feature. I'm going to create a new ticket for it.

[2016-07-19 15:57] briandaviddavidson opened #571 "Disappearing Highlight"
Original Ticket: https://github.com/DigitalGlobe/VGI-team-repo/issues/183

1. Open a dataset in review mode.
2. Turn on Highlight Edited Features.
3. Make a change to a feature.
4. Pan AWAY from the changed & highlighted feature.
5. Pan BACK to the changed & highlighted feature.
6. Highlight is GONE.
7. Zoom out a little bit at a time.
8. Highlight is BACK!!!

Alternatively, if you make a change &

[2016-07-19 18:19] sisskind commented on #522
Fix error in map.js when drawing bounding box.

[2016-07-19 18:34] sisskind commented on #566
It appears that this is **not** a bug.  Rather, when the user selects the input box, it is only showing what matches that set filter.  If the drop-down is set to read-only, this is not an issue.  May have to 2x check to make sure that if blank, the default value is used (placeholder in most situations), and that a placeholder is being set.

[2016-07-20 14:33] #568 closed

[2016-07-20 18:10] #449 closed

[2016-07-20 19:18] briandaviddavidson commented on #508
Testing when looking at the PR revealed more issues that I will be looking into

[2016-07-20 19:32] #567 closed

[2016-07-20 19:36] #545 closed

[2016-07-20 19:42] mikejeffe commented on #522
Looks great @sisskind

[2016-07-20 19:42] #522 closed

[2016-07-20 19:46] #514 closed

[2016-07-20 20:38] mikejeffe commented on #499
Doesn't look like the search is working with MGCP yet.  I created a feature, flipped the filter to MGCP and searched for bridge.  None of the search results had the name "bridge" in it.  Contrast this with OSM and TDS where search terms appear in result.

[2016-07-20 20:40] brianhatchl commented on #499
MGCP presets are now there (they weren't at all before), the search fix is being tracked here https://github.com/ngageoint/hootenanny/issues/907

[2016-07-20 20:55] mikejeffe commented on #499
thanks @brianhatchl.

[2016-07-21 11:20] briandaviddavidson commented on #508
Looks like this was relying on another PR that was not in the feature branch. After pulling in changes from `develop`, everything is operating as expected.

[2016-07-21 13:25] briandaviddavidson opened #576 "'Point' button tooltip is off"
When the user hovers over the `Point` button to add a point, the tooltip appears off from where it should be.

This should be a quick CSS fix.

Problem:
![tooltip](https://cloud.githubusercontent.com/assets/2423402/17024184/ec159742-4f24-11e6-9d46-0d5b0679adc4.png)

[2016-07-21 13:31] briandaviddavidson commented on #576
PR has been created

[2016-07-21 14:49] sisskind commented on #560
After some further investigation, appears to only be occurring with lines or highlights, not points or polygons.

[2016-07-21 15:02] sisskind commented on #560
![560](https://cloud.githubusercontent.com/assets/6191659/17027637/a833a240-4f32-11e6-81f4-2d8ec7b22613.gif)

[2016-07-21 16:13] sisskind commented on #560
Appears to occur after the second dataset is added, but will persist even if that dataset is removed.

[2016-07-21 16:29] mikejeffe commented on #560
I wonder if this is a gpu acceleration issue:  https://bugs.chromium.org/p/chromium/issues/detail?id=117032

[2016-07-21 16:35] sisskind commented on #560
It is possible, but if that were the case I would expect it to have a lag with all features, not after adding a second layer

[2016-07-21 18:35] sisskind opened #578 "Layer Name still being used as opposed to Layer Id"
It appears that the Layer Name is still being used, specifically when data is added to map.  This should be changed to only use layer Id.

[2016-07-21 19:17] mikejeffe opened #579 "Hitting ctrl key to reverse Poi merge direction doesn't work from MacBook"
It appears that macs have a specific function when you hold the ctrl key and hit a button in the UI which causes that menu to appear.  There doesn't appear to be a way to remove it thus you cannot reverse the merge POI direction when using Chrome or FF on a mac.
<img width="1273" alt="ctrl-key" src="https://cloud.githubusercontent.com/assets/7560096/17035582/0268409a-4f3d-11e6-970a-6b1c70c055dc.pn

[2016-07-21 19:18] mikejeffe commented on #579
Don't have this issue on my Linux box.

[2016-07-21 19:18] brianhatchl commented on #579
can you try Command key instead?

[2016-07-21 19:23] mikejeffe commented on #579
command key doesn't reverse the arrow.

[2016-07-21 19:54] sisskind commented on #560
It's the ticket I just can't quit.  It is definitely layer dependent, as a created feature does not have lag until after it is saved and part of layer.  Measurement lines, unsaved features, do not lag.  The aforementioned highlight issue still exists though (but was part of previous layer, so that may work out if this bug is fixed).

![560-1](https://cloud.githubusercontent.com/assets/6191659/1703

[2016-07-21 22:31] mikejeffe commented on #571
I am seeing this issue resurface in both the release and nightly AWS.  Two tests I run are panning away from a highlighted yellow feature and zooming way out with the mouse scroll wheel.  In both cases the highlight turns off.  When I tested this prior it did not appear that the highlight was disappearing.

[2016-07-21 22:33] mikejeffe commented on #571
Note that when I zoom out to the point of getting the message, Please wait while loading missing feature, the highlight disappears.

[2016-07-21 22:50] mikejeffe opened #582 "Center Text inside "Go To Review" bubbles"
Just a minor quip but one worth pointing out, in cases where you get a lot of related reviews (Lativa POI for example), when the letter count goes into double digit e.g. AA, BB, CC, etc., the text appears off-center from the bubble making it look a little sloppy.  See EE, GG in pic below.

![image](https://cloud.githubusercontent.com/assets/7560096/17041402/af4cf158-4f5a-11e6-8437-33a29d8fb4b6.png

[2016-07-21 23:02] mikejeffe opened #583 "Loading review layer from manage dataset tab should open map after pop-up"
I noticed when adding a review layer that had open reviews from the Manage | Dataset list (either as reference or secondary), the pop-up appears that layer has unresolved reviews but it doesn't open the map view.  It should probably open the map since that might be confusing to the user.

[2016-07-22 00:03] mikejeffe opened #584 "Cannot edit tag values when active schema is TDS/MGCP"
I have been trying to edit tag values for different features and it appears on my end at least that you can only save changes made to tags when the active schema is OSM (filter by type = osm).  When I change this to either TDS or MGCP and try to edit the Name (NAM) or other attributes, the Save button does not appear.  If however I edit the name field for a feature while OSM is the active schema,

[2016-07-22 00:05] mikejeffe commented on #584
I should add that clicking on the Feature Type e.g. Secondary Road, works regardless of schema type.  In otherwords it triggers the save option.  However clicking in the MGCP field, Condition of Facility and changing from Destroyed to UNK does nothing.

[2016-07-22 11:07] briandaviddavidson commented on #571
@mikejeffe:
I'm unable to reproduce the error on the `develop` or `release` branch. Can you check my process to make sure I'm doing it correctly?

1. Add dataset (in my case, `dcpoi_clip`)
2. Draw a polygon
3. Label it as something (I pick park since it's the first option)
4. Turn on `Highlight edited features`

From there, I zoom out as far as I can and I still see the highlight. I can also pan a

[2016-07-22 15:50] sisskind commented on #560
After testing with version prior to upstream merge, I can safely assume that this has nothing to do with the new version of iD.

[2016-07-22 16:24] briandaviddavidson commented on #566
I've added a prototype of the dropdown for consideration. To see it, add data (I used `dcpoi_clip`) and add a point to the layer. You'll see the dropdown as opposed to the combobox.

Commit: https://github.com/ngageoint/hootenanny-ui/commit/353bc3f3dd84a459e0ef2e0f10c1b0769778ca5c

[2016-07-22 16:42] sisskind commented on #560
Where paths are being returned for draw: https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/svg.js#L15

[2016-07-22 16:53] mikejeffe commented on #571
@briandaviddavidson

I think this is reproducible on larger datasets like the Port Au Prince Ref1/Ref2 data.  Do you have those?  On smaller datasets, it looks like hoot never needs to load missing features and I noticed with some Samoa data that issue didn't occur i.e. highlighted features remained highlighted, but on larger datasets like Haiti with a dense feature count, when I zoom out it seems

[2016-07-22 17:26] sisskind commented on #560
It is possible that it is not the feature lagging, but just the highlight.

[2016-07-22 18:53] mikejeffe commented on #499
this ticket was originally opened because search wasn't working with MGCP selected so I don't think I can close it based on whether the presets are there.  I'll track this with ngageoint/hootenanny#907.  Once that work is done, we can probably close this ticket.

[2016-07-22 19:14] sisskind commented on #583
@mikejeffe good point!  Will do for current develop branch.

[2016-07-22 19:15] brianhatchl commented on #584
After digging around, this seems to have broken between the Changes for 1.75 commit d77d3cc171bf2978357434b1881767ee3ac47f44 and the Changes for v1.92 commit 5377b4d9076b5d56439a06ed0f495cf379c57616

[2016-07-22 19:24] sisskind commented on #582
@jcp2236 FYI

@mikejeffe is there a solid dataset to replicate?

[2016-07-22 19:28] mikejeffe commented on #582
@sisskind datasets below work.

[Latvia_Geonames_Poi_hotel_crop.zip](https://github.com/ngageoint/hootenanny-ui/files/378908/Latvia_Geonames_Poi_hotel_crop.zip)
[Latvia_OSM_Poi_hotel_crop.zip](https://github.com/ngageoint/hootenanny-ui/files/378907/Latvia_OSM_Poi_hotel_crop.zip)

[2016-07-22 19:55] mattjdnv opened #585 "Display two or more features in the schema switcher"
Sometimes, when using the schema switcher the result is more than one feature.

E.g. OSM: highway=road; bridge=yes  =>  TDSv61: AP030 ;  AQ040

We need a better way of displaying these types of translations:
* Tabs for each feature?
* Windows/boxes?
* etc

[2016-07-22 20:05] mattjdnv opened #586 "Rename the list of translations to make them easier to understand"
Currently, the list of translations uses up heaps of screen real estate in the UI and looks like this:
[code]

How about something like this:
[code]

or, even better, just have the short name/acronym and have the full name appear in a popup/tool tip.

It would be nice to do this before we add in GGDM & TGD:
"Ground-warfighter Geospatial Data Model (GGDM) v3.0"
"Theater Geospatial Database (TGD) v2

[2016-07-22 20:09] mattjdnv opened #587 "Move the Hoot UI starting location to some good looking place in the world"
When a user fires up Hootenanny the initial location that displays is the DG headquarters in Westminster.

This is nice but may not work well if the user has Bing imagery turned off and does not have high resolution imagery of the westminster location available.

We should move the start location to somewhere nice that the user has a chance of seeing.

[2016-07-22 20:57] #489 closed

[2016-07-25 11:23] jcp2236 commented on #582
I'm on it, thanks for letting me know.

[2016-07-25 11:54] briandaviddavidson opened #588 "Drawing tools stay active when dataset deleted"
Reference Ticket: https://github.com/DigitalGlobe/VGI-team-repo/issues/177

[2016-07-25 12:04] briandaviddavidson commented on #588
Able to recreate by using the steps as noted in original ticket:

1. Add a dataset
2. Click to being drawing, but instead of drawing, drag the map
3. Without stopping the drawing tool, remove the dataset

The tool stays active and trying to add another dataset results in the data never being loaded.

[2016-07-25 12:59] briandaviddavidson commented on #566
Per discussion with @sisskind, I'm going to change back to the d3 combobox, then create a class that will be applied to comboboxes that should have the same event as the caret as well as be `readOnly`

[2016-07-25 18:16] brianhatchl commented on #584
So it seems like the preset and raw tag editor controls that get created for the non-OSM schemas are not getting the change handler set, which is happening here https://github.com/ngageoint/hootenanny-ui/blob/develop/js/id/ui/entity_editor.js#L12-L15

        .on('change', changeTags);
    var rawTagEditor = iD.ui.RawTagEditor(context)
        .on('change', changeTags);

[2016-07-25 18:33] brianhatchl commented on #584
I take it back, it seems like the callback for updateEntityEditor() is never getting reached.

        var entity = context.entity(id);

        // for all non OSM translation
        if(currentTranslation !== 'OSM') {
            plg.updateEntityEditor(entity, changed, rawTagEditor, currentTranslation,
            function(OSMEntities){
                           // store to internal

[2016-07-25 19:23] briandaviddavidson commented on #588
If a user is in the `draw-line` or `draw-area` mode, they will be prompted when clicking the trash can icon to finish their drawing before deleting the layer.

[2016-07-25 19:35] brianhatchl commented on #584
Tag changes to a feature with non-OSM schema should now enable the Save buttonu / update edit history

[2016-07-25 20:51] #508 closed

[2016-07-25 20:53] #466 closed

[2016-07-25 21:01] mikejeffe commented on #499
closed after testing ngageoint/hootenanny#907

[2016-07-25 21:01] #499 closed

[2016-07-25 21:45] brianhatchl commented on #570
This feature request is problematic for a few reasons.  The paste tags feature requires the user to select the target features for pasting.

1. If one target feature is selected, the raw tag editor is updated with that features values.  The selected tags are displayed, but the copied values only change when the set of selected tags changes.  Having a paste attributes button here would be confusing

[2016-07-25 21:58] mikejeffe commented on #584
@brianhatchl @sisskind is this going to be merged into the release branch?  I was looking for it on the develop branch but don't think it's there yet.

[2016-07-25 22:09] brianhatchl commented on #584
There is an open PR #584 on the develop branch.  Commit can then be cherry-picked to release branch.

[2016-07-25 22:55] mikejeffe opened #591 "Cannot multiselect datasets using crtl key on a Mac"
Similar issue to https://github.com/ngageoint/hootenanny-ui/issues/579 where the control key on a mac does not have the same functionality that the ctrl key on windows/linux has.  This prevents users from multiselecting data.  It didn't seem to work with the command key as well.

[2016-07-25 22:56] mikejeffe commented on #591
@sisskind fyi

[2016-07-26 01:41] sisskind commented on #570
@brianhatchl good points.  I think the LOE of adding to the "Tools" Menu or on the toolbar is the best bet, as it will fulfill the same objective.

[2016-07-26 01:57] brianhatchl commented on #584
Actually, yes.

[2016-07-26 13:17] rmrice commented on #547
Will re-look at this when I get back next week. May involve completely refactoring the code for the collapsible tree (#922).

[2016-07-26 13:18] rmrice opened #595 "Refactor Folder.js / Collapsible Tree"
Rewrite the code for the collapsible tree to improve selection functionality

[2016-07-26 13:34] briandaviddavidson commented on #542
This was fixed in the PR above.

If `d.ImageryUsed()` is a string, an ID will be appended, otherwise it will pass over that attribute.

[2016-07-26 14:32] briandaviddavidson opened #596 "n1g4ns"

[2016-07-26 14:32] #596 closed

[2016-07-26 14:34] briandaviddavidson commented on #596
This was an unnecessary ticket that was accidentally added. Please ignore.

[2016-07-26 15:15] briandaviddavidson commented on #571
I've tested with PortAuPrince data locally and still have the highlight render properly. Once I can access the nightly build, I will test there as well and will update when completed.

[2016-07-26 15:17] briandaviddavidson commented on #546
Unable to recreate this

[2016-07-26 15:37] mikejeffe commented on #571
@briandaviddavidson I'm also going to test both my local develop and release branch again.  It wouldn't be the first time that issues appear only on my local environment which is why I wanted to confirm this on the nightly AWS.

[2016-07-26 16:16] sisskind commented on #453
1) Open up a dataset that has reviews
2) Go to a review that has a blue and a red feature (I have had it work with just a read feature but it wasn't reliable)
3) Click a feature so the pallet appears
4) Click and hold on another feature (I usually click a road) and then drag/pan the screen
5) Should now be experiencing a phantom pallet

[2016-07-26 16:54] mikejeffe commented on #571
@briandaviddavidson can you try on your local with the attached dataset?  Ingest it and make changes to a feature with highlight on.  Then zoom way out and back in.  If you get the message about the feature reloading then the highlighting is likely disappearing.

[PortAuPrinceOsmRef1.zip](https://github.com/ngageoint/hootenanny-ui/files/384341/PortAuPrinceOsmRef1.zip)
PortAuPrinceOsmRef1

[2016-07-26 18:38] sisskind opened #597 "Missing Datasets..."
It appears that with certain errors, Hootenanny will no longer be able to load datasets.  There needs to be a mechanism to ensure that datasets can be reloaded even after a failure.

This occurred with the phantom pallet (#453), and unsure how to replicate otherwise.

[2016-07-26 20:03] mattjdnv commented on #586
They come from the "DefaultTranslations" file.

[2016-07-27 11:34] briandaviddavidson commented on #571
Thanks for that dataset @mikejeffe. So the highlight doesn't disappear for me, but the feature itself disappears, which up until now I hadn't been able to recreate.

[2016-07-27 11:48] briandaviddavidson commented on #546
Finally able to recreate with data provided by @mikejeffe.

Steps to recreate:

1. Add data and set it as the reference dataset (in my case, `PortAuPrinceOsmRef1`)
2. Turn on Feature Highlight
 * Shortcut is the `f` key
 * Expand Map Features
 * Select `Hightlight edited features`
3. Draw an area
 * The highlight lags slightly
4. Zoom all the way out to z0
5. Zoom back in and the feature will disa

[2016-07-27 12:29] briandaviddavidson commented on #546
Looks like there is no need to turn on the highlight for the feature to disappear. Once z16 is hit, whether zooming in or out, the feature drawn will disappear

[2016-07-27 12:48] sisskind opened #598 "Replace progress bar on bulk import"
Repeat https://github.com/ngageoint/hootenanny-ui/issues/545 for bulk import.

[2016-07-27 13:17] sisskind opened #599 "Scroll wheel zoom discrepancy amongst browsers"
Appears that scroll wheel zoom varies between Chrome (~0.11) and Firefox (~0.72).

[2016-07-27 14:01] briandaviddavidson commented on #546
After debugging with @sisskind looks like the contents were being removed when zoom 16 was passed in `connection.js`.

There are other areas where `context.flush()` is being called. Not sure if a variable need to be passed in those either. Going to investigate further.

[2016-07-27 14:22] briandaviddavidson commented on #546
Doesn't seem to be necessary anywhere else. Submitting PR now.

[2016-07-27 14:47] briandaviddavidson commented on #453
I'm unable to recreate this on my machine, however I will continue to try throughout today. If I'm not successful, I'll reassign it to @sisskind

[2016-07-27 14:54] briandaviddavidson commented on #582
Code has been added through this PR: https://github.com/ngageoint/hootenanny-ui/pull/600

[2016-07-27 19:49] mikejeffe opened #602 "Review Bookmark settings missing user option."
In previous versions of bookmarked reviews prior to refactoring, different users could add comments to an existing review bookmark by clicking on the "user icon" in the top right corner but it appears now that the user icon ![image](https://cloud.githubusercontent.com/assets/7560096/17189850/47b8d53c-53f8-11e6-9eb5-02ad97a51065.png) has been removed and the comments will always appear from the las

[2016-07-27 20:39] sisskind commented on #307
https://github.com/ngageoint/hootenanny-ui/issues/536

[2016-07-27 20:42] #582 closed

[2016-07-27 20:45] jcp2236 opened #605 "Expanded sidebar offsets review bubbles when dragged"
If the sidebar is expanded, it appears that the review bubbles are offset when holding down the mouse to drag by the amount the sidebar is expanded. Once the sidebar is reset, the bubbles adjust back as well.

[2016-07-27 23:04] mikejeffe commented on #588
@briandaviddavidson I was able to trigger the error message but I can also get the "Cannot zoom.." black screen when I drag the map with an unfinished line/area draw.  I'm gonna assume that the latter condition is not a bug.

[2016-07-27 23:04] #588 closed

[2016-07-27 23:06] #576 closed

[2016-07-27 23:07] mikejeffe commented on #542
no need to keep this open.  If a developer can confirm than just close it.

[2016-07-27 23:22] mikejeffe commented on #453
Also unable to reproduce this based on the steps provided.  At no point does a phantom pallet appear.

[2016-07-28 10:58] briandaviddavidson commented on #542
@jcp2236 Can you please confirm and close.

PR has already been merged: https://github.com/ngageoint/hootenanny-ui/pull/543

[2016-07-28 11:14] jcp2236 commented on #542
Confirmed.

[2016-07-28 11:14] #542 closed

[2016-07-28 12:26] briandaviddavidson commented on #605
Code that might be of use

Offset radial menu: https://github.com/ngageoint/hootenanny-ui/pull/550
Sidebar expanding: https://github.com/ngageoint/hootenanny-ui/pull/533

[2016-07-28 16:04] briandaviddavidson opened #606 "Sidebar expanding over map"
This is a research ticket to try to figure out how to drag the sidebar and not move the map container to alleviate the issue of adjusting the width for all the svg elements (radial menu, drawing tools, etc.)

Related ticket: https://github.com/ngageoint/hootenanny-ui/issues/605

[2016-07-29 01:16] sisskind opened #607 "Loading Review Layer out of Review Mode Keeps Spinning"
If you load a review layer but do not enter review mode, the layer is added to map, but the "Loading" and spinning gif does not resolve to layer name.

[2016-07-29 11:52] sisskind commented on #472
Part of UI Portion of Holy Grail

[2016-07-29 15:06] sisskind opened #609 "Show user when commenting on Review Bookmark"
When commenting on a review bookmark, you can change the user - but there is no way to know which user is commenting unless you click every time.  Refactor to either (a) create input where user name is seen, (b) show which is the 'current user' and allow user to change as needed, or (c) something along those lines.

Inspired by work done on https://github.com/ngageoint/hootenanny-ui/issues/602.

[2016-07-29 15:09] sisskind opened #610 "Modifying Review Bookmark Note Bug"
When modifying a review bookmark, the user can click the + icon repeatedly to create multiple Cancel/Modify buttons.  Limit to one click and force user to either choose to Cancel or Modify before moving forward.  Also consider changing Modify text to Save.

![image](https://cloud.githubusercontent.com/assets/6191659/17252988/cc384092-557c-11e6-87a0-6cbe755683e5.png)

[2016-07-29 19:53] #584 closed

[2016-07-29 20:22] brianhatchl commented on #570
![screenshot from 2016-07-29 16 20 25](https://cloud.githubusercontent.com/assets/2600932/17262311/a5cab49a-55a8-11e6-9f59-44f0e41634e4.png)

[2016-07-29 20:30] sisskind commented on #570
Will take a look at tonight.  Icon skills are most impressive on this one.

[2016-07-29 20:36] sisskind commented on #591
Blocked by #595

[2016-07-30 22:44] rmrice commented on #598
So I replaced the progress bar with the loading/spinner icon for bulk import. Before I make a PR, just wanted to note that I referenced the icon the "old way" (`.classed('_icon _loading')`) because the spinner wasn't on the SVG icon list. I can call it as an svg like what was done in #611 but I want to make sure I don't mess up the svg list / sprite sheet if I add it in :grin: .

[2016-07-31 03:51] sisskind commented on #598
@rmrice you are in good shape. We will eventually replace icons with svgs, but for now can continue with existing paradigm.

[2016-08-01 11:53] briandaviddavidson commented on #571
Unable to recreate. I've assigned it to @jcp2236 to see if he can recreate it

[2016-08-01 15:07] briandaviddavidson commented on #610
PR has been submitted

[2016-08-01 17:34] jcp2236 commented on #571
The feature is disappearing on me when I use the Port Au Prince dataset. I'm drawing a polygon, turning on highlight and zooming out rapidly until I get the "loading missing features" message.

[2016-08-01 17:34] jcp2236 commented on #571
Both the feature and highlighted border disappear from the map.

[2016-08-01 18:30] briandaviddavidson commented on #571
Ahh ok. I haven't been trying with a conflated dataset. I will look into that.

[2016-08-01 18:59] sisskind opened #617 "Node appears when line is split"
To replicate:

1. Run conflation job
2. Find "T" intersection or something similar.
3. Split the top part of the "T" at the intersection.
4. Delete each segment separately.
5. A node will appear on the intersection point

https://github.com/DigitalGlobe/VGI-team-repo/issues/104

[2016-08-01 19:01] sisskind opened #618 "hoot:status tag"
Within hootenanny, the hoot:status tag value (1,2,3) represents the data as reference, secondary, and auto-conflated respectively.

When exported as OSM, this tag does not carry over.

It may be useful for this tag to carry over for users to be able to filter by outside of Hoot, particularly to identify those roads that were auto-conflated that were not part of manual review.

[2016-08-01 19:02] sisskind opened #619 "Switching reviews with Blue feature selected doesn't change selected feature"
When in a "Relation Review" and you have the blue relation feature selected, if you hit next to go to the next review, it will keep that previous blue feature open/selected in the datapanel on the left side of the UI. If you ahve the red feature seleted, it clears out the selection in the datapanel on teh left side of the UI.

[2016-08-01 19:03] sisskind commented on #619
DigitalGlobe/VGI-team-repo#138

[2016-08-01 19:03] sisskind commented on #618
DigitalGlobe/vgi-team-repo#113

[2016-08-01 19:04] sisskind opened #620 "Switching reviews with Blue feature selected doesn't change selected feature"
When in a "Relation Review" and you have the blue relation feature selected, if you hit next to go to the next review, it will keep that previous blue feature open/selected in the datapanel on the left side of the UI. If you ahve the red feature seleted, it clears out the selection in the datapanel on teh left side of the UI.

[2016-08-01 19:04] #620 closed

[2016-08-01 19:05] sisskind opened #621 "Intermittent issue jumping to review features"
When in review mode, if user zooms out to extent, and then zooms back into map away from the extent of the review layer, clicking the red/blue review table does not jump to feature. Happens in both Chrome and FF.

DigitalGlobe/vgi-team-repo#54

[2016-08-02 01:23] sisskind commented on #566
Reaching out to stakeholders, as we may be overthinking this one.  It isn't a bug, and maybe just need to include in our documentation that it is a filtering drop down...

[2016-08-02 10:40] briandaviddavidson commented on #566
I think that's the best way to move forward as well. I can't figure out a way to have the dropdown while still filtering with text.

[2016-08-02 12:24] briandaviddavidson commented on #571
Going to create a new ticket for the issue of a conflated dataset disappearing

[2016-08-02 12:24] #571 closed

[2016-08-02 12:50] briandaviddavidson opened #622 "Disappearing features in large conflated dataset"
To recreate:

1. Get a large, conflated dataset
 * I used `PortAuPrinceOsmRef1` and `PortAuPrince_OSM_Roads` conflated together
2. Draw a line or polygon
3. Turn on `Highlight Map Features`
4. Zoom out quickly

If the `Loading Missing Features` message appears, all of the changes that have been made are cleared.

Related to: #571 #546

[2016-08-02 12:53] briandaviddavidson commented on #546
Small datasets no longer have this problem. I have created a new ticket for large datasets, so I'm going to close this ticket.

[2016-08-02 12:53] #546 closed

[2016-08-02 16:22] briandaviddavidson commented on #622
I have only been able to recreate this once. @jcp2236 recreated it once using the steps above and @rmrice couldn't recreate at all. Going to put this in the `Backlog` until we can find a reliable way to recreate this issue.

[2016-08-02 16:24] rmrice opened #623 "fix help menu borders"
"Manage Hootenanny"'s borders are off (missing bottom border, double top border, corners not rounded).

[2016-08-02 18:41] sisskind opened #624 "Review mode not showing both pairs in extent"
Review mode should show all review features in extent.  Used to work, now it doesn't.  :(

See:
https://github.com/ngageoint/hootenanny-ui/issues/84
https://github.com/ngageoint/hootenanny-ui/issues/62

[2016-08-02 20:13] rmrice commented on #586
Went with the tooltips option. I simply took the description/long name and put it in a tooltip so now the translations list just shows the short name. Passed cucumber test locally.

![screenshot from 2016-08-02 16 12 50](https://cloud.githubusercontent.com/assets/17434033/17343517/1c0397a0-58cc-11e6-8ed5-bbf9da5cbe41.png)
See PR #616.

[2016-08-03 11:54] briandaviddavidson commented on #606
@jcp2236 is going to take over as primary since this relates to tickets he is completing

[2016-08-03 12:36] briandaviddavidson commented on #621
Haven't been able to reproduce the error, so it could have been fixed in a prior release unknowingly. I'm checking with the customer to see if they've noticed an issue and if so, on what dataset so I can work on recreating it here.

[2016-08-04 12:56] #598 closed

[2016-08-04 14:28] #623 closed

[2016-08-04 15:18] #566 closed

[2016-08-04 17:16] rmrice commented on #587
Any specific location requests for this? Anything anyone would like to see?

cc: @mattjdnv @briandaviddavidson @jcp2236 @sisskind @bmarchant @brianhatchl

[2016-08-04 17:40] rmrice commented on #587
Was going to do this unless we want somewhere in the US.

![screenshot from 2016-08-04 13 39 30](https://cloud.githubusercontent.com/assets/17434033/17412084/e972c422-5a48-11e6-9b16-d3b2eebf5ec8.png)

[2016-08-04 18:12] bmarchant commented on #587
NCE?  (38.753221, -77.196713) since this is ngageoint/hootenanny...  Or how about @drew-bower 's house?!

If you don't like those options, you could also randomly pick between four or five places around the globe.  I like the one you chose above, and maybe the Eiffel Tower (48.858248, 2.294566), the Great Pyramid at Giza (29.978604, 31.134543), the Statue of Liberty (40.689224, -74.044533)...

[2016-08-04 19:15] rmrice commented on #595
http://bl.ocks.org/thehogfather/0e48ec486abbd5be17d7

[2016-08-05 12:37] sisskind commented on #597
#453 is resolved, need to determine if this can be recreated.

[2016-08-05 12:42] sisskind commented on #527
@bwitham is this ready to be worked on // is it blocking ngageoint/hootenanny#869 or is it waiting for that to be finished up?  No pressure to complete - just want to make sure UI isn't holding up core dev.

[2016-08-05 12:46] sisskind opened #627 "Context menu hangs when switching from map to manage"
To recreate:

1) Open a context menu on Dataset tab OR tools menu in map
2) Click Manage or Return to Map
3) Context Menu remains

Context menu should disappear when no longer useful.

![image](https://cloud.githubusercontent.com/assets/6191659/17436997/0822578e-5ae9-11e6-9fe7-aecd5850e319.png)

![image](https://cloud.githubusercontent.com/assets/6191659/17436989/ffc6a360-5ae8-11e6-9541-3f2823b92f

[2016-08-05 12:47] sisskind commented on #314
@briandaviddavidson @jcp2236 @rmrice can you all try to recreate?

[2016-08-05 12:48] sisskind commented on #300
This ticket could also be interpreted as improving the UI of the bulk import window.

[2016-08-05 12:50] sisskind commented on #160
@mattjdnv @brianhatchl is this still an issue, or has it been resolved by work done over past 6 months?

[2016-08-05 12:55] bwitham commented on #527
ngageoint/hootenanny#869 is a services task and, technically, blocks this one.  They both, however, could be worked in parallel on separate branches and merged together at the end.

[2016-08-05 13:08] sisskind commented on #527
Ok -- wanted to make sure we weren't holding you back.  Will set up a meeting between both teams soon.

[2016-08-05 13:36] brianhatchl commented on #160
I'll look into this today.  Thanks for going in and triaging older tickets, definitely needs to be done.

[2016-08-05 13:45] briandaviddavidson commented on #624
When going to a new pair of review features, both should now be visible on the map

[2016-08-05 17:19] RobMaps commented on #610
Tested functionality of the "plus" (add) button and "cancel" button within the bookmarks window.  Upon clicking the "plus" button an avatar icon appears as well as a "cancel" and "save" button.   Upon clicking the "Cancel" button the "Cancel" and "Save" buttons do disappear however the additional avatar icon remains.  I had to hit the refresh icon to remove the additional avatar icons from the scr

[2016-08-05 17:42] RobMaps commented on #607
Replicated loading a review layer without entering review mode and the layer name is displayed properly.

[2016-08-05 18:00] #607 closed

[2016-08-05 18:23] brianhatchl commented on #160
Yes, this still seems to be a bug.

[2016-08-05 19:48] brianhatchl commented on #160
This seems to be due to an error in the osmtotds translation:

[code]

I'll have to see what FCODE it's trying to pass.

[2016-08-05 20:18] RobMaps commented on #583
Completed testing for this issue.  Attempted to add a layer that still has open reviews via the data manager window.   Adding this file as the Reference or Secondary layer does not automatically change Hootenanny to the map view.  The prompt notifying the user that the layer has open reviews does automatically appear.  Further attention is needed for this issue.

[2016-08-08 13:04] briandaviddavidson commented on #610
Good catch, @RobMaps. I'll fix that today and submit another PR. If it gets merged this afternoon, it should be ready to test again tomorrow

[2016-08-08 17:40] jcp2236 commented on #314
I haven't been able to reproduce this error, anyone else want to give it a shot?

[2016-08-08 17:57] briandaviddavidson commented on #314
Once I rebuild vagrant, I will try

[2016-08-08 18:20] briandaviddavidson commented on #610
@RobMaps The PR to fix these was merged in by @jcp2236, so you should be able to test on `develop` and not see the issue of duplicate user icons.

PR: https://github.com/ngageoint/hootenanny-ui/pull/632

[2016-08-09 12:04] rmrice opened #633 "Create iD info button on sidebar"
DigitalGlobe/VGI-team-repo#198

[2016-08-10 12:50] briandaviddavidson commented on #621
Just recontacted the customer after a week to get an update

[2016-08-10 12:56] briandaviddavidson commented on #314
Unable to reproduce the error as well. @rmrice can you give it a whirl before you go on PTO?

[2016-08-10 13:55] RobMaps commented on #610
Sounds good.  I will retest this today.

[2016-08-10 14:11] #587 closed

[2016-08-10 14:11] #586 closed

[2016-08-10 14:13] rmrice commented on #587
See PR #616

[2016-08-10 14:14] sisskind commented on #586
Great job!

[2016-08-10 15:33] rmrice commented on #314
I've gotten a few errors

1. The one for this ticket. I think it popped up after I tried to save an edit after recreating a line.
![screenshot from 2016-08-10 11 31 26](https://cloud.githubusercontent.com/assets/17434033/17559951/26e0a258-5eee-11e6-8ab8-807191a7da86.png)

2. "Review get refs failed. failed to retrieve review refs. Error: [object XMLHttpRequest]" when hitting "Resolve."
![screensho

[2016-08-10 15:44] jcp2236 commented on #314
I can confirm I've run into the third issue listed where you can no longer progress through the review items by clicking 'previous', 'next', or 'resolved'. That was the only error I was able to generate in testing.

[2016-08-10 16:18] brianhatchl opened #634 "Duplicate thumbnails in image carousel"
refs https://github.com/DigitalGlobe/VGI-team-repo/issues/189
and https://github.com/DigitalGlobe/MapEdit/issues/392

[2016-08-10 17:00] drew-bower commented on #587
@bmarchant my crib is not considered aesthetically pleasing.

[2016-08-10 17:06] mattjdnv commented on #587
@drew-bower So, you are saying that you wont be featured here http://www.mtv.com/shows/mtv-cribs ?

[2016-08-10 17:33] sthorneloe commented on #621
I think this was actually one of mine...March was a long time ago.  I think this has been fixed.

[2016-08-10 18:19] briandaviddavidson commented on #621
OK sounds good @sthorneloe. I will go ahead and close this ticket. If the issue arises again, we can reopen this ticket as necessary.

[2016-08-10 18:19] #621 closed

[2016-08-10 18:23] drew-bower commented on #587
More like the Annapolis version of this clan: https://en.m.wikipedia.org/wiki/The_Beverly_Hillbillies

[2016-08-10 18:55] sisskind commented on #619
To recreate...

1. Open Hoot
2. Open dataset in review mode
3. Select blue feature
4. Note the "Edit Feature" number, r19_40 for example in the metadata panel
5. Hit next
6. Note the "Edit Feature" number, r19_40 for example, has not changed
7. Hit next again
8. Note the "Edit Feature" number, r19_40 for example, has not changed
9. ad infinitum

![image](https://cloud.githubusercontent.com/assets/

[2016-08-10 20:11] RobMaps commented on #610
Initiated a fresh checkout of the develop branch to retest this issue.  Upon clicking the plus button 2 avatar icons appear. Hitting the cancel button only removes one of the avatar icons.  The user must refresh the screen to remove the additional avatar icons.

[2016-08-11 15:18] briandaviddavidson commented on #606
An initial prototype can be found on [branch `606`](https://github.com/ngageoint/hootenanny-ui/tree/606)

[2016-08-11 17:09] rmrice commented on #633
I've identified the files necessary to make a change:
`js/id/actions/info.js` - new file
`js/id/operations/info.js` - new file
`js/id/ui/radial_menu`
`data/core.yaml`

The radial menu calls functions from the operations folder and data from the yaml file.

I've also added an info button to the sprite sheet and `iD-sprite.json`, but I'm not sure where this button should get called.

Still trying to

[2016-08-11 17:42] RobMaps commented on #610
I retested this issue today and this is now functioning properly.  Clicking the plus button only creates one avatar icon.  Clicking Cancel properly removes the additional icon(s).  Recommend that we close this issue.

[2016-08-12 00:55] #634 closed

[2016-08-12 19:43] RobMaps commented on #610
I retested this issue and all is functioning properly.  Clicking the plus button only adds one additional avatar icon.  Clicking the Cancel button removes the additional icon.  Recommend that we close this ticket.

[2016-08-15 18:25] briandaviddavidson commented on #606
This is ready for review. The map is now 100% stationary with the bars/sidebar moving over top the map instead of moving along the same plane as the map. This solves a lot of issues involving offsetting the review bubbles, radial menu, delete menu, etc.

cc @brianhatchl @sisskind

[2016-08-15 19:59] sisskind commented on #606
Great work team!

[2016-08-15 20:37] brianhatchl opened #638 "Tag search with OSM schema selected returns other schema values"
When the tag search is run, it returns matches from all schemas supported by the switcher.  Not sure if this is intended behavior, but it results in duplicates as shown here:
![screenshot from 2016-08-15 16 33 26](https://cloud.githubusercontent.com/assets/2600932/17678751/77e949b8-6306-11e6-825b-dfd444d7efc5.png)

I would expect only OSM schema tags to be found by the search.

[2016-08-15 20:39] brianhatchl opened #639 "The Facility preset has the name and fcode reversed from other presets"
Suggest making it consistent by editing the three AL010.json preset files for each non-OSM schema.

![screenshot from 2016-08-15 09 03 30](https://cloud.githubusercontent.com/assets/2600932/17678825/bb37294c-6306-11e6-921e-2cd8a4f71c49.png)

[2016-08-15 20:44] brianhatchl commented on #606
Can you create a pull request?

[2016-08-16 10:45] #610 closed

[2016-08-16 12:15] briandaviddavidson commented on #619
Unable to recreate, so I'm going to have @jcp2236 give it a shot to see if he can

[2016-08-17 12:56] jcp2236 commented on #605
#606 should have fixed this issue

[2016-08-17 12:56] jcp2236 commented on #307
#606 should fix this issue

[2016-08-17 15:38] brianhatchl commented on #619
Let's build a cuke test to try to reproduce this!

[2016-08-17 16:19] jcp2236 commented on #619
Ok, I'll try my hand at it.

[2016-08-17 19:06] jcp2236 opened #643 "In conflation review, 'Previous' and 'Next' are misnomers"
Clicking 'Previous' doesn't guarantee that you will visit the actual previous review item.

[2016-08-18 15:47] briandaviddavidson commented on #643
What datasets were you using?

[2016-08-18 16:33] jcp2236 commented on #643
I was using the Latvia OSM POI data, but it seems to be consistent for most if not all, it's just easier to notice in the large datasets. I got those from Mike Jeffe here -> #582

[2016-08-19 12:47] bwitham opened #644 "Add poi to polygon conflation to the UI"
Do after ngageoint/hootenanny#979 is complete.

* make sure the following matcher gets added to the server configuration:  hoot::PoiPolygonMatchCreator (already the default in ConfigOptions.asciidoc)
* make sure the following merger gets added to the server configuration:  hoot::PoiPolygonMergerCreator (already the default in ConfigOptions.asciidoc)
* for poi to polygon reviews, hook up to the poi

[2016-08-19 16:29] brianhatchl opened #645 "Modify use of node js service ports to also accept a path"
Config files contain service ports for translation server, p2pmerge and node-mapnik.  Modify the code that appends these paths into a url to also accept a non-numeric value that will be interpreted as a path rather than a port.

[2016-08-21 16:25] #521 closed

[2016-08-22 14:48] sisskind commented on #314
So...another fun error, happening with larger review features. FYI @bwitham @brianhatchl

This will cycle for minutes:
![image](https://cloud.githubusercontent.com/assets/6191659/17858892/86c7f6ba-6855-11e6-8fdd-accf9de51d52.png)

Then this:
![image](https://cloud.githubusercontent.com/assets/6191659/17858970/c88fb09c-6855-11e6-983c-c013570128fc.png)

with console error: ```osmauth.js:2148 POST ht

[2016-08-22 16:30] bwitham commented on #314
I'm seeing a server out of memory error.  If this is consistently reproducible, would see if Dmitriy can diagnose.

[2016-08-23 13:20] sisskind commented on #643
Possible solution:  change to arrows?

[2016-08-23 18:56] sisskind opened #647 "Cannot remove added field to feature"
When a new field is added to a feature, you are unable to delete it (no trash icon appears).

![image](https://cloud.githubusercontent.com/assets/6191659/17905609/9fc4f3b0-6941-11e6-9f6c-f74d84ea0d26.png)

[2016-08-23 18:59] sisskind opened #648 "Modified Icon changes all fields/edits"
Modified icon on new/existing field in feature resets all fields/tags to original setting as opposed to just that one field.  Either change reset to one icon for entire feature, or have each individual icon reset that specific field.

[2016-08-24 10:55] briandaviddavidson commented on #617
Customer has decided to leave this as is. Closing this ticket.

[2016-08-24 10:55] #617 closed

[2016-08-24 17:54] jcp2236 commented on #619
Pushed commit for fix, passes local cuc test.

[2016-08-24 18:56] jcp2236 commented on #619
Jenkins cuc test causing issues in #649. Anyone have any tips? This is my first time running into the issue.

[2016-08-24 18:59] brianhatchl commented on #619
Try to run the failing test locally.  In this case it's osm_tds_switcher.feature.  If that succeeds it could be an intermittent false positive and we can ask jenkins to retry.

[2016-08-24 20:27] sisskind opened #651 "Add mocha test for hoot/view/utilities/About.js"

[2016-08-24 20:28] sisskind opened #652 "Add mocha tests for hoot/view/utilities"

[2016-08-24 20:28] sisskind opened #653 "Add mocha test for hoot/view/utilities/BasemapDataset.js"

[2016-08-24 20:28] sisskind opened #654 "Add mocha test for hoot/view/utilities/Dataset.js"

[2016-08-24 20:28] sisskind opened #655 "Add mocha test for hoot/view/utilities/ErrorLog.js"

[2016-08-24 20:28] sisskind opened #656 "Add mocha test for hoot/view/utilities/Reports.js"

[2016-08-24 20:28] sisskind opened #657 "Add mocha test for hoot/view/utilities/ReviewBookmarkNotes.js"

[2016-08-24 20:28] sisskind opened #658 "Add mocha test for hoot/view/utilities/ReviewBookmarks.js"

[2016-08-24 20:29] sisskind opened #659 "Add mocha test for hoot/view/utilities/Translation.js"

[2016-08-24 20:29] sisskind opened #660 "Add mocha test for hoot/view/utilities/Utilities.js"

[2016-08-24 20:29] sisskind opened #661 "Add mocha test for hoot/view/utilities/WfsDataset.js"

[2016-08-24 20:34] sisskind commented on #651
Also add/update mocha test for hoot/view/VersionInfo.js

[2016-08-24 20:34] sisskind opened #662 "Remove demo.js"
No longer in use and should be deprecated.

[2016-08-24 20:37] sisskind opened #663 "Add mocha tests for hoot/control"
- ~~Conflate.js~~
- ~~Conflicts.js~~
- ~~Control.js~~
- ~~Export.js~~
- ~~Import.js~~
- ~~View.js~~
- ~~translation_assistant.js~~

[2016-08-24 20:39] sisskind opened #664 "Add mocha tests for hoot/control/utilities"
- BasemapDataset.js
- BulkImportDataset.js
- BulkModifyDataset.js
- ClipDataset.js
- ExportDataset.js
- Filter.js
- Folder.js
- ImportDataset.js
- ModifyDataset.js
- Reports.js
- Translation.js
- Validation.js
- WfsDataset.js

[2016-08-24 20:40] sisskind opened #665 "Add mocha tests for hoot/model"
The deliverable should be to identify gaps in cucumber tests and fill with mocha tests where applicable.

- ~~BasemapDatset.js~~
- Conflate.js
- Conflicts.js
- Export.js
- ~~Folders.js~~
- Import.js
- Layers.js
- rest.js

[2016-08-24 20:40] sisskind opened #666 "Add mocha tests for hoot/ui"
- FormFactory.js
- HootFormBase.js
- HootFormReviewNote.js

[2016-08-24 20:45] #651 closed

[2016-08-24 20:45] #652 closed

[2016-08-24 20:45] #653 closed

[2016-08-24 20:45] #654 closed

[2016-08-24 20:45] #655 closed

[2016-08-24 20:45] #656 closed

[2016-08-24 20:45] #657 closed

[2016-08-24 20:45] #658 closed

[2016-08-24 20:45] #659 closed

[2016-08-24 20:45] #660 closed

[2016-08-24 20:45] #661 closed

[2016-08-24 20:47] sisskind opened #667 "Add mocha tests for hoot/view/utilities"
- About.js
- BasemapDataset.js
- Dataset.js
- ErrorLog.js
- Reports.js
- ReviewBookmarkNotes.js
- ReviewBookmarks.js
- Translation.js
- Utilities.js
- WfsDataset.js

[2016-08-25 12:01] #662 closed

[2016-08-25 12:43] sisskind opened #669 "Create an exemplar for defining a TDS translation using Translation Assistant, update documentation"
Ideally this would use a non-OSM multi-layer dataset combining roads and buildings into a single osm source.
It would also demonstrate the different kinds of mappings supported by TA:
- one-to-one
- one-to-many
- many-to-one

[2016-08-25 16:12] treycaldwell commented on #475
@brianhatchl did I need to leave this open?

[2016-08-25 16:15] brianhatchl commented on #475
Yeah, I think we want @kweint to validate these PRs after they are merged.

[2016-08-26 12:51] bwitham opened #671 "During building conflation user not seeing data at the zoom levels they expect to see it"
See https://github.com/DigitalGlobe/VGI-team-repo/issues/207

This task has no dependencies.

[2016-08-26 12:53] bwitham opened #672 "UI should explicitly show overlap (or lack thereof) between input datasets and warn if there is none"
See https://github.com/DigitalGlobe/VGI-team-repo/issues/207

[2016-08-29 18:15] curranMapper opened #673 "Add data button bug"
Select "Add dataset", select "data type", select "import data", the button that is a folder on aws isn't there.

[2016-08-30 14:44] sisskind commented on #502
@bwitham can UI portion be worked on, or is there still some work required on back end?

[2016-08-30 14:46] bwitham commented on #502
This may end up being obsoleted by the tasking manager integration work being discussed today...not sure yet.

[2016-08-30 14:47] sisskind commented on #316
@treycaldwell Let's coordinate to add instructions to documentation so we can close this out

[2016-08-30 16:03] sisskind opened #674 "Right clicking in the sidebar gives zoom to layer button"
The zoom to layer context menu is appearing in the parameters/options/statistics area as opposed to only on the map.  This should not happen!

![image](https://cloud.githubusercontent.com/assets/6191659/18096841/a4463bb6-6ea9-11e6-9e1b-52d1de4c83a0.png)

[2016-08-30 16:05] sisskind opened #675 "Empty Blue Feature on Initial Load"
So "frequently" when I load up my conflated dataset into review mode, the blue feature is empty. It's not something I can recreate on demand.

![image](https://cloud.githubusercontent.com/assets/6191659/18096937/f3098a14-6ea9-11e6-8f43-f7b33eeb8ee9.png)

![image](https://cloud.githubusercontent.com/assets/6191659/18096941/f6bd13ba-6ea9-11e6-96d9-18f0de260413.png)

![image](https://cloud.githubuser

[2016-08-30 16:06] sisskind commented on #675
It is possible that the blue feature is not properly loading in review mode, but then does when the bookmark is loaded.

[2016-08-30 16:28] sisskind opened #676 "When sidebar is expanded, 2 fields are too long in stats"
When the sidebar is expanded, some fields in the statistics table are too long.  They should either be wrapped or use an ellipsis.  See below for example:

![image](https://cloud.githubusercontent.com/assets/6191659/18097758/4964743e-6ead-11e6-8abb-f7071b2cee5b.png)

[2016-08-30 16:30] sisskind opened #677 "Can't save files with the same name even if they're in a different folder"
This error occurs when trying to save a layer with the same name in a different folder:

```8/22/2016, 12:59:37 PM: A layer already exists with this name. Please remove the current layer or select a new name for this layer.```

Hootenanny should allow for datasets to have the same name if they are saved in a different folder.

[2016-08-30 16:30] sisskind commented on #677
Currently blocked by #578

[2016-08-30 17:21] briandaviddavidson commented on #676
So the text should always fit inside the text area, yes? Just want to make sure I have that right.

[2016-08-30 18:15] briandaviddavidson commented on #673
@sisskind Do you know what the IDs are for all the various icons? Is there a master list somewhere?

[2016-08-30 18:18] sisskind commented on #673
Can get to them through inkscape (by looking at the object properties) or take a look at id-sprite.json.  Let me know if you can't find what you are looking for.

[2016-08-30 19:12] bwitham commented on #502
I think this can be considered OBE, given work on a tasking manager integration prototype.

[2016-08-30 19:12] #502 closed

[2016-08-30 19:13] bwitham commented on #527
Likely OBE given tasking manager integration prototype.

[2016-08-30 19:17] sisskind commented on #560
It appears that it is the line-shadow that is lagging, not the line-stroke.

[2016-08-31 13:23] bwitham opened #678 "When launching hoot iD from Tasking Manager obtain and display user credentials"
When a user uses HOT, they must authenticate first through ME's OAuth.  We want that info to be propagate into the hoot iD app when its launched from HOT and be prominently displayed.

This task depends on ngageoint/hootenanny-ui#679

[2016-08-31 13:23] bwitham opened #679 "Customize Tasking Manager to launch hoot iD"
The edit dropdown shown in HOT when you are starting your editing task should launch hoot's iD if you are working on a "conflation campaign".

ngageoint/hootenanny-ui#678, ngageoint/hootenanny-ui#684, ngageoint/hootenanny-ui#680, ngageoint/hootenanny-ui#683 are dependent on this task.

[2016-08-31 13:24] bwitham opened #680 "Display Tasking Manager overlays and ME/hoot data after launching hoot iD"
When using ME with HOT, the overlay info gets passed in as json (?) in a url from HOT.  We need to make the same thing work with hoot's iD.

This task depends on ngageoint/hootenanny-ui#679

[2016-08-31 13:28] bwitham opened #681 "Pass user id to web service on HOT task data save"

[2016-08-31 13:29] bwitham opened #682 "Add explicit, intuitive error handling if a user gets conflicts on a HOT task data save into ME"
iD editor has this capability built in, but its assuming you are using iD to write the XML changesets.  The current integration design has hoot core writing the xml changeset directly back into ME, so if the core encounters a conflict on save then it needs to be made obvious to the user.  At that point, then the user will see the data modified by another user and have the option to make further ed

[2016-08-31 13:35] bwitham opened #683 "Call web service which invokes core reading of OSM API DB data from ME when a hoot HOT task is launched"
Depends on ngageoint/hootenanny-ui#679

related to https://github.com/ngageoint/hootenanny/issues/1016

[2016-08-31 13:36] bwitham opened #684 "Propagate user id to services on HOT task data save"
By passing the user id into the web services, which will then pass it into the core, we'll be able to keep track of which user saves the conflated data changeset back into MapEdit.

This task is dependent on ngageoint/hootenanny-ui#679 , ngageoint/hootenanny#869 , and ngageoint/hootenanny#1018.

[2016-08-31 13:43] bwitham commented on #472
OBE re: hot tm integration prototype

[2016-08-31 13:43] #472 closed

[2016-08-31 20:24] sisskind opened #686 "Double-click sidebar is not working"
![image](https://cloud.githubusercontent.com/assets/6191659/18144765/48c2c780-6f96-11e6-8f3b-984c4a173e67.png)

When double-clicking the sidebar, it is setting the sidebar under the toolbar.  When you then slide, it resets itself.  Double-clicking the sidebar edge should set sidebar to the smallest possible size (initial).

[2016-09-01 13:25] briandaviddavidson commented on #686
Should be fixed and good to go. PR has been created: https://github.com/ngageoint/hootenanny-ui/pull/687

[2016-09-01 18:43] sisskind opened #690 "Remove WFS from UI"
Since WFS functionality is not being used or maintained currently, remove the WFS option from the manage tab and the WFS option for export.  Once WFS is requested again, or when time allows, fix in the services tier then provide functionality through UI.

[2016-09-01 19:12] briandaviddavidson commented on #673
Got the folder icon showing. PR created: https://github.com/ngageoint/hootenanny-ui/pull/691

@curranMapper When this gets merged in, can you test it on AWS to make sure it's rendering properly?

[2016-09-01 19:21] briandaviddavidson commented on #605
#606 has fixed this issue. Going to close this ticket.

[2016-09-01 19:21] #605 closed

[2016-09-01 19:31] briandaviddavidson commented on #307
This needs another look. When trying to drag the box, the map moves instead.

[2016-09-01 19:33] #645 closed

[2016-09-01 19:33] #639 closed

[2016-09-01 19:40] curranMapper commented on #673
Will do, thanks Brian!

[2016-09-01 23:24] sisskind commented on #307
@briandaviddavidson are you clicking once to start drawing box, then clicking a second time to complete?

[2016-09-02 10:33] briandaviddavidson commented on #307
No, I was clicking and dragging. I will try that and see if it works.

[2016-09-02 11:09] briandaviddavidson commented on #307
On click, then drag, the bounding box works with no offset when the first point is added.

[2016-09-02 11:10] #307 closed

[2016-09-02 14:10] briandaviddavidson commented on #676
The lines now wrap when the sidebar is expanded and shrunk. PR created: https://github.com/ngageoint/hootenanny-ui/pull/692

[2016-09-02 15:18] sisskind opened #693 "Create cucumber test to ensure highlights appear"
For both review mode and new edits.

[2016-09-02 17:43] jcp2236 commented on #676
Looks good, text wraps when sidebar is expanded. Should we close?

[2016-09-02 19:26] sisskind opened #694 "Do not allow conflation job if outstanding edits exist"
_I believe this should be the case, but please sound the alarms if I am wrong._

Hootenanny should prevent a conflation job from occurring within the UI if there are outstanding edits that have not been saved.  This is similar to preventing a user from moving on from a review if edits exist while in review mode.

CC @brianhatchl @mattjdnv @bwitham

[2016-09-02 21:36] brianhatchl commented on #694
Sounds like correct desired behavior to me.

[2016-09-06 20:13] curranMapper commented on #602
The user icon (upper right corner, referenced in first comment of ticket) is displayed and functional to user.

![screenshot from 2016-09-06 16 10 07](https://cloud.githubusercontent.com/assets/15927720/18289199/6c5bf102-744c-11e6-9cda-8e543ed75322.png)

[2016-09-06 20:32] #690 closed

[2016-09-07 14:45] sisskind commented on #665
Before any new tests added:

- 13.68% statements covered
- 1.85% branches covered
- 5.83% functions covered
- 14.08% lines covered

[2016-09-07 18:51] sisskind commented on #665
@jchoi1267 do you remember anything about this?

[2016-09-08 14:29] bwitham commented on #520
sorry, didn't mean to close this.

[2016-09-08 18:14] sisskind commented on #684
Related services task: ngageoint/hootenanny#1018

[2016-09-08 18:15] sisskind commented on #681
Related services task: ngageoint/hootenanny#1018

[2016-09-09 13:57] bwitham commented on #681
duplicated of #684

[2016-09-09 13:57] #681 closed

[2016-09-09 18:55] sisskind opened #698 "Add or edit cucumber test to include changing visibility of layer(s)"

[2016-09-09 18:59] sisskind opened #699 "Add or edit cucumber test for failing conflation scenario"

[2016-09-12 13:09] briandaviddavidson commented on #647
@sisskind It's to be default iD behavior that the field persists when the trash icon is clicked. Should we modify this?

[2016-09-12 14:18] treycaldwell commented on #316
Spoke with @qwyjibojones about adding a customization or post-install section to the install doc.

[2016-09-12 16:18] curranMapper commented on #570
Unable to copy & paste tags prior to conflation or during conflict resolution process.

[2016-09-12 16:37] brianhatchl commented on #570
Both of those buttons are paste actions.  To enable them you have to select a feature and Ctrl+C or use the raw tag editor to select a subset of tags to copy.  Then select the destination feature(s) and the paste attributes buttons should enable.

Could that be the problem?

[2016-09-12 17:54] curranMapper commented on #570
@brianhatchl Followed those steps to verify was unable to perform paste append or paste overwrite option.

[2016-09-12 18:30] brianhatchl commented on #570
Ok, I tried it and the buttons do enable, but when clicked the tags in the sidebar are not updating.  (The change tags action does seem to be applied as the Undo button becomes enabled and there is a Change Tags step in the edit history.  I'll look into it.

[2016-09-12 18:31] brianhatchl opened #700 "Paste tags buttons not updating UI tag fields in sidebar"
Ok, I tried it and the buttons do enable, but when clicked the tags in the sidebar are not updating.  (The change tags action does seem to be applied as the Undo button becomes enabled and there is a Change Tags step in the edit history.  I'll look into it.

[2016-09-12 18:32] brianhatchl commented on #570
https://github.com/ngageoint/hootenanny-ui/issues/700

[2016-09-13 13:58] brianhatchl opened #702 "Get translation server port from HootConfig.json instead of service call"
In order to configure clients of the translation server to use other url routes, change the UI code to get the port (or path) from HootConfig.json rather than querying from hoot-services.

[2016-09-13 17:05] #570 closed

[2016-09-13 17:06] #314 closed

[2016-09-13 17:09] sisskind commented on #643
Also for Validation!

[2016-09-13 17:17] sisskind commented on #643
Or...are they not doing what they should be doing?

[2016-09-13 19:45] brianhatchl opened #708 "Paste Attributes with translated tags copied will misbehave"
I think copied tags will need to be translated to OSM for proper behavior

[2016-09-14 12:33] sisskind commented on #648
This appears to be default iD behavior.

[2016-09-14 12:33] #648 closed

[2016-09-14 12:45] sisskind opened #709 "Add or edit cucumber test for Loading Missing Feature Dependencies"
Found in hoot/model/Conflicts.js, conflicts.loadMissingFeatureDependencies.

Test should include zooming out during a review, and to operate on the dependencies during delete

[2016-09-14 14:19] #602 closed

[2016-09-14 14:24] sisskind commented on #583
@RobMaps @kweint Can you take a second look at this one?

[2016-09-14 14:24] #109 closed

[2016-09-14 14:41] sisskind opened #710 "Separate dependency between file type and translation on import"
- Determine how the UI decides what translation is available to each schema
- Refactor code to allow the user to select any translation for any schema (i.e. OSM and TDS)
- Test all potential outputs and review data to ensure that data is actually exported

CC: @mattjdnv

[2016-09-14 14:56] HokieHI commented on #196
Is this about getting the date in this view?

Thanks!
Berkley

![image](https://cloud.githubusercontent.com/assets/20308614/18517305/d529a1ca-7a69-11e6-8215-1ac9ee670e5a.png)

[2016-09-14 16:03] sisskind commented on #196
@HokieHI No, would be specific for Hootenanny

[2016-09-14 16:24] sisskind opened #711 "Cucumber test for Version Info"
hoot/view/VersionInfo.js

Need to test:

- Opening Version Info Popup Window
- Downloading User Guide from Version Info window

[2016-09-15 14:35] curranMapper commented on #624
Went through reviews, all conflicts zoomed to extent that included both features in conflict

[2016-09-15 14:35] #624 closed

[2016-09-15 14:38] brianhatchl commented on #196
Is this for Bing or for EGD plugin?

[2016-09-15 14:43] briandaviddavidson commented on #196
I believe @sisskind said it was for the EGD plugin

[2016-09-15 14:49] kweint commented on #583
@sisskind I just tested the issue myself and had the same results.

[2016-09-15 15:07] sisskind commented on #583
@kweint thanks -- looking into now

[2016-09-15 15:08] curranMapper commented on #539
@sisskind Is this the message that should be draggable?  Thanks

![image](https://cloud.githubusercontent.com/assets/15927720/18554989/215cd0ce-7b34-11e6-92d2-7b1530cfb084.png)

[2016-09-15 15:09] brianhatchl commented on #196
We have code that does this for the image validation workflow.

Try it out (image validation) and then see https://github.com/ngageoint/hootenanny-ui/blob/master/js/hoot/control/Validation.js#L347-L348

[2016-09-15 15:25] curranMapper commented on #520
Hoot session does begin with snapping feature disabled.  However, once I enable it, I am not seeing any difference in snapping behavior when editing.  @kweint Can you take a look and report if you are seeing same thing?  Thanks

[2016-09-15 15:32] curranMapper commented on #686
Works beautifully.  Good to close. @sisskind

[2016-09-15 15:35] curranMapper commented on #676
agree with @jcp2236

[2016-09-15 15:35] #676 closed

[2016-09-15 16:00] curranMapper commented on #647
Works great, think it is ready to be closed.